<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:fragment="main-fragment( bootStrap4 )">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Component management</title>

    <!-- partial:layouts/otherStaticResources.html -->
    <th:block id="header" th:replace="~{static/header}"></th:block>
    
  </head>
  <body>
    <!-- NAVBAR start -->
    <!-- partial:layouts/otherStaticResources.html -->
    <th:block id="navbar" th:replace="~{static/navbar}"></th:block>
    

    <!-- Bootstrap CDN javascript -->
    <!-- partial:layouts/otherStaticResources.html -->
    <th:block id="footer" th:replace="~{static/footer}"></th:block>
    
  </body>
</html>
