<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Add new part</title>

    <!-- partial:layouts/otherStaticResources.html -->
    <th:block id="header" th:replace="~{static/header}"></th:block>

  </head>
  <body>
    <!-- NAVBAR start -->
    <!-- partial:layouts/otherStaticResources.html -->
    <th:block id="navbar" th:replace="~{static/navbar}"></th:block>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="row">
          <form action="/add-part" method="POST">
            <label for="partNumber">Part number</label>
            <input type="text" id="partNumber" name="partNumber" />
            <label for="partDesc">Part description</label>
            <input type="text" id="partDesc" name="partDesc" />
            <input type="submit" class="btn btn-info" />
          </form>
        </div>
      </div>
      <div class="col-md-3">
        <table class="table">
          <thead>
            <tr>
              <th>Part Number</th>
              <th>Part Detail</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="part:${allPartList}">
              <td th:text="${part.partNumber}" />
              <td th:text="${part.partDesc}" />
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Bootstrap CDN javascript -->
    <!-- partial:layouts/otherStaticResources.html -->
    <th:block id="footer" th:replace="~{static/footer}"></th:block>
  </body>
</html>
