<th:block th:fragment="footer">

	<!-- partial:partials/_footer.html -->
	<footer class="footer">
		<div class="w-100 clearfix">
			<span hidden>This is footer </span>
		</div>
	</footer>
	<!-- partial -->

	<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
	<script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
	<script th:src="@{/js/template.js}"></script>
	
	<script th:src="@{/js/tooltips.js}"></script>
	<script th:src="@{/js/popover.js}"></script>
		
	<!-- copy to your page 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    -->
</th:block>
