<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	th:fragment="main-fragment( title , mainCss , customCss , navbar , mainContent , footer , customJS )">

<head>

<!-- Title of page -->
<title th:replace="${title}">QAMS project</title>

<!-- css source files -->
<th:block th:replace="${mainCss} ?: ~{}"></th:block>

<!-- Custom css source files -->
<th:block th:insert="${customCss} ?: ~{}"></th:block>

</head>

<body>

	<div class="container-scroller">

		<!-- Navbar source files (header and menu bar)-->
		<th:block th:replace="${navbar} ?: ~{}"></th:block>

		<!-- Content of page -->
		<th:block th:insert="${mainContent} ?: ~{}"> Main content </th:block>

	</div>

	<!-- Javascript source files -->
	<th:block th:replace="${footer} ?: ~{}"> Footer </th:block>

	<!-- Custom Javascript source files -->
	<th:block th:insert="${customJS} ?: ~{}"> Custom Javascript source files </th:block>

</body>

</html>