<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" th:replace="
                ~{layouts/main-layout :: main-fragment(
                                                      ~{:: title},
                                                      ~{:: #css-page},
                                                      ~{:: #custom-css-page},
                                                      ~{:: #navbar},
                                                      ~{:: #main-content},  
                                                      ~{:: #footer},
                                                      ~{:: #custom-js}
                                                     )}">

<head>

	<title>Biểu mẫu ép cột</title>

	<!-- partial:layouts/otherStaticResources.html -->
	<th:block id="css-page" th:replace="~{layouts/mainCss}"></th:block>

	<!-- Custom CSS for this page in here -->
	<th:block id="custom-css-page">

		<style>
			.content-wrapper {
				max-width: 95%;
			}

			.table-responsive {
				overflow-x: hidden;
			}

			.badge {
				width: 90px;
			}
		</style>

	</th:block>
	<!-- End Custom CSS  -->

</head>

<body onload="setDate()">
	<div class="container-scroller">

		<!-- partial:layouts/navbar.html -->
		<th:block id="navbar" th:replace="layouts/navbar">
		</th:block>

		<th:block id="main-content">
			<!-- Copy From start to here-->




			<!-- container start -->
			<div class="container-fluid page-body-wrapper">
				<div class="main-panel">
					<div class="content-wrapper">

						<!-- card start -->
						<div class="card">
							<div class="card-body">
								<form action="#" th:action="@{/pressing-monitor/create}" id="inputForm" method="post"
									th:object=${pressingMonitor}>
									<h4 class="card-title">NHẬP THÔNG SỐ ÉP CỐT</h4>
									<fieldset class="border rounded p-3 my-2">
										<legend>Thông tin cơ bản</legend>

										<div class="form-row">
											<div class="form-group col">
												<label for="typeProduct">Loại sản phẩm</label> <select
													class="form-control" id="typeProduct" th:field="*{typeProduct.id}">
													<!-- Show all product type through attribute listTypeProduct -->
													<option th:each="tp : ${listTypeProduct}" th:value="${tp.id}"
														th:utext="${tp.typeProductName}">
													</option>
												</select>
											</div>

											<div class="form-group col">
												<label for="dateIn">Ngày nhập</label> <input type="date"
													class="form-control" id="dateIn" placeholder="">
											</div>

											<div class="form-group col">
												<label for="machineId">Máy</label> <select class="form-control"
													id="machineId" th:field="*{machine.id}">
													<option th:each="mc : ${listMachines}" th:value="${mc.id}"
														th:text="${mc.machineName}"></option>
												</select>
											</div>

										</div>
									</fieldset>

									<fieldset class="border rounded p-3 my-2">
										<legend>Thông tin chi tiết</legend>

										<!-- Hidden input to save date input -->
										<input type="hidden" id="saveDate" th:field="*{inputTime}">
										<input type="hidden" id="id" th:field="*{id}" value='0'>

										<div class="row">
											<div class="form-group col">
												<label for="supplier-lot">Tên NCC / Mã lô NL</label>
												<select class="form-control" id="supplier-lot"
													th:field="*{ingredientBatch.id}">
													<option th:each="ib : ${listIngerdientBatch}" th:value="${ib.id}"
														th:text="${ib.supplier.supplierName + ' / ' + ib.ingredientBatchCode}">
														NCC001/LOT001</option>
												</select>
											</div>
											<div class="col-1"></div>
											<div class="form-group col">
												<label for="inputTime">Giờ nhập</label> <input type="time"
													class="form-control" id="inputTime" step="1200">
											</div>
										</div>

										<div class="row">
											<div class="form-group col">
												<label for="weight">Khối lượng</label>
												<input type="number" class="form-control" id="weight"
													th:field="*{weight}">
											</div>
											<div class="col-1"></div>
											<div class="form-group col">
												<label for="netStatus">
													Tình trạng lưới cốt trước khi ép
												</label>
												<select class="form-control" id="netStatus"
													th:field="*{netStatusBeforePress}">
													<option value="true">Đạt</option>
													<option value="false" selected>Không đạt</option>
												</select>
											</div>
										</div>

										<div class="row">
											<div class="form-group col">
												<label for="timePressure">Thời gian ép cốt</label> <input type="number"
													class="form-control" id="timePressure" th:field="*{pressingTime}">
											</div>
											<div class="col-1"></div>
											<div class="form-group col">
												<label for="pressure">Áp suất (< 50)</label>
												<select class="form-control" id="pressure"
													th:field="*{pressureCondition}">
													<option value="true">Đạt</option>
													<option value="false" selected>Không đạt</option>
												</select>
											</div>
										</div>

										<div class="row">
											<div class="form-group col">
												<label for="weightCoconutMilk">Khối lượng cốt (Kg)</label> <input
													type="number" class="form-control" id="weightCoconutMilk"
													th:field="*{weightCoconutMilk}" value="300">
											</div>
											<div class="col-1"></div>
											<div class="form-group col">
												<label for="weightResidue">Khối lượng xác (Kg)</label> <input
													type="number" class="form-control" th:field="*{weightResidue}"
													id="weightResidue" value="300">
											</div>
										</div>

										<div class="row">
											<div class="form-group col">
												<label for="note">Ghi chú</label>
												<textarea class="form-control" id="note" rows="5"
													th:field="*{note}"></textarea>
											</div>
										</div>

									</fieldset>

									<div class="row p-3 float-right">
										<button type="button"
											class="btn btn-primary ml-3"
											th:attr="onclick=|resetData()|">
											<i class="icon-refresh"></i> Làm mới
										</button>
										<button type="submit"
											id="submitButton"
											class="btn btn-warning ml-3">
											Thêm mới
										</button>
									</div>

								</form>
							</div>
						</div>

						<!-- start table card -->
						<div class="card mt-3">
							<div class="card-body">
								<div class="card-title">
									<div class="row">
										<div class="col-md-6" style="font-size: xx-large;">THEO
											DÕI ÉP CỐT</div>
									</div>
								</div>
								<div class="row">
									<div class="table-responsive">
										<div class="row">
											<div class="col-sm-12">
												<table class="table table-striped text-center table-bordered">
													<thead>
														<tr role="row">
															<th scope="col">Mã lô NL</th>
															<th scope="col">Giờ nhập nguyên liệu</th>
															<th scope="col">Khối lượng <br> (Kg)
															</th>
															<th scope="col">Tình trạng lưới lọc <br> trước
																khi ép
															</th>
															<th scope="col">Áp suất <br> (< 50) </th>
															<th>Khối lượng cốt <br> (Kg)
															</th>
															<th scope="col">Xác</th>
															<th scope="col">Ghi chú</th>
															<th scope="col">Hành động</th>
														</tr>
													</thead>
													<tbody>

														<tr
															th:if="${pressingMornitors == null || pressingMornitors.isEmpty()}">
															<td colspan="9">NO DATA</td>
														</tr>

														<th:block
															th:unless="${pressingMornitors == null || pressingMornitors.isEmpty()}">

															<tr th:each="pm : ${pressingMornitors}">
																<td th:text="${pm.ingredientBatch.ingredientBatchCode}">
																</td>
																<td th:text="${pm.inputTime.toLocalTime().toString()}">
																</td>
																<td th:text="${pm.weight}"></td>
																<td>
																	<div th:if="${pm.netStatusBeforePress}"
																		class="badge badge-success badge-pill">Đạt</div>
																	<div th:unless="${pm.netStatusBeforePress}"
																		class="badge badge-danger badge-pill">Không đạt
																	</div>
																</td>
																<td>
																	<div th:if="${pm.pressureCondition}"
																		class="badge badge-success badge-pill">Đạt</div>
																	<div th:unless="${pm.pressureCondition}"
																		class="badge badge-danger badge-pill">Không đạt
																	</div>
																</td>
																<td th:text="${pm.weightCoconutMilk}"></td>
																<td th:text="${pm.weightResidue}"></td>
																<td th:text="${pm.note}"></td>
																<td>
																	<button class="btn btn-info"
																		th:attr="onclick=|fetchApi('${pm.id}')|">
																		Chi tiết
																	</button>
																	<button class="btn btn-danger"
																		th:attr="onclick=|deletePressingMonitor('${pm.id}')|">
																		Delete
																	</button>
																</td>
															</tr>

														</th:block>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end table card -->
					</div>
				</div>
				<!-- end input card -->
				<!-- start table card -->
				<!-- start footer -->
				<footer class="footer">
					<div class="w-100 clearfix">
						<span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright
							© 2018 <a href="http://www.urbanui.com/" target="_blank">Urbanui</a>.
							All rights reserved.
						</span> <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted
							&amp; made with <i class="icon-heart text-danger"></i>
						</span>
					</div>
				</footer>
				<!-- end footer -->

			</div>
			<!-- main-panel ends -->



			<!-- Copy from here to end-->
		</th:block>
	</div>

	<!-- partial:layouts/footer.html -->
	<th:block id="footer" th:replace="layouts/footer">
	</th:block>

	<!-- Custom JavaScript for this page in here -->
	<th:block id="custom-js">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>

		<script th:src="@{/js/data-table.js}"></script>
		<script th:src="@{/js/dashboard.js}"></script>
		<script th:src="@{/js/todolist.js}"></script>

		<!-- custom javascript -->
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
		<script>

			function setDate(date) {
				let d = new Date(date)
				document.getElementById('dateIn').valueAsDate = d;
				let hours = d.getHours() < 10 ? "0" + d.getHours()
					: d.getHours();
				let minu = d.getMinutes() < 10 ? "0" + d.getMinutes()
					: d.getMinutes();
				$('#inputTime').val(hours + ":" + minu);
			}

			$(document).ready(() => {
				setDate(new Date().getTime())
			})

			$("#dateIn, #inputTime").change(function () {
				let a = document.getElementById("dateIn").valueAsDate.getTime();
				let b = document.getElementById("inputTime").valueAsDate.getTime();
				$("#saveDate").val(a + b);
			});


			function fetchApi(id) {
				$.get(`pressing-monitor/update?id=${id}`, function (data) {
					setValuetoInput(data);
				});
			}

			function setValuetoInput(data) {
				$('#supplier-lot').val(data.ingredientBatch.id);
				$('#typeProduct').val(data.typeProduct.id);
				$('#machineId').val(data.machine.id);
				$('#weight').val(data.weight);
				$('#netStatus').val(`${data.netStatusBeforePress}`);
				$('#timePressure').val(data.pressingTime);
				$('#pressure').val(`${data.pressureCondition}`);
				$('#weightCoconutMilk').val(data.weightCoconutMilk);
				$('#weightResidue').val(data.weightResidue);
				$('#note').val(data.note);

				// Set value to hidden input
				$('#id').val(data.id);
				$('#saveDate').val(data.inputTime);

				//
				$('#inputForm').attr('action', '/QAMS/pressing-monitor/update');
				$('#submitButton').text('Cập nhật');
				setDate(data.inputTime);

				// Auto scrool
				$('body,html').animate({ scrollTop: 15 }, 800);

			}

			function resetData() {
				$('#weight').val('');
				$('#netStatus').val(`false`);
				$('#timePressure').val('');
				$('#pressure').val(`false`);
				$('#weightCoconutMilk').val('');
				$('#weightResidue').val('');
				$('#note').val('');
				$('#id').val(0);
				let date = new Date().getTime();
				$('#saveDate').val(date);
				setDate(date);

				$('#submitButton').text('Thêm mới');

				$('#inputForm').attr('action', '/QAMS/pressing-monitor/create');

			}



			function deletePressingMonitor(id) {
				const swalWithBootstrapButtons = Swal.mixin({
					customClass: {
						confirmButton: 'btn btn-success',
						cancelButton: 'btn btn-danger'
					},
					buttonsStyling: true
				})

				swalWithBootstrapButtons.fire({
					title: 'Are you sure?',
					text: "Xóa lần ép cốt",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Yes, delete it!',
					cancelButtonText: 'No, cancel!',
					reverseButtons: true
				}).then((result) => {
					if (result.isConfirmed) {
						window.location.href = `./pressing-monitor/delete?id=${id}`; //one level up
						// swalWithBootstrapButtons.fire(
						// 'Deleted!',
						// 'Your file has been deleted.',
						// 'success'
						// )
					} else if (
						/* Read more about handling dismissals below */
						result.dismiss === Swal.DismissReason.cancel
					) {
						swalWithBootstrapButtons.fire(
							'Cancelled',
							'Bạn đã hủy hành động :)',
							'error'
						)
					}
				})
			}

		</script>

	</th:block>
	<!-- End Custom JavaScript  -->

</body>

</html>