<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" th:replace="
        ~{layouts/main-layout :: main-fragment(
                                              ~{:: title},
                                              ~{:: #css-page},
                                              ~{:: #custom-css-page},
                                              ~{:: #navbar},
                                              ~{:: #main-content},  
                                              ~{:: #footer},
                                              ~{:: #custom-js}
                                             )}">

<head>

<title>Hiển thị phiếu</title>

<!-- partial:layouts/otherStaticResources.html -->
<th:block id="css-page" th:replace="~{layouts/mainCss}"></th:block>

<!-- Custom CSS for this page in here -->
<th:block id="custom-css-page">
	<link 
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
		integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
		crossorigin="anonymous" />
	<style>
		nav.pagination-nav {
		    float: right;
		    margin: 20px auto;
		}
	</style>


</th:block>
<!-- End Custom CSS  -->

</head>

<body>
    <div class="container-scroller">

        <!-- partial:layouts/navbar.html -->
        <th:block id="navbar" th:replace="layouts/navbar"> </th:block>

        <th:block id="main-content">
            <!-- Copy From start to here-->

		<input type="hidden" id="stateValue" th:value="${state}">





      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="template-demo col-12 pl-0">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"> 
                    	<a th:href="@{/}">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                    	 <a th:text="#{checklist.url}"> Phiếu kiểm hàng</a>
                    </li>

                    <li class="breadcrumb-item active" aria-current="page" th:text="#{checklist.url.view}">Xem phiếu </li>
                  </ol>
                </nav>

              </div>

              <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-header bg-white pt-4">
                        <a th:attr="onclick=|goBack()|" class="btn btn-light float-left" id="back-btn" th:text="#{checklist.button.back}">Quay lại</a>
                      <button class="btn btn-primary float-right" id="config-btn" style="visibility: hidden;">Xuất Báo cáo</button>
                        <!-- data-toggle="modal" data-target="#modal-config" -->
                        
                      <p class="h3 text-center offset-md-1" th:text="#{checklist.view.title }">Danh sách phiếu kiểm hàng</p>
                    </div>
                  <div class="card-body">
                  <!--open Form  -->
                  <form th:action="@{/checklist/filter}" method="post"
										id="filterForm">
                    <div class="row">

                      <div class="col-md-12 col-xs-12">
                        <div class="row">
                          <div class="col-md-5 col-sm-12">
	                           <div class="form-group row mx-0">
	                             <label class="col-sm-4 col-form-label" th:text="#{checklist.table.typeOfProductLabel}">Loại thành phẩm</label>
	                             <div class="col-sm-8">
	                             <div th:switch="${typeProducts!=null and !typeProducts.empty}" th:remove="tag">
									<th:block th:case="false">
										<input class="form-control col-md-7 col-sm-8 "
											disabled>
										<span class="text-danger col-md-7 col-sm-8 " th:text="#{checklist.participant.lot.empty}"></span>
									</th:block>
									<th:block th:case="true">
										<select name="productType" class="form-control " id="typeProducts">
			                                 <option class="optionType"
			                                  th:each="type : ${typeProducts}" 
			                                  th:value="${type.id}"
			                                  th:utext="${type.typeProductName}"	
			                                  >
			                                 </option>
			                                 <option value="0" th:text="#{checklist.view.all}" selected></option>
	                               		</select>
									</th:block>
								</div>
	                               
	                             </div>
	                           </div>
	                         	<div class="form-group row mx-0">
	                             <label class="col-sm-4 col-form-label" th:text="#{checklist.info.dateCreate }">Ngày lập phiếu</label>
	                             <div class="col-sm-8">
	                               <input type="date" class="form-control" id="date" name="date">
	                             </div>
	                           </div>
	                         	<div class="form-group row mx-0">
	                             <label class="col-sm-4 col-form-label" th:text="#{checklist.view.numberOfRecord}">Số bản ghi</label>
	                             <div class="col-sm-8">
	                               <select name="size" class="form-control " id="sizeSelect">
	                                 <option class="optionShift" value="5" selected>5</option>
	                                 <option class="optionShift" value="10">10</option>
	                                 <option class="optionShift" value="20">20</option>
	                                 <option class="optionShift" value="50">50</option>
	
	                               </select>
	                             </div>
	                         </div>
	                       </div>
                          <div class="col-md-5 col-sm-12">
                             <div class="form-group row mx-0">
	                              <label class="col-sm-4 col-form-label" th:text="#{checklist.info.lotCode}">Mã lô hàng</label>
	                              <div class="col-sm-8">
	                             	<input type="hidden" id="all" th:value="#{checklist.view.all}">
	                                <select name="lot" class="form-control " id="productLots">
	                                  	
	                                  
	                                </select>
	                              </div>
	                            </div>
	                          <div class="form-group row mx-0">
	                              <label class="col-sm-4 col-form-label"  th:text="#{checklist.view.shift}" >Ca làm việc</label>
	                              <div class="col-sm-8">
	                                <select name="shift" class="form-control " id="selectShift">
	                                  <option class="optionShift" value="12:00:00-18:00:00">12h - 18h</option>
	                                  <option class="optionShift" value="06:00:00-12:00:00">6h - 12h</option>
	                                  <option class="optionShift" value="18:00:00-24:00:00">18h - 24h</option>
	                                  <option class="optionShift" value="00:00:00-23:59:59" selected th:text="#{checklist.view.all}"></option>
										
	                                </select>
	                              </div>
	                            </div>	                         
	                          <div class="form-group row mx-0">
	                              <label class="col-sm-4 col-form-label" th:text="#{checklist.table.statusLabel}">Tình trạng</label>
	                              <div class="col-sm-8">
	                                <select name="status" class="form-control " id="statusSelect">
	                                  <option class="optionStatus" value="Pending" checked th:text="#{checklist.view.status.item.pending }">Chờ duyệt</option>
	                                  <option class="optionStatus" value="Approved" th:text="#{checklist.view.status.item.approved}">Đã duyệt</option>
	                                </select>
	                              </div>
	                            </div>
	                          
                          </div>
                                                 
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="row">
                          <div class="col-sm-12 col-xs-6">
                          	
                            <button type="submit" class="btn btn-info float-right" name="addition" value="filter" th:text="#{checklist.view.button.filter}">Lọc kết quả</button>
                          </div>
                         
                        </div>

                      </div>
                    </div>
					
				
					<!--close Form  -->
                  </div>
                </div>
              </div>
			
              <div class="col-md-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                  	<div class="table-control">
                  		<div class=""></div>
                  		
             	    	<button 
	             	    	type="submit" 
	             	    	class="btn btn-primary float-right ml-1" 
	             	    	id="report-btn" th:text="#{checklist.view.button.report}" 
	             	    	name="addition" value="report"
	             	    	th:if="${!page.content.empty and page.content !=null}">
             	    	</button	>
             	    	<button type="button" class="btn btn-primary float-right " id="showHide-btn" th:text="#{checklist.view.button.columnView}" data-toggle="modal" data-target="#hideShowModal"></button>
             	    	<a class="btn btn-danger float-right mx-1" th:href="@{/checklist/create-check-list#create}" th:text="#{checklist.view.button.createCheckList}"></a>
                  		
                  	</div>
                    <div class="table-responsive">
                     
					<table class="table table-bordered"id="record-table">
							<thead>
								<tr>
									<th th:text="#{checklist.table.index }">#</th>
									<th th:text="#{checklist.table.hourLabel}">Giờ</th>
									<th th:text="#{checklist.table.typeOfProductLabel}">Loại sản phẩm</th>
									<th th:text="#{checklist.table.measurementLabel}">Thông số đo</th>

									<th th:text="#{checklist.table.quantitySatisfied}">SL TP đạt</th>
									<th th:text="#{checklist.table.quantityUnsatisfied}">SL TP không</th>
									<th th:text="#{checklist.table.quantityMix}">SL pha</th>
									<th th:text="#{checklist.table.remarkLabel}">Ghi chú</th>
									<th th:text="#{checklist.table.qcLabel}">QC</th>
									<th th:text="#{checklist.table.statusLabel}">Tình trạng</th>
									<!-- <th></th> -->
								</tr>
							</thead>
							<tbody>
								<th:block
									th:switch="${!page.content.empty and page.content !=null}" th:remove="tag">
									<th:block th:case="true">
										<!-- Element Of Checklist Loop --> 
										<tr th:each="check,state: ${page.content}">
											<td th:utext="${state.index+1}"></td>
											<td th:utext="${check.time}">12:00</td>
											<td th:utext="${check.lot.typeProduct.typeProductName}">Bột
												Dừa</td>
											<td>
												<div class="row">
													<div class="col-md-6 col-sm-12">
														<p>
															<b th:text="#{checklist.measurement.mosture }">  </b>&nbsp;<span th:utext="${check.moisture}"></span>
														</p>
														<p>
															<b th:text="#{checklist.measurement.ph}">  </b>&nbsp; <span th:utext="${check.ph}"></span>
														</p>
														<p>
															<b th:text="#{checklist.measurement.brix}"> </b>&nbsp; <span th:utext="${check.brix}"></span>
														</p>
													</div>
													<div class="col-md-6 col-sm-12 row">
														<p class="col-12 row">
															<b th:text="#{checklist.measurement.color}"> </b>&nbsp;
															<th:block th:switch="${check.color}"
																th:remove="tag">
																<span th:case="true" th:text="#{checklist.measurement.qualified}">Đạt</span>
																<span th:case="*" th:text="#{checklist.measurement.unqualified}" class="text-danger">Không đạt</span>
																<th:block>
														</p>
														<p class="col-12 row">
															<b th:text="#{checklist.measurement.taste}">  </b>&nbsp;
															<th:block th:switch="${check.taste}"
																th:remove="tag">
																<span th:case="true" th:text="#{checklist.measurement.qualified}">Đạt</span>
																<span th:case="*" th:text="#{checklist.measurement.unqualified}" class="text-danger">Không đạt</span>
															</th:block>
														</p>
														<p>
															<b th:text="#{checklist.measurement.impurity}">  </b>&nbsp; <span
																th:utext="${check.impurity}"></span>
														</p>
													</div>
												</div>

											</td>
											<td><span th:utext="${check.quantitySatisfied}"></span>
											</td>
											<td><span th:utext="${check.quantityUnsatisfied}"></span></td>
											<td><span th:utext="${check.quantityMix}"></span></td>
											<td><span th:utext="${check.remark}"></span></td>
											<td><span th:utext="${check.qc.employeeName}"></span></td>
											<td>
												<div th:switch="${check.status}">
													<p th:case="${T(com.dpm.utility.Status).Pending}"
														class=" text-warning text-center h4" data-toggle="tooltip" data-placement="top" title th:data-original-title="#{checklist.view.status.item.pending}">
														<i class="fas fa-eye-slash"></i>
														
													</p>
													<p th:case="${T(com.dpm.utility.Status).Approved}"
														class="text-primary text-center h4" data-toggle="tooltip" data-placement="top" title th:data-original-title="#{checklist.view.status.item.approved}">
														<i class="fas fa-eye"></i>
														
													</p>
													<p th:case="${T(com.dpm.utility.Status).Rejected}"
														class="text-danger text-center h4" data-toggle="tooltip" data-placement="top" title th:data-original-title="#{checklist.view.status.item.reject}">
														<i class="far fa-times-circle"></i>
												</div>

											</td>
											
										</tr>
										<!-- End Element Of Checklist Loop  -->
									</th:block>
									<th:block th:case="false">
										<tr>
											<td colspan=11 class="text-center" th:text="#{checklist.message.noRecord}"></td>
										</tr>
									</th:block>
								</th:block> 

							</tbody>
						</table>
						<!--pagination-div  -->
						<nav class="pagination-nav">
						  <ul class="pagination">
						  
						  	<th:block th:if="${page.hasPrevious()}">
						    	<li class="page-item" >
						    		<button type="submit" class="page-link" name="addition"  th:value="${page.number-1}">Previous</button>
						   	 	</li>
						    </th:block>
						   
						    <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}" th:if="${page.content!=null and !page.content.empty}">
						    	<li class="page-item active" th:if="${page.number == i}" >
						    		<button class="page-link" href="#">[[${i}+1]]</button>
						    	</li>
						   		 <li class="page-item" th:unless="${page.number == i}">
						   		 	<button type="submit" class="page-link"  name="addition" th:value="${i}">[[${i}+1]]</button>
						   		 </li>
						    </th:block>
						    
						    <th:block th:if="${page.hasNext()}">
							    <li class="page-item" >
 									<button type="submit" class="page-link" name="addition" th:value="${page.number+1}">Next</button>							    </li>
						    </th:block>
						  </ul>
						</nav>
						<!--pagination-div  -->
						
						
						
					</div>
                    </div>
                  </div>
                </div>
              </div>
				</form>
			<div th:if="${dto!=null}" th:remove="tag">
				<input type="hidden" id="typeCurrent" th:value="${dto.productType}">
				<input type="hidden" id="lotCurrent" th:value="${dto.lot}">
				<input type="hidden" id="dateCurrent" th:value="${dto.date}">
				<input type="hidden" id="shiftCurrent" th:value="${dto.shift}">
				<input type="hidden" id="statusCurrent" th:value="${dto.status}">
				<input type="hidden" id="sizeCurrent" th:value="${dto.size}">
			</div>
			

            </div>

          </div>
        </div>
        



	<!-- modal confirm delete  -->
      <div class="modal " tabindex="-1" role="dialog" id="modal-remove">
        <div class="modal-dialog  w-50" role="document">
          <div class="modal-content bg-white">         
            <div class="modal-body">
              <p class="h4">Bạn có chắc xóa </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Có</button>
              <button type="button" class="btn btn-light" data-dismiss="modal">Hủy</button>
            </div>
          </div>
        </div>
      </div>
	<!-- modal confirm delete  -->
	
	
	<!--modal hide show column table  -->
	<div class="modal fade" id="hideShowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:none">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" th:text="#{sieveDrying.text.viewConfig}"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">X</span>
                            </button>
                        </div>
                        <form class="cmxform" id="signupForm" action="" method="POST">
                            <div class="modal-body">
                                <!-- ROW 1 -->
                                <div class="form-group row">
                                    <!-- ROW 1 - COL 1 -->
                                    <div class="col-md-4 col-sm-6">
                                        <div class="row">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input name="chk-date" type="checkbox" class="form-check-input"
                                                        onclick="showhidetable(1)" checked th:utext="#{checklist.table.hourLabel}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ROW 1 - COL 2 -->
                                    <div class="col-md-4 col-sm-6">
                                        <div class="row">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" value=""
                                                        onclick="showhidetable(2)" checked  th:text="#{checklist.table.typeOfProductLabel}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ROW 1 - COL 3 -->
                                    <div class="col-md-4 col-sm-6">
                                        <div class="row">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" value=""
                                                        onclick="showhidetable(3)" checked th:text="#{checklist.table.measurementLabel}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- ROW 2 -->
                                <div class="form-group row">
                                    <!-- ROW 2 - COL 1 -->
                                    <div class="col-md-4 col-sm-6">
                                        <div class="row">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" value=""
                                                        onclick="showhidetable(4)" checked th:text="#{checklist.table.quantitySatisfied}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ROW 2 - COL 2 -->
                                    <div class="col-md-4 col-sm-6">
                                        <div class="row">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input"
                                                        onclick="showhidetable(5)" checked th:text="#{checklist.table.quantityUnsatisfied}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ROW 2 - COL 3 -->
                                    <div class="col-md-4 col-sm-6">
                                        <div class="row">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" value=""
                                                        onclick="showhidetable(6)" checked th:text="#{checklist.table.quantityMix}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- ROW 3 -->
                                <div class="form-group row">
                                    <!-- ROW 3 - COL 1 -->
                                    <div class="col-md-4 col-sm-6">
                                        <div class="row">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" value=""
                                                        onclick="showhidetable(7)" checked th:text="#{checklist.table.remarkLabel}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <!-- ROW 3 - COL 3 -->
                                    <div class="col-md-4 col-sm-6">
                                        <div class="row">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" value=""
                                                        onclick="showhidetable(8)" checked th:text="#{checklist.table.qcLabel}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                
                                	<div class="col-md-4 col-sm-6">
                                        <div class="row">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" value=""
                                                        onclick="showhidetable(9)" checked th:text="#{checklist.table.statusLabel}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           
                            </div>
                            <div class="modal-footer">
                                <input id="toggle-state" type="checkbox" data-toggle="toggle" data-on="Hiện hết" data-off="Ẩn hết" data-width="100" onchange="toggle()" checked>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" th:text="#{checklist.button.save}"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
	<!--modal hide show column table  -->



	<!-- Copy from here to end-->
    </th:block>
    </div>

    <!-- partial:layouts/footer.html -->
    <th:block id="footer" th:replace="layouts/footer"> </th:block>

    <!-- Custom JavaScript for this page in here -->
    <th:block id="custom-js">
		<script src="https://code.jquery.com/jquery-3.5.1.js"
				integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
				crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
			integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
			crossorigin="anonymous"></script>

		
		<script th:src="@{/custom-js/view_check_list.js}"></script>
		
		<!-- implement show hide column of TruongDD by LamPQT  -->
		<!-- Show/hide columns selected by modal -->
        <script>
            function showhidetable(val) {
                var tb = document.getElementById("record-table");
                var tbtr = tb.getElementsByTagName("tr");
                $(tbtr[0].getElementsByTagName("th")[val]).toggle();

                for (let i = 0; i < tbtr.length; i++) {
                    $(tbtr[i].getElementsByTagName("td")[val]).toggle();
                }
            }
        </script>

        <!-- Show all columns -->
        <script>
            function showAllCol() {
                $(":checkbox:not(:checked)").prop("checked", true);
                $("th").show();
                $("td").show();
            }
        </script>
        <script>
            function hideAllCol() {
                $(":checkbox").prop("checked", false);
                $("th").hide();
                $("td").hide();
            }
        </script>
        <script>
            function toggle() {
                var status = document.getElementById('toggle-state').checked
                if (status) {
                    showAllCol();
                } else {
                    hideAllCol();
                }
            }
        </script>
		<script>
			function goBack() {
		       window.history.back();
		    }
		
		</script>
		
    </th:block>
    <!-- End Custom JavaScript  -->

</body>

</html>