<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	th:replace="
        ~{layouts/main-layout :: main-fragment(
                                              ~{:: title},
                                              ~{:: #css-page},
                                              ~{:: #custom-css-page},
                                              ~{:: #navbar},
                                              ~{:: #main-content},  
                                              ~{:: #footer},
                                              ~{:: #custom-js}
                                             )}">

<head>

<title>[[#{checklist.approval.title}]]</title>

<!-- partial:layouts/otherStaticResources.html -->
<th:block id="css-page" th:replace="~{layouts/mainCss}"></th:block>

<!-- Custom CSS for this page in here -->
<th:block id="custom-css-page">
	<link 
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
		integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
		crossorigin="anonymous" />
	
    <link rel="stylesheet" th:href="@{/css/slider_time.css}">
	<link rel="stylesheet" th:href="@{/css/toast.css}"  >

	<style>
		nav.pagination-nav {
		    float: right;
		    margin: 20px auto;
		}
	</style>
	
	
</th:block>
<!-- End Custom CSS  -->

</head>

<body>
	
	<div class="container-scroller">

		<!-- partial:layouts/navbar.html -->
		<th:block id="navbar" th:replace="layouts/navbar">
		</th:block>

		<th:block id="main-content">
			<!-- Copy From start to here-->
			<!-- State value  -->
			<input type="hidden" id="stateValue" th:value="${state}">
			<!-- State value -->
			
			<!-- partial -->
			<div class="container-fluid page-body-wrapper">
				<div class="main-panel">
					<div class="content-wrapper">
						<div class="row">
							<div class="template-demo col-12 pl-0">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a th:href="@{/}">Trang
												chủ</a></li>
										<li class="breadcrumb-item" aria-current="page"><a> Phiếu kiểm hàng</a></li>
										</li>
										<li class="breadcrumb-item active" aria-current="page">Duyệt phiếu</li>
									</ol>
								</nav>

							</div>
							<div class="col-12 grid-margin">
								<div class="card">
									<div class="card-header bg-white pt-4">
										<a th:attr="onclick=|goBack()|" class="btn btn-light float-left" id="back-btn" th:text="#{checklist.button.back}">Quay lại</a>										
										<p class="h3 text-center offset-md-1" th:text="#{checklist.approval.title}"></p>
										
									</div>
									<!-- Table -->
								<div class=" mt-1 result-after-created">
									<div class="">
										<div class="card-body">
											
											<form id="searchtForm" name="searchForm" method="get" th:action="@{/checklist/approval-check-list}" class="row justify-content-start">												
											
											<div class="col-sm-6 col-md-3">
												<div class="form-group row">
												<select name="size" class="form-control col-md-10 col-sm-8 " id="numberResultSelect" >
						                                 <option  value="5"  th:selected="${page.size == 5}">5 [[#{checklist.select.item.label}]]</option>
						                                 <option  value="10" th:selected="${page.size == 10}">10 [[#{checklist.select.item.label}]]</option>
						                                 <option  value="20" th:selected="${page.size == 20}">20 [[#{checklist.select.item.label}]]</option>
						                                 <option  value="50" th:selected="${page.size == 50}">50 [[#{checklist.select.item.label}]]</option>
					                               </select>
					                               <input type="hidden" name="page" th:value="${page.number}">
												</div>					                              
				                             </div>
				                            <div class="col-sm-6 col-md-7 offset-md-2">
					                              <div class="form-group row">
					                              		<input type="text" name="keyword" th:value="${keyword}" class="form-control col-sm-5 col-md-9">
					                              		<button type="submit" class="form-control bg-primary border-primary text-white col-sm-5 col-md-3">[[#{checklist.button.search}]]</button>
					                              </div>
					                                 
					                         </div>					
				                             </form> 
				                          
				                            <button type="button" class="btn btn-primary float-right " id="showHide-btn" th:text="#{checklist.view.button.columnView}" data-toggle="modal" data-target="#hideShowModal"></button>
				                          
											
				
											
											
																		
											<div class="table-responsive">
											<!--open form  -->
											<form id="approvalOrRejectForm" name="approvalOrRejectForm" method="post">
												<table class="table table-bordered" id="record-table">
													<thead>
														<tr>
															<th th:text="#{checklist.table.index}">#</th>
															<th th:text="#{checklist.table.hourLabel}">Giờ</th>
															<th th:text="#{checklist.table.dateLabel}">Ngày</th>
															<th th:text="#{checklist.table.typeOfProductLabel}">Loại sản phẩm</th>
															<th style="min-width: 12rem;" th:text="#{checklist.table.measurementLabel}">Thông số đo</th>

															<th th:text="#{checklist.table.quantitySatisfied}">SL TP đạt</th>
															<th th:text="#{checklist.table.quantityUnsatisfied}">SL TP không</th>
															<th th:text="#{checklist.table.quantityMix}">SL pha</th>
															<th th:text="#{checklist.table.remarkLabel}">Ghi chú</th>
															<th th:text="#{checklist.table.qcLabel}">QC</th>
															<th th:text="#{checklist.table.statusLabel}">Tình trạng</th>
															<th>
																<input type="checkbox" class="mx-auto"  id="checkall">																
															</th>
															<th>
																<div class="btn-group">
																  <button type="button" class="btn btn-danger dropdown-toggle"
																  			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																    [[#{checklist.table.button.action}]]
																  </button>
																  <div class="dropdown-menu dropdown-menu-right">
																	  	<button
																	  		type="submit" 
																	  		id="approval-selected"
																	  		class="dropdown-item edit-checklist">
																			[[#{checklist.table.button.approval.selected}]]
																		</button>
																		<button 
																			type="submit"
																			id="reject-selected"
																			class="dropdown-item remove-checklist">
																			[[#{checklist.table.button.reject.selected}]]
																		</button>
																		
																  </div>
																</div>
															</th>
														</tr>
													</thead>
													<tbody>
														<th:block
															th:switch="${!page.content.empty and page.content !=null}" th:remove="tag">
															<th:block th:case="true">
																<!--Element Of Checklist Loop  -->
																<tr th:each="check,state: ${page.content}">
																	<td th:utext="${state.index+1}"></td>
																	<td th:utext="${check.time}"></td>
																	<td th:utext="${check.date}"></td>
																	<td th:utext="${check.lot.typeProduct.typeProductName}">
																		</td>
																	<td>
																		<div class="row">
																			<div class="col-md-6 col-sm-12">
																				<p>
																					<b th:text="#{checklist.measurement.mosture}"> :</b>&nbsp;<span th:utext="${check.moisture}"></span>
																				</p>
																				<p>
																					<b th:text="#{checklist.measurement.ph}"> : </b>&nbsp; <span th:utext="${check.ph}"></span>
																				</p>
																				<p>
																					<b th:text="#{checklist.measurement.brix}">: </b>&nbsp; <span th:utext="${check.brix}"></span>
																				</p>
																			</div>
																			<div class="col-md-6 col-sm-12 row">
																				<p class="col-12 row">
																					<b th:text="#{checklist.measurement.color}">: </b>&nbsp;
																					<th:block th:switch="${check.color}"
																						th:remove="tag">
																						<span th:case="true" th:text="#{checklist.measurement.qualified }"></span>
																						<span th:case="*" th:text="#{checklist.measurement.unqualified}" class="text-danger"></span>
																						<th:block>
																				</p>
																				<p class="col-12 row">
																					<b th:text="#{checklist.measurement.taste}"></b>&nbsp;
																					<th:block th:switch="${check.taste}"
																						th:remove="tag">
																						<span th:case="true" th:text="#{checklist.measurement.qualified }"></span>
																						<span th:case="*" th:text="#{checklist.measurement.unqualified}" class="text-danger"></span>
																					</th:block>
																				</p>
																				<p>
																					<b th:text="#{checklist.measurement.impurity}">: </b>&nbsp; <span
																						th:utext="${check.impurity}"></span>
																				</p>
																			</div>
																		</div>

																	</td>
																	<td><span th:utext="${check.quantitySatisfied}">1000</span>
																	</td>
																	<td><span th:utext="${check.quantityUnsatisfied}">12</span></td>
																	<td><span th:utext="${check.quantityMix}">10</span></td>
																	<td><span th:utext="${check.remark}"></span></td>
																	<td><span th:utext="${check.qc.employeeName}">Nguyễn
																			Văn B</span></td>
																	<td>
																		<div th:switch="${check.status}">
																			<p th:case="${T(com.dpm.utility.Status).Pending}"
																				class=" text-warning text-center h4" data-toggle="tooltip" data-placement="top" title th:data-original-title="#{checklist.view.status.item.pending}">
																				<i class="fas fa-eye-slash"></i>
																				<!--  -->
																			</p>
																			<p th:case="${T(com.dpm.utility.Status).Approved}"
																				class="text-primary text-center h4" data-toggle="tooltip" data-placement="top" title th:data-original-title="#{checklist.view.status.item.approved}">
																				<i class="fas fa-eye"></i>
																			</p>
																			<p th:case="${T(com.dpm.utility.Status).Rejected}"
																				class="text-danger text-center h4" data-toggle="tooltip" data-placement="top" title th:data-original-title="#{checklist.view.status.item.reject}">
																				<i class="far fa-times-circle"></i>
																		</div>

																	</td>
																	<td>
																		<input type="checkbox" class="mx-auto" name="ids" th:value="${check.id}" th:disabled="${check.status != T(com.dpm.utility.Status).Pending}">
																	
																	</td>
																	<td>
																		<!-- check status is pending or not pending -->
																		<div
																			th:switch="${check.status == T(com.dpm.utility.Status).Pending }">
																			<div th:case="true">
																				<!-- status == pending -->
																				
																				<div class="btn-group">
																				  <button type="button" class="btn btn-primary dropdown-toggle"
																				  			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																				    [[#{checklist.table.button.action}]]
																				  </button>
																				  <div class="dropdown-menu dropdown-menu-right">
																					  	<button 
																					  		class="dropdown-item approval-checklist"
																							th:data-approval="${check.id}">
																							[[#{checklist.table.button.approval}]]
																						</button>
																						<button 
																							class="dropdown-item reject-checklist"
																							data-toggle="modal" data-target="#modal-remove"
																							th:data-reject="${check.id}">
																							[[#{checklist.table.button.reject}]]
																						</button>
																						
																				  </div>
																				</div>
																				
																			</div>
																			<div th:case="false">
																				<!-- status != pending -->
																				<!-- does not show anything  -->
																			</div>
																		</div>

																	</td>
																</tr>
																<!-- End Element Of Checklist Loop  -->
															</th:block>
															<th:block th:case="false">
																<tr>
																	<td colspan="12" class="text-center" th:text="#{checklist.message.noRecord}">Chưa có bản ghi
																		nào được tạo</td>
																</tr>
															</th:block>
														</th:block>

													</tbody>
												</table>
											</form>	
											<!--end form  -->	
											
											<!--pagination-div  -->
											<nav class="pagination-nav">
											  <ul class="pagination">
											  
											  	<th:block th:if="${page.hasPrevious()}">
											    	<li class="page-item" >
											    		<a class="page-link" th:href="@{/checklist/approval-check-list/(page=${page.number-1}, size=${page.size}, keyword=${keyword})}">Previous</a>
											   	 	</li>
											    </th:block>
											   
											    <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}" th:if="${page.content!=null and !page.content.empty}">
											    	<li class="page-item active" th:if="${page.number == i}" >
											    		<button class="page-link" href="#">[[${i}+1]]</button>
											    	</li>
											   		 <li class="page-item" th:unless="${page.number == i}">
											   		 	<a class="page-link" th:href="@{/checklist/approval-check-list/(page=${i}, size=${page.size}, keyword=${keyword})}">[[${i}+1]]</a>
											   		 </li>
											    </th:block>
											    
											    <th:block th:if="${page.hasNext()}">
												    <li class="page-item" >
												   		 <a class="page-link" th:href="@{/checklist/approval-check-list/(page=${page.number+1}, size=${page.size}, keyword=${keyword})}">Next</a>
												    </li>
											    </th:block>
											  </ul>
											</nav>
											<!--pagination-div  -->
											</div>
										</div>
									</div>
								</div>
								<!-- Table -->
								</div>
								
							</div>

							<!-- delete -->
						</div>
					</div>

				</div>
			</div>
			
			
			
			
		

			

			<!--Modal for setting  -->

			<!-- modal remove -->
			<div class="modal" tabindex="-1" role="dialog" id="modal-remove">
				<div class="modal-dialog" role="document">

					<form th:action="@{/checklist/reject}" method="post" id="rejectForm" name="rejectForm" >
						<div class="modal-content bg-white">
							<div class="modal-body">
								<p class="h4">Bạn có chắc Hủy Phiếu</p>
								<input type="hidden" name="ids" id="inputReject">
								<!-- <input type="hidden" name="size" th:value="${page.size}">
								<input type="hidden" name="page" th:value="${page.number}">
								<input type="hidden" name="keyword" th:value="${keyword}"> -->
							</div>
							<div class="modal-footer">
								<div class="row justify-content-center">
									<button type="submit" class="btn btn-danger">Có</button>
									<button type="button" class="btn btn-light"
										data-dismiss="modal">Hủy</button>
								</div>

							</div>
						</div>
					</form>

				</div>
			</div>
			<!-- modal remove -->

			<form id="approvalForm" name="approvalForm" method="post" th:action=" @{/checklist/approval}">
				<input type="hidden" name="ids" id="inputApproval">
				<!-- <input type="hidden" name="size" th:value="${page.size}">
				<input type="hidden" name="page" th:value="${page.number}">
				<input type="hidden" name="keyword" th:value="${keyword}"> -->
			</form>
			
			
			
			<!--modal hide show column table  -->
			<div class="modal fade" id="hideShowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:none">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" th:text="#{sieveDrying.text.viewConfig}"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">X</span>
                            </button>
                        </div>
                        <form class="cmxform" id="signupForm" action="" method="POST">
                            <div class="modal-body">
                               
                                <div class="form-group row">
                                  
                                    <div class="col-md-4 col-sm-6">
                                        <div class="row">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input name="chk-date" type="checkbox" class="form-check-input"
                                                        onclick="showhidetable(1)" checked th:utext="#{checklist.table.hourLabel}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>                           
                                    <div class="col-md-4 col-sm-6">
                                        <div class="row">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" value=""
                                                        onclick="showhidetable(2)" checked  th:text="#{checklist.table.dateLabel}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="row">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" value=""
                                                        onclick="showhidetable(3)" checked  th:text="#{checklist.table.typeOfProductLabel}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-4 col-sm-6">
                                        <div class="row">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" value=""
                                                        onclick="showhidetable(4)" checked th:text="#{checklist.table.measurementLabel}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
									
									
									<div class="col-md-4 col-sm-6">
                                        <div class="row">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" value=""
                                                        onclick="showhidetable(5)" checked th:text="#{checklist.table.quantitySatisfied}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-4 col-sm-6">
                                        <div class="row">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input"
                                                        onclick="showhidetable(6)" checked th:text="#{checklist.table.quantityUnsatisfied}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-4 col-sm-6">
                                        <div class="row">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" value=""
                                                        onclick="showhidetable(7)" checked th:text="#{checklist.table.quantityMix}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                               		<div class="col-md-4 col-sm-6">
                                        <div class="row">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" value=""
                                                        onclick="showhidetable(8)" checked th:text="#{checklist.table.remarkLabel}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                                                       
                                    <div class="col-md-4 col-sm-6">
                                        <div class="row">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" value=""
                                                        onclick="showhidetable(9)" checked th:text="#{checklist.table.qcLabel}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                
                                	<div class="col-md-4 col-sm-6">
                                        <div class="row">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" value=""
                                                        onclick="showhidetable(10)" checked th:text="#{checklist.table.statusLabel}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                           
                            </div>
                            <div class="modal-footer">
                                <input id="toggle-state" type="checkbox" data-toggle="toggle" data-on="Hiện hết" data-off="Ẩn hết" data-width="100" onchange="toggle()" checked>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" th:text="#{checklist.button.save}"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
			<!--modal hide show column table  -->
			

			<!-- Copy from here to end-->
		</th:block>


	</div>

	

	<!-- partial:layouts/footer.html -->
	<th:block id="footer" th:replace="layouts/footer">
	</th:block>

	<!-- Custom JavaScript for this page in here -->
	<th:block id="custom-js">
		<script src="https://code.jquery.com/jquery-3.5.1.js"
			integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
			crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
			integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
			crossorigin="anonymous"></script>



		
		<script>
			function goBack() {
		       window.history.back();
		    }
		
		</script>
		 <script th:inline="javascript">
		 	 var selectAll = [[#{checklist.table.button.selectALL}]];
		     var unselectAll = [[#{checklist.table.button.unselectALL}]];
		     var rejectStatus = [[${rejectStatus}]];
		     var approvalStatus = [[${approvalStatus}]];
		    
    	</script>
    	
		<script th:src="@{/custom-js/toast.js}"></script>
		<script th:src="@{/custom-js/approval-check-list.js}"></script>
		<!-- implement show hide column of TruongDD by LamPQT  -->
		<!-- Show/hide columns selected by modal -->
        <script>
            function showhidetable(val) {
                var tb = document.getElementById("record-table");
                var tbtr = tb.getElementsByTagName("tr");
                $(tbtr[0].getElementsByTagName("th")[val]).toggle();

                for (let i = 0; i < tbtr.length; i++) {
                    $(tbtr[i].getElementsByTagName("td")[val]).toggle();
                }
            }
        </script>
		<!-- Show all columns -->
        <script>
            function showAllCol() {
                $(":checkbox:not(:checked)").prop("checked", true);
                $("th").show();
                $("td").show();
            }
        </script>
        <script>
            function hideAllCol() {
                $(":checkbox").prop("checked", false);
                $("th").hide();
                $("td").hide();
            }
        </script>
        <script>
            function toggle() {
                var status = document.getElementById('toggle-state').checked
                if (status) {
                    showAllCol();
                } else {
                    hideAllCol();
                }
            }
        </script>
	</th:block>
	<!-- End Custom JavaScript  -->

</body>

</html>