<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layouts/main-layout :: main-fragment(
                                          ~{::title},
                                          ~{:: #other-static-resources},
                                          ~{:: #navbar},
                                          ~{:: #main-content},  
                                          ~{:: #footer},
                                          ('/QAMS/js/form-employee.js')
                                         )}">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Trang chủ</title>

<th:block id="other-static-resources"
	th:replace="~{layouts/otherStaticResources}"></th:block>




</head>
<body>
	<div class="container-scroller">
		<!-- partial:partials/_horizontal-navbar.html -->
		<div id="navbar" th:replace="layouts/navbar"></div>

		<!-- partial -->


		<div id="main-content">
			<!-- Copy here-->

			<div class="container-fluid page-body-wrapper">
				<div class="main-panel">
					<div class="content-wrapper">
						<div class="row grid-margin">
							<div class="col-12">
								<div class="card">
									<div class="card-body">
										<h4 class="card-title text-center">Quản lý nhân viên</h4>


										<div class="template-demo">

											<button type="button" class="btn btn-primary btn-fw"
												data-toggle="modal" data-target="#exampleModal"
												id="create-button">Thêm nhân viên</button>

											<!-- filter -->
											<select id="Ultra" class="btn btn-outline-info btn-fw"
												name="order-listing_length" aria-controls="order-listing"
												onchange="run()">
												<option value="10" th:selected="${pageSize == 10}" selected>10
													Nhân Viên</option>
												<option value="20" th:selected="${pageSize == 20}">20
													Nhân Viên</option>
												<option value="50" th:selected="${pageSize == 50}">50
													Nhân Viên</option>
												<option value="100" th:selected="${pageSize == 100}">100
													Nhân Viên</option>
											</select>

											<!-- End filter -->

											<!-- Search -->
											<form th:action="@{/employeemanager/}"
												class="form-inline form-inline-search">

												<input type="text" name="search" id="search"
													class="form-control mb-2 mr-sm-2" th:value="${search}"
													placeholder="Tìm..." aria-label="Recipient's username">

												<button type="submit" class="btn btn-primary mb-2">Tìm
													Kiếm</button>
											</form>

											<!-- End Search -->

										</div>

										<!-- view list-->
										<div class="table-responsive">
											<table class="table table-hover table-bordered text-center">
												<thead>
													<tr>

														<th rowspan="2" colspan="1" class="text-break "
															style="width: 7rem;">Mã nhân viên</th>
														<th rowspan="2" class="text-break " style="width: 12rem;">Tên
															nhân viên</th>
														<th rowspan="2" class="text-break " style="width: 7rem;">Chức
															vụ</th>
														<th rowspan="2" class="text-break " style="width: 7rem;">Phòng
															Ban</th>
														<th rowspan="2">Người Quản Lý</th>
														<th rowspan="2">Ghi chú</th>
														<th rowspan="2" style="width: 18em;">Hoạt động</th>
													</tr>

												</thead>
												<tbody>
													<tr th:each="employees, iter: ${employees}"
														th:id="${iter.index}">
														<td th:text="${employees.id}" class="id"></td>
														<td th:text="${employees.employeeName}"
															class="employeeName"></td>
														<td th:text="${employees.position}" class="position"></td>
														<td th:text="${employees.department}" class="department"></td>
														<td th:text="${employees.managerment}" class="managerment"></td>
														<td th:text="${employees.note}" class="note"></td>

														<!-- <td><label class="badge badge-danger">Tạm hoãn</label></td> -->
														<td>
															<button type="button"
																class="btn btn-outline-info btn-fw edit-button"
																data-toggle="modal" data-target="#exampleModal">
																<i class="icon-pencil"></i>Sửa
															</button>
															<button type="button"
																class="btn btn-outline-danger btn-fw delete-button"
																data-toggle="modal" data-target="#exampleModal1">
																<i class="icon-trash"></i>Xóa
															</button>
														</td>
													</tr>

												</tbody>
											</table>
										</div>
										<!-- End view list-->

										<!-- pagination -->
										<input hidden="" th:value="${currentPage}" id="pageNum">
										<nav class="pt-sm-2">
											<ul class="pagination d-flex justify-content-end ">

												<!-- 0 -->

												<li class="page-item"><a class="page-link"
													th:href="@{/employeemanager/?page=0}"> <i
														class=" icon-control-start"></i>
												</a></li>

												<!-- prevous -->

												<li class="page-item"><a class="page-link"
													th:if="${currentPage >= 1}"
													th:href="@{/employeemanager/(page=${currentPage - 1})}">
														<i class="icon-arrow-left"></i>
												</a></li>

												<!-- 1 -->

												<li class="page-item"><a class="page-link"
													th:if="${ totalPages > currentPage }"
													th:href="@{/employeemanager(page=${currentPage})}"> <i
														th:text="${currentPage + 1}"></i>
												</a></li>
												<!-- 2 -->

												<li class="page-item"><a class="page-link"
													th:if="${ totalPages > currentPage + 1 }"
													th:href="@{/employeemanager/(page=${currentPage + 1})}">
														<i th:text="${currentPage + 2 }"></i>
												</a></li>


												<!-- 3-->

												<li class="page-item"><a class="page-link"
													th:if="${ totalPages > currentPage + 1}"
													th:href="@{/employeemanager/?(page=${currentPage + 2})}">
														<i th:text="${currentPage + 3}"></i>
												</a></li>

												<!-- 4 -->

												<li class="page-item"><a class="page-link"
													th:if="${ totalPages > currentPage + 1}"
													th:href="@{/employeemanager/?(page=${currentPage + 3})}">
														<i th:text="${currentPage + 4}"></i>
												</a></li>

												<!-- 5 -->

												<li class="page-item"><a class="page-link"
													th:if="${ totalPages > currentPage + 1}"
													th:href="@{/employeemanager/?(page=${currentPage + 4})}">
														<i th:text="${currentPage + 5}"></i>
												</a></li>

												<!-- next -->

												<li class="page-item"><a class="page-link"
													th:if="${ totalPages > currentPage + 2}"
													th:href="@{/employeemanager/?(page=${currentPage + 1})}">
														<i class="icon-arrow-right"></i>
												</a></li>


												<!-- end -->

												<li class="page-item"><a class="page-link"
													th:href="@{/employeemanager/?(page=${totalPages - 1})}">
														<i class=" icon-control-end"></i>
												</a></li>

											</ul>
										</nav>
										<!-- End pagination -->



									</div>
								</div>
							</div>
						</div>



					</div>
					<!-- content-wrapper ends -->

					<footer class="footer">
						<div class="w-100 clearfix">
							<span
								class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright
								© 2020. All rights reserved.</span> <span
								class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted
								&amp; made with <i class="icon-heart text-danger"></i>
							</span>
						</div>
					</footer>
					<!-- partial -->
				</div>
				<!-- main-panel ends -->
			</div>

			<!-- Pop-up Add Start -->

			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true"
				style="display: none;">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Thêm Nhân
								Viên</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<form class="cmxform" id="signupForm" action="#"
							th:action="@{/employeemanager/addEmployee}"
							th:object="${employee}" method="POST">
							<input type="hidden" id="id" th:field="*{id}" />
							<div class="modal-body">
								<div class="row">

									<div class="col-md-6">
										<div class="form-group row">
											<label for="firstname" class="col-sm-3 col-form-label">Tên
												Nhân Viên</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="employeeName"
													name="employeeName" th:field="*{employeeName}">
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group row">
											<label for="firstname" class="col-sm-3 col-form-label">Chức
												Vụ</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="position"
													name="position" th:field="*{position}">
											</div>

											<!--  <div class="col-sm-9">
											<select class="form-control">
												<option>QC</option>
												<option>Quản Đốc</option>
											</select>
										</div> -->
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group row">
											<label for="firstname" class="col-sm-3 col-form-label">Phòng
												Ban</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="department"
													name="department" th:field="*{department}">
											</div>
											<!-- <div class="col-sm-9">
											<select class="form-control">
												<option>Giám Sát</option>
												<option>Other</option>
											</select>
										</div> -->
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Người Quản Lý</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="managerment"
													name="managerment" th:field="*{managerment}">
											</div>

											<!-- <div class="col-sm-9">
											<select class="form-control">
												<option>Khiêm TC</option>
												<option>Linh TD</option>
											</select>
										</div>  -->
										</div>
									</div>

									<div class="col-md-12">
										<div class="form-group row">
											<label for="firstname" class="col-sm-3 col-form-label">Ghi
												Chú</label>
											<div class="col-sm-12">

												<textarea class="form-control" id="note"
													name="note" th:field="*{note}" rows="5"></textarea>
											</div>
										</div>
									</div>
									
								</div>
							</div>
							<div class="modal-footer">
								<input class="btn btn-primary" type="submit" value="Lưu">
								<button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<!-- Pop-up Add Ends -->

			<!-- Form popup when delete -->
			<div class="modal fade" id="exampleModal1" tabindex="-1"
				role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
				style="display: none;">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content">
						<form id="deleteForm" th:action="@{/employeemanager/delete}"
							method="POST" class="">
							<input type="hidden" id="deleteId" th:name="deleteId" value="" />
							<div class="modal-body">
								<h4 style="text-align: center;">Bạn có muốn xóa nhân viên
									này?</h4>
							</div>

							<!-- Delete, cancel button-->
							<div class="modal-footer">
								<input style="width: 7rem;" class="btn btn-danger" type="submit"
									value="Xóa">
								<button style="width: 7rem;" type="button" class="btn btn-light"
									data-dismiss="modal">Hủy</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- End form popup when delete -->

			<!-- page-body-wrapper ends -->
			<!-- container-scroller -->

		</div>
	</div>

	<div id="footer" th:replace="layouts/footer"></div>
</body>
</html>