<!DOCTYPE html>

<html lang="vi" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Packing Product Template</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/iconfonts/simple-line-icon/css/simple-line-icons.css">
    <link rel="stylesheet" href="vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
</head>

<body>
    <div class="container-scroller">

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm máy</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    </div>

                    <form class="cmxform" id="signupForm" th:action="@{/save}" method="POST" th:object="${machine}">
                        <div class="modal-body">

                            <input type="hidden" id="id" th:field="*{id}" />

                            <div class="row">

                                <div class="col-sm">
                                    <div class="form-group row">
                                        <label for="machineName" class="col-sm-3 col-form-label">Tên máy</label>
                                        <div class="col-sm">
                                            <input type="text" class="form-control" id="machineName" name="machineName" th:field="*{machineName}">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="form-group row">
                                        <label for="machineType" class="col-sm-3 col-form-label">Loại máy</label>
                                        <div class="col-sm">
                                            <input type="text" class="form-control" id="machineType" name="machineType" th:field="*{machineType}">
                                        </div>
                                    </div>
                                </div>

                                <!-- -------------------------------------------------------------------------------------- -->


                            </div>

                            <div class="row">

                                <div class="col-sm">
                                    <div class="form-group row">
                                        <label for="machineCode" class="col-sm-3 col-form-label">Mã máy</label>
                                        <div class="col-sm">
                                            <input type="text" class="form-control" id="machineCode" name="machineCode" th:field="*{machineCode}">
                                        </div>
                                    </div>
                                </div>    

                                <div class="col-sm">
                                    <div class="form-group row">
                                        <label for="machineOrigin" class="col-sm-3 col-form-label">Xuất xứ</label>
                                        <div class="col-sm">
                                            <input type="text" class="form-control" id="machineOrigin" name="machineOrigin" th:field="*{machineOrigin}">
                                        </div>
                                    </div>
                                </div>

                                <!-- ------------------------------------------------------------------------------ -->

                                
                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Ngày nhập máy</label>
                                        <div class="col-sm-9">
                                            <input type="date" class="form-control" id="machineImportDate" name="machineImportDate" th:field="*{machineImportDate}">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Tình trạng máy</label>
                                        <div class="col-sm-9">
                                            <div class="form-group row">

                                                <div class="col-sm-4">  
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input" name="machineStatus" id="machineStatus1" th:value="Tốt" th:text="Tốt" th:field="*{machineStatus}">
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-5">              
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input" name="machineStatus" id="machineStatus2" th:value="Xấu" th:text="Xấu" th:field="*{machineStatus}">        
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="row">

                                <div class="col-sm">
                                    <div class="form-group row">
                                        <label for="amountOfMachine" class="col-sm-3 col-form-label">Số lượng máy</label>
                                        <div class="col-sm">
                                            <input type="text" class="form-control" id="amountOfMachine" name="amountOfMachine" th:field="*{amountOfMachine}">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="form-group row">
                                        <label for="personRecies" class="col-sm-3 col-form-label">Người nhận máy</label>
                                        <div class="col-sm">
                                            <input type="text" class="form-control" id="machineReciever" name="machineReciever" th:field="*{machineReciever}">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary" type="submit" value="Lưu">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Hủy</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal Ends -->
        
        <!-- Form popup when delete -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
        	<div class="modal-dialog modal-sm" role="document">
	        	<div class="modal-content">
	        		<form id="deleteForm" th:action="@{/delete}" method="POST" class="">
						<input type="hidden" id="deleteId" th:name="deleteId" value="" />
						<div class="modal-body">
							<h4 style="text-align:center;">Bạn có muốn xóa máy này?</h4>
						</div>
				
						<!-- Delete, cancel button-->
						<div class="modal-footer">
							<input style="width: 7rem;" class="btn btn-danger" type="submit" value="Xóa">
							<button style="width: 7rem;" type="button" class="btn btn-light" data-dismiss="modal">Hủy</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- End form popup when delete -->
        

        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row grid-margin">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title text-center">DANH SÁCH MÁY</h4>


                                    <div class="template-demo">

                                        <button type="button" class="btn btn-primary btn-fw" data-toggle="modal" data-target="#exampleModal" id="create-button">Tạo mới</button>

                                        <select id="element" class="btn btn-outline-info ">
                                            <option class="dropdown-item" value="10" selected>10 Máy</option>
                                            <option class="dropdown-item" value="20">20 Máy</option>
                                            <option class="dropdown-item" value="50">50 Máy</option>
                                            <option class="dropdown-item" value="100">100 Máy</option>
                                        </select>

                                        <form class="form-inline form-inline-search" th:action="@{/find}">

                                            <input type="text" class="form-control mb-2 mr-sm-2" th:id="StringToFind" th:name="StringToFind" placeholder="Tìm kiếm" aria-label="Recipient's username">

                                            <button type="submit" class="btn btn-primary mb-2">Tìm kiếm</button>
                                        </form>

                                    </div>

                                    <!-- view list-->
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered text-center">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên máy</th>
                                                    <th>Mã máy</th>
                                                    <th>Loại máy</th>
                                                    <th>Xuất sứ</th>
                                                    <th>Tình trạng máy</th>
                                                    <th>Ngày nhập máy</th>
                                                    <th>Người nhận máy</th>
                                                    <th>Số lượng máy</th>
                                                    <th style=" width: 250px; ">Tùy chọn</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="machine,machineStat: ${machines}" th:id="${machineStat.count}">
                                                    <td class="machineId" th:value="${machine.id}" th:text="${machineStat.count}"></td>
                                                    <td th:text="${machine.machineName}" class="machineName"></td>
                                                    <td th:text="${machine.machineCode}" class="machineCode"></td>
                                                    <td th:text="${machine.machineType}" class="machineType"></td>
                                                    <td th:text="${machine.machineOrigin}" class="machineOrigin"></td>
                                                    <td th:text="${machine.machineStatus}" class="machineStatus"></td>
                                                    <td th:text="${machine.machineImportDate}" class="machineImportDate"></td>
                                                    <td th:text="${machine.machineReciever}" class="machineReciever"></td>
                                                    <td th:text="${machine.amountOfMachine}" class="amountOfMachine"></td>  
                                                    <td>
	                                                    <button type="button" class="btn btn-primary edit-button" data-toggle="modal" data-target="#exampleModal">
	                                                        <i class="icon-pencil"></i>Sửa
	                                                    </button>
	                                                    <button type="button" class="btn btn-warning delete-button" data-toggle="modal" data-target="#exampleModal1">
	                                                        <i class="icon-trash"></i>Xóa
	                                                    </button>
                                                    </td>
                                                    
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- End view list-->

                                    <!-- pagination -->
                                    <nav class="pt-sm-2">
                                        <ul class="pagination d-flex justify-content-end ">
                                            <li class="page-item"><a class="page-link" href="#"><i
                                                class="icon-arrow-left"></i></a></li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                                            <li class="page-item"><a class="page-link" href="#"><i
                                                    class="icon-arrow-right"></i></a></li>
                                        </ul>
                                    </nav>
                                    <!-- End pagination -->



                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                
            </div>
            <!-- main-panel ends -->
        </div>


        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <script src="vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="js/template.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- <script src="js/form-validation.js"></script> -->
    <script src="js/bt-maxLength.js"></script>
    <script src="js/may_machine.js"></script>

    <!-- End custom js for this page-->
</body>

</html>