<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:replace="
                ~{layouts/main-layout :: main-fragment(
                                                      ~{:: title},
                                                      ~{:: #css-page},
                                                      ~{:: #custom-css-page},
                                                      ~{:: #navbar},
                                                      ~{:: #main-content},
                                                      ~{:: #footer},
                                                      ~{:: #custom-js}
                                                     )}">

<head>

  <title>Quản lý máy</title>
  <link rel="stylesheet"
        th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css}"/>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"
        rel="stylesheet"/>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@1.5.2/dist/select2-bootstrap4.min.css">

  <!-- partial:layouts/otherStaticResources.html -->
  <th:block id="css-page" th:replace="~{layouts/mainCss}"></th:block>

  <!-- Custom CSS for this page in here -->

  <th:block id="custom-css-page">

    <style>
      .content-wrapper {
        max-width: 95%;
      }
    </style>

  </th:block>
  <!-- End Custom CSS  -->


</head>

<body onload="setDate()">
<div class="container-scroller">

  <!-- partial:layouts/navbar.html -->
  <th:block id="navbar" th:replace="layouts/navbar"></th:block>

  <th:block id="main-content">
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          <!-- start table card -->
          <div class="card mt-3">
            <div class="card-body">
              <div class="card-title">
                <div class="row">
                  <div class="col-md-6 text-left">
                  	QUẢN LÝ MÁY
                  </div>
                  <div class="col-md-6">
                    <form th:action="@{/machine/list-machine}" method="GET"
                          name="filterForm" class="form-inline float-right">
                      <input type="hidden" name="page" id="currentPage">
                      <div class="form-group mx-sm-3 mb-2">
                        <select class="form-control" th:name="size"
                                id="currentSize">
                          <option value="5">Hiển thị 5 phần tử</option>
                          <option value="10">Hiển thị 10 phần tử</option>
                          <option value="20">Hiển thị 20 phần tử</option>
                        </select>
                      </div>
                      <div class="form-group mx-sm-3 mb-2">
                        <button type="submit" class="btn btn-success"
                                th:utext="#{pressing-monitor.table.button.filter}"></button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="table-responsive">
                  <div class="row">
                    <div class="col-sm-12">
                      <table class="table table-striped text-center table-bordered">
                        <thead>
                          <tr>
                            <th>Tên máy</th>
                            <th>Mã máy</th>
                            <th>Loại máy</th>
                            <th>Xuất sứ</th>
                            <th>Tình trạng</th>
                            <th>Ngày nhập</th>
                            <th>Người nhận</th>
                            <th>Số lượng máy</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:unless="${machines.isEmpty()}" th:each="machine : ${machines}">
                            <td class="text-left" th:utext="${machine.machineName}"></td>
                            <td th:utext="${machine.machineCode}"></td>
                            <td th:utext="${machine.machineType}"></td>
                            <td th:utext="${machine.machineOrigin}"></td>
                            <td th:utext="${machine.machineStatus}"></td>
                            <td th:utext="${machine.machineImportDate}"></td>
                            <td th:utext="${machine.machineReciever}"></td>
                            <td th:utext="${machine.amountOfMachine}"></td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="row mt-3">
                        <div class="col-8"></div>
                        <div class="col-4">
							<ul class="pagination rounded float-right"
                              th:unless="${machines.isEmpty()}">
                            <li class=""
                                th:attr="class = ${machines.hasPrevious()} ? 'page-item' : 'page-item disabled'">
                              <a class="page-link"
                                 th:href="@{/machine/list-machine(page=${page - 1})}">
                                <i class="icon-arrow-left"></i>
                              </a>
                            </li>
                            <th:block
                                th:each="i: ${#numbers.sequence(0, totalPages - 1)}">
                              <li class=""
                                  th:attr="class = ${page == i} ? 'page-item active' : 'page-item' ">
                                <a class="page-link"
                                   th:href="@{/machine/list-machine(page=${i})}"
                                   th:text="${i + 1}"></a>
                              </li>
                            </th:block>
                            <li class=""
                                th:attr="class = ${machines.hasNext()} ? 'page-item' : 'page-item disabled'">
                              <a class="page-link"
                                 th:href="@{/machine/list-machine(page=${page + 1})}">
                                <i class="icon-arrow-right"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end table card -->
        </div>
      </div>
    </div>
  </th:block>
</div>

<!-- partial:layouts/footer.html -->
<th:block id="footer" th:replace="layouts/footer"></th:block>

<!-- Custom JavaScript for this page in here -->
<th:block id="custom-js">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script
      th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.js}"></script>
  <!-- custom java script -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script th:inline="javascript">
    ${'#currentSize'}.val([[${size}]]);
  </script>

</th:block>
<!-- End Custom JavaScript  -->

</body>

</html>