<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CloudUi Premium Bootstrap Admin Dashboard Template</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/iconfonts/simple-line-icon/css/simple-line-icons.css">
    <link rel="stylesheet" href="vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_horizontal-navbar.html -->
      
        <!-- partial -->



        <!-- Modal starts -->

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal titlesdasdasdasd</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form class="cmxform" id="signupForm" action="" method="POST">
                        <div class="modal-body">


                            <input type="text" class="form-control" id="id" name="id" hidden>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="firstname" class="col-sm-3 col-form-label">First Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="firstname" name="firstname">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="lastname" class="col-sm-3 col-form-label">Last Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="lastname" name="lastname">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Gender</label>
                                        <div class="col-sm-9">
                                            <select class="form-control">
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Date of Birth</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" placeholder="dd/mm/yyyy">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Category</label>
                                        <div class="col-sm-9">
                                            <select class="form-control">
                                                <option>Category1</option>
                                                <option>Category2</option>
                                                <option>Category3</option>
                                                <option>Category4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Membership</label>
                                        <div class="col-sm-4">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="membershipRadios"
                                                        id="membershipRadios1" value="" checked="">
                                                    Free
                                                    <i class="input-helper"></i></label>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="membershipRadios"
                                                        id="membershipRadios2" value="option2">
                                                    Professional
                                                    <i class="input-helper"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="card-description">
                                Address
                            </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Address 1</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">State</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Address 2</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Postcode</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">City</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Country</label>
                                        <div class="col-sm-9">
                                            <select class="form-control">
                                                <option>America</option>
                                                <option>Italy</option>
                                                <option>Russia</option>
                                                <option>Britain</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary" type="submit" value="Submit">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal Ends -->



        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row grid-margin">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title text-center">LÔ NGUYÊN LIỆU</h4>


                                    <div class="template-demo">

                                        <button type="button" class="btn btn-primary btn-fw" data-toggle="modal" data-target="#exampleModal">Tạo Lô Mới</button>

                                        <select id="element" class="btn btn-outline-info ">
                                            <option class="dropdown-item" value="10" selected>10 lô</option>
                                            <option class="dropdown-item" value="20">20 element</option>
                                            <option class="dropdown-item" value="50">50 element</option>
                                            <option class="dropdown-item" value="100">100 element</option>
                                        </select>

                                        <form class="form-inline form-inline-search">

                                            <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Search..." aria-label="Recipient's username">

                                            <button type="submit" class="btn btn-primary mb-2">Tìm Kiếm</button>
                                        </form>

                                    </div>

                                    <!-- view list-->
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered text-center">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2" colspan="1" class="text-break " style=" width: 5rem; ">Mã Lô</th>
                                                    <th rowspan="2" class="text-break " style=" width: 5rem; ">Tên Lô</th>
                                                    <th rowspan="2" class="text-break " style=" width: 3rem; ">Giờ Nhập Hàng </th>
                                                    <th colspan="3">Số lần nhập</th>
                                                    <th rowspan="3">
                                                        <p>Số lần nhập</p>
                                                        
                                                    </th>
                                                    <th rowspan="2">Người nhập kho</th>
                                                    <th rowspan="2">Người kiểm tra</th>
                                                    <th rowspan="2">Tình Trạng</th>
                                                    <th rowspan="2" style=" width: 18em;  ">Hành Động</th>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <p></p>
                                                        <p></p>
                                                    </th>
                                                    <th>
                                                        <p></p>
                                                        <p></p>
                                                    </th>
                                                    <th>
                                                        <p></p>
                                                        <p></p>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr id={ingredientBatch.id}>
                                                    <td id="sua">Sữa</td>
                                                    <td id="milk">MILK</td>
                                                    <td>08:30 PM</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>1 lần / ngày</td>
                                                    <td>WTF</td>
                                                    <td>NTN</td>

                                                    <td><label class="badge badge-danger">Chờ xử lý</label></td>
                                                    <td>
                                                        <button type="button" class="btn btn-outline-info btn-fw" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="icon-pencil"></i>Sửa
                                                        </button>
                                                        <form th:action="@{/ingredientBatch/delete/{id}(id=${ingredientBatch.id})}">
                                                        <button type="submit" class="btn btn-outline-danger btn-fw" onSubmit="showSwal('warning-delete');">
                                                            <i class="icon-trash"></i>Xóa
                                                        </button>
                                                        </form>
                                                        
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- End view list-->

                                    <!-- pagination -->
                                    <nav class="pt-sm-2">
                                        <ul class="pagination d-flex justify-content-end ">
                                            <li class="page-item"><a class="page-link" href="#"><i
                                                        class="icon-arrow-left"></i></a></li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                                            <li class="page-item"><a class="page-link" href="#"><i
                                                        class="icon-arrow-right"></i></a></li>
                                        </ul>
                                    </nav>
                                    <!-- End pagination -->



                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <!-- content-wrapper ends -->

                <footer class="footer">
                    <div class="w-100 clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2020. All rights reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted &amp; made
                            with <i class="icon-heart text-danger"></i></span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>


        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <script src="vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="js/template.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="js/form-validation.js"></script>
    <script src="js/bt-maxLength.js"></script>
    <script src="js/alerts.js"></script>
    <script src="js/avgrund.js"></script>
    <!-- End custom js for this page-->
</body>

</html>