<!--  * Author:  Nguyennd6        Create date: 01/12/2020 13:00PM
 -->
<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" th:replace="
        ~{layouts/main-layout :: main-fragment(
                                              ~{:: title},
                                              ~{:: #css-page},
                                              ~{:: #custom-css-page},
                                              ~{:: #navbar},
                                              ~{:: #main-content},  
                                              ~{:: #footer},
                                              ~{:: #custom-js}
											 )}">




<head>

	<title th:text="#{mixing.list.title.head}"></title>

	<!-- partial:layouts/otherStaticResources.html -->
	<th:block id="css-page" th:replace="~{layouts/mainCss}"></th:block>

	<!-- Custom CSS for this page in here -->
	<th:block id="custom-css-page">
		<link th:href="@{/css/style_time.css}">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
			integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
			crossorigin="anonymous" />
	</th:block>
	<!-- End Custom CSS  -->

</head>

<body>
	<div class="container-scroller">

		<!-- partial:layouts/navbar.html -->
		<th:block id="navbar" th:replace="layouts/navbar">
		</th:block>

		<th:block id="main-content">
			<!-- Copy From start to here-->
			<!-- partial -->
			<div class="container-fluid">
				<div class="main-panel">
					<div class="content-wrapper">
						<div class="row">
							<div class="col-12 grid-margin">
								<div class="card">
									<div class="card-body">
										<h4 class="card-title row justify-content-md-center"
											th:text="#{mixing.list.title}"></h4>
										<form th:action="@{./search}">
											<div class="add-items d-flex">
												<input type="text" name="name"
													class="form-control todo-list-input col-sm-8"
													placeholder="Nguyên liệu, Người thực hiện" required />

												<button type="submit" class="offset-sm-6 btn btn-primary"
													th:text="#{mixing.list.search}"></button>
												<button type="reset" class="btn btn-primary" style="margin-left: 5%"
													th:text="#{mixing.list.reset}" onclick="resetSearch()"></button>
											</div>
										</form>
									</div>
									<form th:action="@{./filter}" th:object="${filter}" id="idFormFilter" method="POST">
										<div class="row d-flex justify-content-between">
											<div class="col-md-4">
												<div class="form-group row d-flex justify-content-center">

													<label class="col-sm-2 col-form-label"
														th:text="#{mixing.create.typeproduct}"> <span
															class="text-danger"
															th:text="#{mixing.danger}"></span></label>
													<div class="col-sm-9">
														<input list="tpList" name="type" th:field="*{type}"
															id="idCodeProduct" class="form-control col-md-7 col-sm-8"
															required>
														<datalist id="tpList">

															<option th:each="tp : ${tpList}" th:value="${tp.id}"
																th:text="${tp.typeProductCode}"></option>

														</datalist>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group row d-flex justify-content-center">
													<label class="col-offset-2 col-md-3 col-form-label"
														th:text="#{mixing.create.date}"><span class="text-danger"
															th:text="#{mixing.danger}"></span> </label>
													<div class="col-md-7">
														<input type="date" name="date" th:field="*{date}"
															class="form-control" id="theDate" required>
													</div>
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group row d-flex justify-content-end">
													<label class="col-md-2 col-form-label"
														th:text="#{mixing.create.machine}"> <span
															class="text-danger">*</span></label>
													<div class="col-md-9">
														<input list="machineList" name="machine" th:field="*{machine}"
															id="idCodeMachine" class="form-control col-md-7 col-sm-8"
															required>
														<datalist id="machineList">

															<option th:each="tp : ${machineList}" th:value="${tp.id}"
																th:text="${tp.machineCode}"></option>

														</datalist>
													</div>
												</div>
											</div>
										</div>
										<div class="row ">

											<div class="row offset-md-10 col-md-1">
												<button class="btn btn-sm btn-info col-md-12 " type="submit"
													id="idFilterButton" style="margin-left: -30%;"
													th:text="#{mixing.list.filter}">

												</button>
											</div>
										</div>

									</form>

									<!-- view list-->
									<div class="table-responsive">
										<table class="table table-hover table-bordered text-center">
											<thead>
												<tr>
													<th rowspan="2" colspan="1" class="text-break" style="width: 5rem"
														th:text="#{mixing.create.batch}"></th>
													<th colspan="2" th:text="#{mixing.create.ingredient}"></th>
													<th colspan="3" th:text="#{mixing.create.additive}"></th>
													<th rowspan="2" class="text-break" th:text="#{mixing.create.time}">
													</th>
													<th rowspan="2" class="text-break"
														th:text="#{mixing.create.productLot}"></th>

													<th rowspan="2" th:text="#{mixing.create.employee}"></th>
													<th rowspan="2" th:text="#{mixing.list.status}"></th>
													<th rowspan="2" th:text="#{mixing.list.action}"></th>

												</tr>
												<tr>
													<th th:utext="#{mixing.create.amountIngredient}"></th>
													<th th:utext="#{mixing.create.ingredientBatch}"></th>
													<th th:utext="#{mixing.create.amountAdditive}"></th>
													<th th:utext="#{mixing.create.additiveCode}"></th>
													<th>No.</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="mix : ${mixPage}">
													<td th:utext="${mix.batch}">...</td>
													<td th:utext="${mix.amountMaterial}">...</td>
													<td th:utext="${mix.ingredientBatchCode}">...</td>
													<td th:utext="${mix.amountAdditive}">...</td>
													<td th:utext="${mix.additiveCode}">...</td>
													<td th:utext="${mix.no}">...</td>
													<td th:utext="${mix.mixingTime}">...</td>
													<td th:utext="${mix.productLotCode}">...</td>
													<td th:utext="${mix.employeeName}">...</td>
													<td>
														<div th:switch="${mix.status}">
															<div th:case="${false}" id="status"
																th:attr="onclick=|approve('${mix.id}')|">
																<i class="fas fa-eye" style="color: #ff922b;"
																	title="Chờ duyệt"></i>
															</div>
															<div th:case="${true}"> <i class="fas fa-check-circle"
																	style="color: #51cf66;" title="Đã duyệt"></i> </div>

														</div>

													</td>
													<td>
														<div th:switch="${mix.status}">
															<div th:case="${false}">
																<a th:href="@{/mixing/{id}/update(id=${mix.id})}"
																	class="btn btn-info" role="button"
																	th:text="#{mixing.list.action.update}"></a> <a
																	th:href="@{/mixing/{id}/delete(id=${mix.id})}"
																	class="btn btn-danger" role="button"
																	style="width: 40%;"
																	th:text="#{mixing.list.action.delete}"></a>
															</div>
															<div th:case="${true}">
																<a th:href="@{/mixing/{id}/update(id=${mix.id})}"
																	class="btn btn-info disabled" role="button"
																	th:text="#{mixing.list.action.update}"></a> <a
																	th:href="@{/mixing/{id}/delete(id=${mix.id})}"
																	class="btn btn-danger disabled" role="button"
																	th:text="#{mixing.list.action.delete}"
																	style="width: 40%;"></a>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- End view list-->

									<!-- pagination -->

									<div class="row mt-3">
										<div class="col-8"></div>
										<div class="col-4">
											<ul class="pagination rounded float-right">
												<li class=""
													th:attr="class = ${mixPage.hasPrevious()} ? 'page-item' : 'page-item disabled'">
													<a class="page-link" th:href="@{./list(page=${page - 1})}">
														<i class="icon-arrow-left"></i>
													</a>
												</li>
												<th:block th:each="i: ${#numbers.sequence(0,mixPage.totalPages - 1)}">
													<li class=""
														th:attr="class = ${page == i} ? 'page-item active' : 'page-item' ">
														<a class="page-link" th:href="@{./list(page=${i})}"
															th:text="${i + 1}"></a>
													</li>
												</th:block>
												<li class=""
													th:attr="class = ${mixPage.hasNext()} ? 'page-item' : 'page-item disabled'">
													<a class="page-link" th:href="@{./list(page=${page + 1})}">
														<i class="icon-arrow-right"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>

									<!-- End pagination -->

									<div class="template-demo offset-sm-8">
										<button type="submit" class="btn btn-success" form="idFormFilter" id="idExport"
											data-toggle="modal" data-target="#exampleModal"
											th:text="#{mixing.list.export}"></button>
										<a href="create" class="btn btn-primary" th:text="#{mixing.list.create}"> </a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- content-wrapper ends -->
				<!-- partial:../../partials/_footer.html -->

				<!-- partial -->
			</div>
			<!-- main-panel ends -->
	</div>
	<!-- page-body-wrapper ends -->

	<!-- container-scroller -->
	</th:block>
	<!-- End custom js for this page-->
	<th:block id="footer" th:replace="layouts/footer">


		<!-- Custom JavaScript for this page in here -->
		<th:block id="custom-js">

			<!-- plugins:js -->
			<script src="/vendors/js/vendor.bundle.base.js"></script>
			<script src="../../vendors/js/vendor.bundle.addons.js"></script>
			<!-- endinject -->
			<!-- Plugin js for this page-->
			<!-- End plugin js for this page-->
			<!-- inject:js -->
			<script src="../../js/template.js"></script>
			<!-- endinject -->
			<!-- Custom js for this page-->
			<script src="../../js/file-upload.js"></script>
			<script src="../../js/typeahead.js"></script>
			<script src="../../js/select2.js"></script>
			<script src="../../js/formpickers.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

			<script>
				var date = new Date();

				var day = date.getDate();
				var month = date.getMonth() + 1;
				var year = date.getFullYear();

				if (month < 10)
					month = "0" + month;
				if (day < 10)
					day = "0" + day;

				var today = year + "-" + month + "-" + day;
				var myInput = document.getElementById("theDate");
				if (!myInput.value) {
					document.getElementById('theDate').value = today;
				}



				function approve(id) {
					window.location.href = `./approve?id=${id}`;
				}
				function resetSearch() {
					window.location = "[[@{./list}]]";
				}


				$('#idExport').click(function () {
					$('#idFormFilter').attr('action', "./export");

				});

				$('#idFilterButton').click(function () {
					$('#idFormFilter').attr('action', "./filter");

				});

			</script>


		</th:block>
		<!-- End Custom JavaScript  -->
</body>

</html>