<!--  * Author:  Nguyennd6        Create date: 01/12/2020 13:00PM
 -->


<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" th:replace="
    ~{layouts/main-layout :: main-fragment(
                                          ~{:: title},
                                          ~{:: #css-page},
                                          ~{:: #custom-css-page},
                                          ~{:: #navbar},
                                          ~{:: #main-content},  
                                          ~{:: #footer},
                                          ~{:: #custom-js}
                                         )}">

<head>

	<title th:utext="${add} ? #{mixing.create.title.head} : #{mixing.update.title.head}"></title>

	<!-- partial:layouts/otherStaticResources.html -->
	<th:block id="css-page" th:replace="~{layouts/mainCss}"></th:block>



	<!-- Custom CSS for this page in here -->
	<th:block id="custom-css-page">
		<!-- <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" /> -->

	</th:block>
	<!-- End Custom CSS  -->

</head>

<body>
	<div class="container-scroller">

		<!-- partial:layouts/navbar.html -->
		<th:block id="navbar" th:replace="layouts/navbar">
		</th:block>

		<th:block id="main-content">
			<!-- Copy From start to here-->


			<!-- partial -->
			<div class="container-fluid page-body-wrapper">
				<div class="main-panel">
					<div class="content-wrapper">
						<div class="row">

							<div class="col-12 grid-margin ">
								<div class="card">
									<div class="card-body">
										<h4 class="card-title row justify-content-md-center"
											th:utext="${add} ? #{mixing.create.title} : #{mixing.update.title}">
										</h4>
										<div class="row">
											<div class="col-md-2 offset-md-10">
												<button class="btn btn-info col-md-8 offset-md-3"
													style="margin-bottom: 10%;" data-toggle="modal"
													data-target="#configModal">
													<i class="icon-settings icons"></i>
													THIẾT LẬP
												</button>
											</div>
										</div>

										<form class="form-sample"
											th:action="${add} ? @{/mixing/save} : @{/mixing/update}"
											th:object="${mixing}" method=POST>

											<div class="row">
												<div class="col-md-6">
													<div class="form-group row">
														<input th:field="*{id}" hidden="true" />
														<input th:field="*{status}" hidden="true" /> <label
															class="col-sm-3 col-form-label"
															th:text="#{mixing.create.typeproduct}"> <span
																class="text-danger"
																th:text="#{mixing.danger}"></span></label>
														<div class="col-sm-9">
															<select class="js-example-basic-single w-100"
																id="typeProduct" th:field="*{typeProduct}">
																<option th:each="tp : ${tpList}" th:value="${tp.id}"
																	th:text="${tp.typeProductCode}"></option>
															</select>
														</div>
													</div>

													<div class="form-group row">
														<label class="col-sm-3 col-form-label"
															th:text="#{mixing.create.date}"><span class="text-danger"
																th:text="#{mixing.danger}"></span> </label>
														<div class="col-sm-9">
															<input type="date" th:name="dateMixing"
																th:field="*{dateMixing}" class="form-control"
																id="theDate" required>
															<span class="text-danger"
																th:if="${#fields.hasErrors('dateMixing')}"
																th:errors="*{dateMixing}"></span>


														</div>
													</div>

													<div class="form-group row">
														<label class="col-sm-3 col-form-label"
															th:text="#{mixing.create.machine}"> <span
																class="text-danger">*</span></label>
														<div class="col-sm-9">
															<select class="js-example-basic-single w-100"
																id="idCodeMachine" th:field="*{machine}">
																<option th:each="mc : ${machineList}"
																	th:value="${mc.id}" th:text="${mc.machineCode}">
																</option>
															</select>
														</div>
													</div>

													<div class="form-group row">
														<label class="col-sm-3 col-form-label"
															th:text="#{mixing.create.batch}"> <span
																class="text-danger">*</span></label>
														<div class="col-sm-9">
															<input type="number" class="form-control"
																th:field="*{batch}" value="1" required />
															<label class="text-danger"
																th:if="${#fields.hasErrors('batch')}"
																th:errors="*{batch}"></label>

														</div>
													</div>

													<div class="form-group row">
														<p class="card-description col-sm-3"
															th:text="#{mixing.create.ingredient}"></p>
													</div>
													<div class="form-group row">
														<label class="col-sm-3 col-form-label"
															th:text="#{mixing.create.amountIngredient}"> <span
																class="text-danger">*</span></label>
														<div class="col-sm-9">
															<input type="number" name="amountMaterial"
																th:field="*{amountMaterial}" class="form-control"
																value="100" required />
															<label class="text-danger"
																th:if="${#fields.hasErrors('amountMaterial')}"
																th:errors="*{amountMaterial}"></label>
														</div>


													</div>

													<div class="form-group row">
														<label class="col-sm-3 col-form-label"
															th:text="#{mixing.create.ingredientBatch}"><span
																class="text-danger">*</span></label>
														<div class="col-sm-9">
														
															<select class="js-example-basic-single w-100"
																id="idCodeMaterial" th:field="*{ingredientBatch}" >
																<option th:each="iba : ${ingBaList}"
																	th:value="${iba.id}"
																	th:text="${iba.ingredientBatchCode}"></option>
															</select>


														</div>
													</div>

												</div>

												<div class="col-md-6">


													<div class="form-group row">
														<label class="col-sm-3 col-form-label"
															th:text="#{mixing.create.time}"> <span
																class="text-danger">*</span></label>
														<div class="col-sm-9">
															<input type="number" class="form-control"
																th:field="*{mixingTime}" value="1" required />
															<label class="text-danger"
																th:if="${#fields.hasErrors('mixingTime')}"
																th:errors="mixingTime"></label>

														</div>
													</div>

													<div class="form-group row">
														<label class="col-sm-3 col-form-label"
															th:text="#{mixing.create.employee}"> <span
																class="text-danger">*</span>
														</label>
														<div class="col-sm-9">
															<select class="js-example-basic-single w-100"
																id="idCodeEmployee" th:name="employee">
																<option th:each="em : ${emList}" th:value="${em.id}"
																	th:text="${em.employeeName}"></option>
															</select>


														</div>
													</div>


													<div class="form-group row">
														<label class="col-sm-3 col-form-label"
															th:text="#{mixing.create.productLot}"> <span
																class="text-danger">*</span></label>
														<div class="col-sm-9">

															<select class="js-example-basic-single w-100"
																id="idCodeProductLot" name="productLot">
																<option th:each="pro : ${proLotList}"
																	th:value="${pro.id}" th:text="${pro.lotCode}">
																</option>
															</select>

														</div>
													</div>


													<div class="form-group row">
														<p class="card-description col-sm-3"
															th:text="#{mixing.create.additive}"></p>
													</div>

													<div class="form-group row">
														<label class="col-sm-3 col-form-label"
															th:text="#{mixing.create.amountAdditive}"> <span
																class="text-danger">*</span></label>
														<div class="col-sm-3">
															<div class="form-check">
																<input type="radio" th:field="*{amountAdditive}"
																	id="amountAdditive1"
																	th:checked="${amountAdditive == 7.5}" value="7.5">
																7.5

															</div>
														</div>


														<div class="col-sm-3">
															<div class="form-check">
																<input type="radio" class="form-check-input"
																	th:field="*{amountAdditive}" id="amountAdditive2"
																	value="1.5" th:checked="${amountAdditive == 1.5}">
																1.5

															</div>
														</div>
														<div>
															<label class="text-danger"
																th:if="${#fields.hasErrors('amountAdditive')}"
																th:errors="*{amountAdditive}"></label>

														</div>


													</div>


													<div class="form-group row">
														<label class="col-sm-3 col-form-label"
															th:text="#{mixing.create.additiveCode}"> <span
																class="text-danger">*</span>
														</label>
														<div class="col-sm-9">

															<select class="js-example-basic-single w-100"
																id="idCodeAdditive" name="additive">
																<option th:each="add : ${addList}" th:value="${add.id}"
																	th:text="${add.additiveCode}"></option>
															</select>

														</div>
													</div>
													<div class="form-group row">
														<label class="col-sm-3 col-form-label"
															th:text="#{mixing.create.no}"></label>
														<div class="col-sm-9">

															<input type="number" class="form-control" th:field="*{no}"
																required />
															<label class="text-danger"
																th:if="${#fields.hasErrors('no')}"
																th:errors="no"></label>

														</div>
													</div>


												</div>


											</div>
											<div class="col-md-3 offset-md-9">
												<input type="submit"
													th:value="${add} ? #{mixing.create.button} : #{mixing.update.button}"
													class="btn btn-primary mr-2"> <a href="/mixing/list"
													class="btn btn-light" th:text="#{mixing.cancle.button}"
													style="background-color: #575555; width: 30%;"> <i
														class="fa fa-arrow-circle-o-left"></i>&nbsp;
												</a>
											</div>
										</form>
									</div>
								</div>
							</div>

							<!-- Start configs modal -->
							<div class="modal fade" id="configModal" tabindex="-1" role="dialog"
								aria-labelledby="configModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="configModalLabel">
												Thiết lập giá trị mặc định
											</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<form action="#" class="" novalidate th:action="@{./setting}"
												id="configForm" th:object="${mixing}" method=POST>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group row">
															<input th:field="*{id}" hidden="true" /> <label
																class="col-sm-3 col-form-label"
																th:text="#{mixing.create.typeproduct}"> <span
																	class="text-danger"
																	th:text="#{mixing.danger}"></span></label>
															<div class="col-sm-9">
																<select class="js-example-basic-single w-100"
																	id="idCodeProduct" name="typeProduct">
																	<option th:each="tp : ${tpList}" th:value="${tp.id}"
																		th:text="${tp.typeProductCode}"></option>
																</select>
															</div>
														</div>
	
														<div class="form-group row">
															<label class="col-sm-3 col-form-label"
																th:text="#{mixing.create.date}"><span class="text-danger"
																	th:text="#{mixing.danger}"></span> </label>
															<div class="col-sm-9">
																<input type="date" th:name="dateMixing"
																	th:field="*{dateMixing}" class="form-control"
																	id="theDate" required>
																<span class="text-danger"
																	th:if="${#fields.hasErrors('dateMixing')}"
																	th:errors="*{dateMixing}"></span>
	
	
															</div>
														</div>
	
														<div class="form-group row">
															<label class="col-sm-3 col-form-label"
																th:text="#{mixing.create.machine}"> <span
																	class="text-danger">*</span></label>
															<div class="col-sm-9">
																<select class="js-example-basic-single w-100"
																	id="idCodeMachine" 	th:field="*{machine}"> 
																	<option th:each="mc : ${machineList}"
																		th:value="${mc.id}" th:text="${mc.machineCode}">
																	</option>
																</select>
															</div>
														</div>
	
														<div class="form-group row">
															<label class="col-sm-3 col-form-label"
																th:text="#{mixing.create.batch}"> <span
																	class="text-danger">*</span></label>
															<div class="col-sm-9">
																<input type="number" class="form-control"
																	th:field="*{batch}" value="1" required />
																<label class="text-danger"
																	th:if="${#fields.hasErrors('batch')}"
																	th:errors="*{batch}"></label>
	
															</div>
														</div>
	
														<div class="form-group row">
															<p class="card-description col-sm-3"
																th:text="#{mixing.create.ingredient}"></p>
														</div>
														<div class="form-group row">
															<label class="col-sm-3 col-form-label"
																th:text="#{mixing.create.amountIngredient}"> <span
																	class="text-danger">*</span></label>
															<div class="col-sm-9">
																<input type="number" name="amountMaterial"
																	th:field="*{amountMaterial}" class="form-control"
																	value="100" required />
																<label class="text-danger"
																	th:if="${#fields.hasErrors('amountMaterial')}"
																	th:errors="*{amountMaterial}"></label>
															</div>
	
	
														</div>
	
														<div class="form-group row">
															<label class="col-sm-3 col-form-label"
																th:text="#{mixing.create.ingredientBatch}"><span
																	class="text-danger">*</span></label>
															<div class="col-sm-9">
															
																<select class="js-example-basic-single w-100"
																	id="idCodeMaterial" th:field="*{ingredientBatch}" >
																	<option th:each="iba : ${ingBaList}"
																		th:value="${iba.id}"
																		th:text="${iba.ingredientBatchCode}"></option>
																</select>
	
	
															</div>
														</div>
	
													</div>
	
													<div class="col-md-6">
	
	
														<div class="form-group row">
															<label class="col-sm-3 col-form-label"
																th:text="#{mixing.create.time}"> <span
																	class="text-danger">*</span></label>
															<div class="col-sm-9">
																<input type="number" class="form-control"
																	th:field="*{mixingTime}" value="1" required />
																<label class="text-danger"
																	th:if="${#fields.hasErrors('mixingTime')}"
																	th:errors="mixingTime"></label>
	
															</div>
														</div>
	
														<div class="form-group row">
															<label class="col-sm-3 col-form-label"
																th:text="#{mixing.create.employee}"> <span
																	class="text-danger">*</span>
															</label>
															<div class="col-sm-9">
																<select class="js-example-basic-single w-100"
																	id="idCodeEmployee" name="employee">
																	<option th:each="em : ${emList}" th:value="${em.id}"
																		th:text="${em.employeeName}"></option>
																</select>
	
	
															</div>
														</div>
	
	
														<div class="form-group row">
															<label class="col-sm-3 col-form-label"
																th:text="#{mixing.create.productLot}"> <span
																	class="text-danger">*</span></label>
															<div class="col-sm-9">
	
																<select class="js-example-basic-single w-100"
																	id="idCodeProductLot" name="productLot">
																	<option th:each="pro : ${proLotList}"
																		th:value="${pro.id}" th:text="${pro.lotCode}">
																	</option>
																</select>
	
															</div>
														</div>
	
	
														<div class="form-group row">
															<p class="card-description col-sm-3"
																th:text="#{mixing.create.additive}"></p>
														</div>
	
														<div class="form-group row">
															<label class="col-sm-3 col-form-label"
																th:text="#{mixing.create.amountAdditive}"> <span
																	class="text-danger">*</span></label>
															<div class="col-sm-3">
																<div class="form-check">
																	<input type="radio" th:field="*{amountAdditive}"
																		id="amountAdditive1"
																		th:checked="${amountAdditive == 7.5}" value="7.5">
																	7.5
	
																</div>
															</div>
	
	
															<div class="col-sm-3">
																<div class="form-check">
																	<input type="radio" class="form-check-input"
																		th:field="*{amountAdditive}" id="amountAdditive2"
																		value="1.5" th:checked="${amountAdditive == 1.5}">
																	1.5
	
																</div>
															</div>
															<div>
																<label class="text-danger"
																	th:if="${#fields.hasErrors('amountAdditive')}"
																	th:errors="*{amountAdditive}"></label>
	
															</div>
	
	
														</div>
	
	
														<div class="form-group row">
															<label class="col-sm-3 col-form-label"
																th:text="#{mixing.create.additiveCode}"> <span
																	class="text-danger">*</span>
															</label>
															<div class="col-sm-9">
	
																<select class="js-example-basic-single w-100"
																	id="idCodeAdditive" name="additive">
																	<option th:each="add : ${addList}" th:value="${add.id}"
																		th:text="${add.additiveCode}"></option>
																</select>
	
															</div>
														</div>
														<div class="form-group row">
															<label class="col-sm-3 col-form-label"
																th:text="#{mixing.create.no}"></label>
															<div class="col-sm-9">
	
																<input type="number" class="form-control" th:field="*{no}"
																	required />
																<label class="text-danger"
																	th:if="${#fields.hasErrors('no')}"
																	th:errors="no"></label>
	
															</div>
														</div>
	
	
													</div>
	


												</div>


											</form>




										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary" form="configForm">Save
												changes</button>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<!-- content-wrapper ends -->
					<!-- partial:../../partials/_footer.html -->

					<!-- partial -->
				</div>
				<!-- main-panel ends -->
			</div>
			<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	</th:block>


	<!-- End custom js for this page-->
	<th:block id="footer" th:replace="layouts/footer"> </th:block>


	<!-- Custom JavaScript for this page in here -->
	<th:block id="custom-js">

		<!-- plugins:js -->
		<!-- <script src="/vendors/js/vendor.bundle.base.js"></script> -->
		<!-- <script src="../../vendors/js/vendor.bundle.addons.js"></script> -->
		<!-- endinject -->
		<!-- Plugin js for this page-->
		<!-- End plugin js for this page-->
		<!-- inject:js -->
		<!-- <script src="../../js/template.js"></script> -->
		<!-- endinject -->
		<!-- Custom js for this page-->
		<!-- <script src="../../js/file-upload.js"></script> -->
		<!-- <script src="../../js/typeahead.js"></script> -->
		<!-- <script src="../../js/select2.js"></script> -->
		<!-- <script src="../../js/formpickers.js"></script> -->

		<script>
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			var date = new Date();

			var day = date.getDate();
			var month = date.getMonth() + 1;
			var year = date.getFullYear();

			if (month < 10)
				month = "0" + month;
			if (day < 10)
				day = "0" + day;

			var today = year + "-" + month + "-" + day;
			var myInput = document.getElementById("theDate");
			if (!myInput.value) {
				document.getElementById('theDate').value = today;
			}

			// $('.js-example-basic-single').select2({

			// 	width: '100%', placeholder: "Select an Option", allowClear: true

			// });

			$(document).ready(function () {
				$('.js-example-basic-single').select2({

					width: '100%', allowClear: true
				});

			});
		</script>
		<!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> -->

	</th:block>




	<!-- End Custom JavaScript  -->
</body>

</html>