<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	th:replace="
    ~{layouts/main-layout :: main-fragment(
                                          ~{:: title},
                                          ~{:: #css-page},
                                          ~{:: #custom-css-page},
                                          ~{:: #navbar},
                                          ~{:: #main-content},  
                                          ~{:: #footer},
                                          ~{:: #custom-js}
                                         )}">

<head>

<title>Sản phẩm</title>

<!-- partial:layouts/otherStaticResources.html -->
<th:block id="css-page" th:replace="~{layouts/mainCss}"></th:block>

<!-- Custom CSS for this page in here -->
<th:block id="custom-css-page">



</th:block>
<!-- End Custom CSS  -->

</head>

<body>
	<div class="container-scroller">

		<!-- partial:layouts/navbar.html -->
		<th:block id="navbar" th:replace="layouts/navbar">
		</th:block>

		<th:block id="main-content">

			<!-- Copy From start to here-->

			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true"
				style="display: none">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header text-center">
							<h5 class="modal-title" id="exampleModalLabel">Thiết lập giá trị mặc định</h5>
							<button type="button" class="close unvalidate"
								data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>

						</div>

						<form th:object="${defaultFinishedProductReport}"
							th:action="@{/product/set-default-value}" method="get">
							<div class="modal-body">


								<input type="text" class="form-control" id="id" name="id" hidden>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label for="type-of-product" class="col-sm-3 col-form-label">Product
												Code <span class="text-danger">*</span></label>
											<div class="col-sm-9">
												<input id="productCodeModal" type="number"
													th:field="*{productCode}" class="form-control"
													required="required" placeholder="code" />
											</div>

										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group row">
											<label for="date" class="col-sm-3 col-form-label">Product
												Name <span class="text-danger">*</span></label>
											<div class="col-sm-9">
												<input th:field="*{productName}" class="form-control"
													name="productName" required="required"
													placeholder="productName" id="productNameModal" />
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label for="type-of-product" class="col-sm-3 col-form-label">Type
												Of Product <span class="text-danger">*</span></label>
											<div class="col-sm-9">
												<select th:field="*{typeProduct.id}" class="form-control"
													id="typeProductModal">
													<option class="form-control"
														th:each="typeProduct: ${listTypeProducts}"
														th:text="${typeProduct.typeProductName}"
														th:value="${typeProduct.id}"></option>
												</select>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group row">
											<label for="date" class="col-sm-3 col-form-label">[[#{reporpProduct.title.date}]] <span class="text-danger">*</span></label>
											<div class="col-sm-9">
												<input th:field="*{productEntryDate}" type="date"
													id="dateInputModal" class="form-control myCalendar"
													required="required" />
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Machine No <span class="text-danger">*</span></label>
											<div class="col-sm-9">
												<select th:field="*{machine.id}" class="form-control"
													id="machineNoModal">
													<option class="form-control"
														th:each="machine: ${listMachines}"
														th:text="${machine.machineName}" th:value="${machine.id}">
													</option>
												</select>

											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<label for="total_weight_of_material"
												class="col-sm-3 col-form-label">Total Weight Of
												Material <span class="text-danger">*</span></label>

											<div class="col-sm-9">
												<input th:field="*{totalWeightInput}" class="form-control"
													name="totalWeightInput" required="required" type="number"
													placeholder="totalWeightInput" id="totalWeightInputModal" />
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label for="residue" class="col-sm-3 col-form-label">Residue
												<span class="text-danger">*</span></label>
											<div class="col-sm-9">
												<input th:field="*{residue}" class="form-control"
													name="residue" required="required" type="number"
													placeholder="residue" id="residueInputModal" />
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group row">
											<label for="coconut-milk" class="col-sm-3 col-form-label">Coconut
												Milk <span class="text-danger">*</span></label>
											<div class="col-sm-9">
												<input th:field="*{coconutMilk}" class="form-control"
													name="coconutMilk" required="required" type="number"
													placeholder="coconutMilk" id="coconutMilkInputModal" />
											</div>
										</div>
									</div>

								</div>
								<p class="card-description">
									<b>Product</b>
								</p>

								<fieldset class="row">
									<legend>Product</legend>

									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Finished
												product <span class="text-danger">*</span></label>

											<div class="col-sm-9">
												<input th:field="*{finishedProductDetail}"
													class="form-control" name="finishedProduct"
													required="required" type="number"
													placeholder="finishedProduct" id="finishedProductModal" />
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Unsatisfied
												product <span class="text-danger">*</span></label>
											<div class="col-sm-9">
												<input
													th:field="*{unsatisfiedProduct}"
													class="form-control" name="unsatisfiedProduct"
													required="required" type="number"
													placeholder="unsatisfiedProduct"
													id="unsatisfiedProductModal" />
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Water extract
												<span class="text-danger">*</span></label>
											<div class="col-sm-9">
												<input th:field="*{waterExtract}"
													class="form-control" name="waterExtract"
													required="required" type="number"
													placeholder="waterExtract" id="waterExtractModal" />
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Black point <span class="text-danger">*</span></label>
											<div class="col-sm-9">
												<input th:field="*{coconutSilk}"
													class="form-control" name="coconutSilk" required="required"
													type="number" placeholder="coconutSilk"
													id="coconutSilkModal" />
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Low pH <span class="text-danger">*</span></label>
											<div class="col-sm-9">
												<input th:field="*{lowPh}"
													class="form-control" name="lowPh" required="required"
													type="number" placeholder="lowPh" id="lowPhModal" />
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Clotted <span class="text-danger">*</span></label>
											<div class="col-sm-9">
												<input th:field="*{clotted}"
													class="form-control" name="clotted" required="required"
													type="number" placeholder="clotted" id="clottedModal" />
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Xylon <span class="text-danger">*</span></label>
											<div class="col-sm-9">
												<input th:field="*{xylon}"
													class="form-control" name="xylon" required="required"
													type="number" placeholder="xylon" id="xylonModal" />
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Scrap <span class="text-danger">*</span></label>
											<div class="col-sm-9">
												<input th:field="*{scrap}"
													class="form-control" name="scrap" required="required"
													type="number" placeholder="scrap" id="scrapModal" />
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Crusted <span class="text-danger">*</span></label>
											<div class="col-sm-9">
												<input th:field="*{crusted}"
													class="form-control" name="crusted" required="required"
													type="number" placeholder="crusted" id="crustedModal" />
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Residue <span class="text-danger">*</span></label>
											<div class="col-sm-9">
												<input th:field="*{residueDetail}"
													class="form-control" name="residue" required="required"
													type="number" placeholder="residue" id="residueModal" />
											</div>
										</div>
									</div>



								</fieldset>
								
								<div class="row">
									<input class="btn btn-primary" type="submit" value="Submit">
									<!-- <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button> -->
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
			<!-- Modal create new Ends -->

			<div class="container">
				<div class="content-container clearfix">

					<div class="row col-12 text-right d-flex justify-content-end">
						<button type="button"
							class="btn btn-primary btn-fw btn-md delete-button mr-4"
							data-toggle="modal" th:attr="data-target='#exampleModal'">
							<i class="icon-settings"></i>Thiết lập
						</button>
					</div>

					<form th:object="${produc1t}" th:action="@{/product/save}" class=""
						id="formCreate" method="post" novalidate>
						<div class="modal-body">


							<input type="text" class="form-control" id="id" name="id" hidden>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label for="type-of-product" class="col-sm-3 col-form-label">Product
											Code <span class="text-danger">*</span></label>
										<div class="col-sm-9">
											<input id="productCode" th:field="*{productCode}"
												type="number" class="form-control" required="required"
												placeholder="code" />
											<div class="invalid-feedback" id="productCodeFeedBack">Duplicate Code</div>
										</div>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group row">
										<label for="date" class="col-sm-3 col-form-label">Product
											Name <span class="text-danger">*</span></label>
										<div class="col-sm-9">
											<input th:field="*{productName}" class="form-control"
												name="productName" required="required"
												placeholder="productName" id="productName" />
												<div class="invalid-feedback">Product Name must not be null</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label for="type-of-product" class="col-sm-3 col-form-label">Type
											Of Product <span class="text-danger">*</span></label>
										<div class="col-sm-9">
											<select th:field="*{typeProduct.id}" class="form-control"
												id="typeProduct">
												<option class="form-control"
													th:each="typeProduct: ${listTypeProducts}"
													th:text="${typeProduct.typeProductName}"
													th:value="${typeProduct.id}"></option>
											</select>
										</div>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group row">
										<label for="date" class="col-sm-3 col-form-label">[[#{reporpProduct.title.date}]] <span class="text-danger">*</span></label>
										<div class="col-sm-9">
											<input th:field="*{productEntryDate}" type="date"
												id="dateInput" class="form-control myCalendar"
												required="required" />
											<div class="invalid-feedback" id="dateInputFeedBack">
												Incorrect Date Format
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Machine No <span class="text-danger">*</span></label>
										<div class="col-sm-9">
											<select th:field="*{machine.id}" class="form-control"
												id="machineNo">
												<option class="form-control"
													th:each="machine: ${listMachines}"
													th:text="${machine.machineName}" th:value="${machine.id}">
												</option>
											</select>

										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label for="total_weight_of_material"
											class="col-sm-3 col-form-label">Total Weight <span class="text-danger">*</span></label>

										<div class="col-sm-9">
											<input th:field="*{totalWeightInput}" class="form-control"
												name="totalWeightInput" min="0" type="number"
												placeholder="totalWeightInput" id="totalWeightInput" />
												<div class="invalid-feedback">Total weight input must not be negative</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label for="residue" class="col-sm-3 col-form-label">Residue
											<span class="text-danger">*</span></label>
										<div class="col-sm-9">
											<input th:field="*{residue}" class="form-control"
												name="residue" min="0" type="number"
												placeholder="residue" id="residueInput" />
												<div class="invalid-feedback">Residue must not be negative</div>
										</div>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group row">
										<label for="coconut-milk" class="col-sm-3 col-form-label">Coconut
											Milk <span class="text-danger">*</span></label>
										<div class="col-sm-9">
											<input th:field="*{coconutMilk}" class="form-control" min="0"
												name="coconutMilk" type="number"
												placeholder="coconutMilk" id="coconutMilkInput" />
												<div class="invalid-feedback">Coconut Milk must not be nagative</div>
										</div>
									</div>
								</div>

							</div>
							<!-- <p class="card-description">
                                <b>Product</b>
                            </p> -->

							<fieldset class="row">
								<legend>Product</legend>

								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Finished
											product <span class="text-danger">*</span></label>

										<div class="col-sm-9">
											<input th:field="*{finishedProductDetail}"
												class="form-control" name="finishedProduct"
												min="0" type="number"
												placeholder="finishedProduct" id="finishedProduct" />
											<div class="invalid-feedback">Finished Product must not be negative</div>
												
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Unsatisfied
											product <span class="text-danger">*</span></label>
										<div class="col-sm-9">
											<input th:field="*{unsatisfiedProduct}"
												class="form-control" name="unsatisfiedProduct"
												min="0" type="number"
												placeholder="unsatisfiedProduct" id="unsatisfiedProduct" />
												<div class="invalid-feedback">Unsatisfied Product must not be negative</div>
										</div>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Water extract <span class="text-danger">*</span></label>
										<div class="col-sm-9">
											<input th:field="*{waterExtract}"
												class="form-control" name="waterExtract" min="0"
												type="number" placeholder="waterExtract" id="waterExtract" />
												<div class="invalid-feedback">Water Extract must not be negative</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Black point <span class="text-danger">*</span></label>
										<div class="col-sm-9">
											<input th:field="*{coconutSilk}"
												class="form-control" name="coconutSilk" min="0"
												type="number" placeholder="coconutSilk" id="coconutSilk" />
												<div class="invalid-feedback">Black point must not be negative</div>
										</div>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Low pH <span class="text-danger">*</span></label>
										<div class="col-sm-9">
											<input th:field="*{lowPh}"
												class="form-control" name="lowPh" min="0"
												type="number" placeholder="lowPh" id="lowPh" />
											<div class="invalid-feedback">pH must not be negative</div>
										</div>

									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Clotted <span class="text-danger">*</span></label>
										<div class="col-sm-9">
											<input th:field="*{clotted}"
												class="form-control" name="clotted" min="0"
												type="number" placeholder="clotted" id="clotted" />
												<div class="invalid-feedback">Clotted must not be negative</div>
										</div>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Xylon <span class="text-danger">*</span></label>
										<div class="col-sm-9">
											<input th:field="*{xylon}"
												class="form-control" name="xylon" min="0"
												type="number" placeholder="xylon" id="xylon" />
												<div class="invalid-feedback">Xylon must not be negative</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Scrap <span class="text-danger">*</span></label>
										<div class="col-sm-9">
											<input th:field="*{scrap}"
												class="form-control" name="scrap" min="0"
												type="number" placeholder="scrap" id="scrap" />
												<div class="invalid-feedback">Scrap must not be negative</div>
										</div>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Crusted <span class="text-danger">*</span></label>
										<div class="col-sm-9">
											<input th:field="*{crusted}"
												class="form-control" name="crusted" min="0"
												type="number" placeholder="crusted" id="crusted" />
												<div class="invalid-feedback">Crusted must not be negative</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Residue <span class="text-danger">*</span></label>
										<div class="col-sm-9">
											<input th:field="*{residueDetail}"
												class="form-control" name="residue" min="0"
												type="number" placeholder="residue" id="residue" />
												<div class="invalid-feedback">Residue must not be negative</div>
										</div>
									</div>
								</div>



							</fieldset>

							<div class="row">
								<div class="col-md-12 mt-5">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">The arising
												issue</label>
											<div class="col-sm-9">
												<textarea th:field="*{note}"
													class="form-control" rows="4" name="note"
												 	placeholder="note" id="note">
												 </textarea>
											</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<input class="btn btn-primary" type="submit" value="Submit"
								id="submitButton">
							<!-- <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button> -->
						</div>
					</form>
					<span class="help-block"></span>
				</div>
			</div>

			<!-- partial:layouts/footer.html -->
			<th:block id="footer" th:replace="layouts/footer">
			</th:block>

			<!-- Custom JavaScript for this page in here -->
			<th:block id="custom-js">

				<script th:inline="javascript">
					/*<![CDATA[*/
					var productCode = /*[[${defaultFinishedProductReport.productCode}]]*/;
					var productname = /*[[${defaultFinishedProductReport.productName}]]*/;
					var typeProduct = /*[[${defaultFinishedProductReport.typeProduct.id}]]*/;
					
					var dateInput = /*[[${defaultFinishedProductReport.productEntryDate}]]*/;
					var machineNo = /*[[${defaultFinishedProductReport.machine.id}]]*/;
					var totalWeightInput = /*[[${defaultFinishedProductReport.totalWeightInput}]]*/;
					
					var residueInput = /*[[${defaultFinishedProductReport.residue}]]*/;
					var coconutMilkInput = /*[[${defaultFinishedProductReport.coconutMilk}]]*/;
					var finishedProduct = /*[[${defaultFinishedProductReport.finishedProductDetail}]]*/;
					
					var unsatisfiedProduct = /*[[${defaultFinishedProductReport.unsatisfiedProduct}]]*/;
					var waterExtract = /*[[${defaultFinishedProductReport.waterExtract}]]*/;
					var coconutSilk = /*[[${defaultFinishedProductReport.coconutSilk}]]*/;
					
					var lowPh = /*[[${defaultFinishedProductReport.lowPh}]]*/;
					var clotted = /*[[${defaultFinishedProductReport.clotted}]]*/;
					var xylon = /*[[${defaultFinishedProductReport.xylon}]]*/;
					
					var scrap = /*[[${defaultFinishedProductReport.scrap}]]*/;
					var crusted = /*[[${defaultFinishedProductReport.crusted}]]*/;
					var residue = /*[[${defaultFinishedProductReport.residueDetail}]]*/;
					
					/*]]>*/
					$('#productCode').val(productCode);	
					$('#typeProduct').val(typeProduct);
					$('#productName').val(productname);
					
					$('#dateInput').val(dateInput);	
					$('#machineNo').val(machineNo);
					$('#totalWeightInput').val(totalWeightInput);
					
					$('#residueInput').val(residueInput);	
					$('#coconutMilkInput').val(coconutMilkInput);
					$('#finishedProduct').val(finishedProduct);
					
					$('#unsatisfiedProduct').val(unsatisfiedProduct);	
					$('#waterExtract').val(waterExtract);
					$('#coconutSilk').val(coconutSilk);
					
					$('#lowPh').val(lowPh);	
					$('#clotted').val(clotted);
					$('#xylon').val(xylon);
					
					$('#scrap').val(scrap);	
					$('#crusted').val(crusted);
					$('#residue').val(residue);
					
					
					
					
				</script>

				<script th:src="@{/js/finished-product-report.js}"></script>
			</th:block>
		</th:block>
		<!-- End Custom JavaScript  -->
	</div>
</body>

</html>