<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	th:replace="
    ~{layouts/main-layout :: main-fragment(
                                          ~{:: title},
                                          ~{:: #css-page},
                                          ~{:: #custom-css-page},
                                          ~{:: #navbar},
                                          ~{:: #main-content},  
                                          ~{:: #footer},
                                          ~{:: #custom-js}
                                         )}">

<head>

<title>Đóng gói</title>

<!-- partial:layouts/otherStaticResources.html -->
<th:block id="css-page" th:replace="~{layouts/mainCss}"></th:block>



<!-- Custom CSS for this page in here -->
<th:block id="custom-css-page">


</th:block>
<!-- End Custom CSS  -->

</head>

<body>
	<div class="container-scroller">

		<!-- partial:layouts/navbar.html -->
		<th:block id="navbar" th:replace="layouts/navbar">
		</th:block>

		<th:block id="main-content">
			<!-- Copy From start to here-->



			<!-- Modal starts -->

			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true"
				style="display: none;">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Thêm Đóng Gói</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<form class="cmxform" id="signupForm" action="" method="POST">
							<div class="modal-body">
								<h2 id="metalDetectorFormTitle" class="text-center pb-4">Tạo mới yêu cầu đóng gói</h2>

								<input type="text" class="form-control" id="id" name="id" hidden>

								<div class="row">

									<!-- Type of product -->
									<div class="col-sm">
										<div class="form-group row">
											<label for="typeOfProduct" class="col-sm-3 col-form-label">Loại
												sản phẩm</label>
											<div class="col-sm-9">
												<input class="form-control" id="typeOfProductID"
													name="typeOfProductID" list="listTypeOfProduct" />
												<datalist id="listTypeOfProduct">
													<option th:each="itemTypeOfProduct : ${listTypeProduct}"
														th:value="${itemTypeOfProduct.typeProductCode}"
														th:text="${itemTypeOfProduct.typeProductName}"></option>
												</datalist>
											</div>
										</div>
									</div>


									<!-- Machine -->
									<div class="col-sm">
										<div class="form-group row">
											<label for="typeProductCode" class="col-sm-3 col-form-label">
												Máy SP(<span class="error mt-2 text-danger">*</span>) :
											</label>
											<div class="col-sm-9">
												<input class="form-control" id="machineCode"
													name="machineCode" list="listMachine" value="" />
												<datalist id="listMachine">
													<option th:each="itemMachine : ${listMachine}"
														th:value="${itemMachine.machineCode}"
														th:text="${itemMachine.machineName}"></option>
												</datalist>
											</div>
										</div>
									</div>


									<!-- Person who create -->
									<div class="col-sm">
										<div class="form-group row">
											<label for="lastname" class="col-sm-3 col-form-label">Người
												nhập</label>
											<div class="col-sm">
												<input type="text" class="form-control" id="lastname"
													name="abc">
											</div>
										</div>
									</div>

								</div>


								<div class="row">
									<!-- Date of package -->
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Ngày đóng gói</label>
											<div class="col-sm-9">
												<input type="date" class="form-control">
											</div>
										</div>
									</div>

									<!-- Semi-product no -->

									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Mã lô bán
												thành phẩm</label>
											<div class="col-sm-9">
												<input class="form-control" id="semiProductID"
													name="semiProductID" list="listSemiProduct" />
												<datalist id="listSemiProduct">
													<option th:each="itemSemiProduct : ${listSemiProduct}"
														th:value="${itemSemiProduct.lotCode.id}"
														th:text="${itemSemiProduct.lotCode.lotCode}"></option>
												</datalist>
											</div>
										</div>
									</div>

								</div>


								<div class="row">
									<!-- Time of package -->
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Thời gian</label>
											<div class="col-sm-9">
												<input type="time" class="form-control">
											</div>
										</div>
									</div>

									<!-- Finished Product -->
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Mã lô thành
												phẩm</label>
											<div class="col-sm-9">
												<input class="form-control" id="finishProductID"
													name="finishProductID" list="listFinishedProduct" />
												<datalist id="listFinishedProduct">
													<option
														th:each="itemFinishProduct : ${listFinishedProduct}"
														th:value="${itemFinishProduct.lotCode.id}"
														th:text="${itemFinishProduct.lotCode.lotCode}"></option>
												</datalist>
											</div>
										</div>
									</div>
								</div>


								<div class="row">

									<!-- Quanity -->

									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Số lượng</label>
											<div class="col-sm-9">
												<input type="text" class="form-control">
											</div>
										</div>
									</div>

									<!-- Shift -->
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Ca sản xuất</label>
											<div class="col-sm-9">

												<div class="form-group row">
													<div class="col-sm-4">
														<div class="form-check">
															<label class="form-check-label"> <input
																type="radio" class="form-check-input"
																name="membershipRadios" id="membershipRadios1" value=""
																checked=""> Ca 1 <i class="input-helper"></i></label>
														</div>
													</div>
													<div class="col-sm-5">
														<div class="form-check">
															<label class="form-check-label"> <input
																type="radio" class="form-check-input"
																name="membershipRadios" id="membershipRadios2"
																value="option2"> Ca 3 <i class="input-helper"></i></label>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>

								</div>


								<div class="row">
									<!-- Packing -->
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Quy cách</label>
											<div class="col-sm-9">
												<input class="form-control" id="packingID" name="packingID"
													list="listPacking" />
												<datalist id="listPacking">
													<option th:each="itemPacking : ${listPacking}"
														th:value="${itemPacking.packingCode}"
														th:text="${itemPacking.packingName}"></option>
												</datalist>
											</div>
										</div>
									</div>

									<!-- Foreman -->
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Quản đốc</label>
											<div class="col-sm-9">
												<input class="form-control" id="foremanID" name="foremanID"
													list="listForeman" />
												<datalist id="listForeman">
													<option th:each="itemForeman : ${listEmployee}"
														th:value="${itemForeman.id}"
														th:text="${itemForeman.employeeName}"></option>
												</datalist>
											</div>
										</div>

									</div>

								</div>


								<div class="row">
									<!-- Type of Packing -->
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Loại bao bì</label>
											<div class="col-sm-9">
												<input class="form-control" id="packingTypeID"
													name="packingTypeID" list="listPackingType" />
												<datalist id="listPackingType">
													<option th:each="itemPackingType : ${listPackingType}"
														th:value="${itemPackingType.typePackingCode}"
														th:text="${itemPackingType.typePackingName}"></option>
												</datalist>
											</div>
										</div>
									</div>

									<!-- Person in Charge -->
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Người đóng gói</label>
											<div class="col-sm-9">
												<input class="form-control" id="personInChargeID"
													name="personInChargeID" list="listPersonInCharge" />
												<datalist id="listPersonInCharge">
													<option th:each="itemPersonInCharge : ${listEmployee}"
														th:value="${itemPersonInCharge.id}"
														th:text="${itemPersonInCharge.employeeName}"></option>
												</datalist>
											</div>
										</div>

									</div>

								</div>


								<div class="row">
									<!-- Packing Quanity -->
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Số lượng bao
												bì</label>
											<div class="col-sm-9">
												<input type="text" class="form-control">
											</div>
										</div>
									</div>

									<!-- STT No. -->
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">STT No.</label>
											<div class="col-sm-9">
												<select class="form-control">
													<option>STT 1</option>
													<option>STT 2</option>
													<option>STT 3</option>
													<option>STT 4</option>
												</select>
											</div>
										</div>

									</div>




								</div>






								<!-- <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Thời gian</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Mã lô thành phẩm</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        -->


								<!-- <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Gender</label>
                                        <div class="col-sm-9">
                                            <select class="form-control">
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Date of Birth</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" placeholder="dd/mm/yyyy">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Category</label>
                                        <div class="col-sm-9">
                                            <select class="form-control">
                                                <option>Category1</option>
                                                <option>Category2</option>
                                                <option>Category3</option>
                                                <option>Category4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Membership</label>
                                        <div class="col-sm-4">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="membershipRadios"
                                                        id="membershipRadios1" value="" checked="">
                                                    Free
                                                    <i class="input-helper"></i></label>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="membershipRadios"
                                                        id="membershipRadios2" value="option2">
                                                    Professional
                                                    <i class="input-helper"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="card-description">
                                Address
                            </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Address 1</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">State</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Address 2</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Postcode</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">City</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Country</label>
                                        <div class="col-sm-9">
                                            <select class="form-control">
                                                <option>America</option>
                                                <option>Italy</option>
                                                <option>Russia</option>
                                                <option>Britain</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
							</div>
							<div class="modal-footer">
								<input class="btn btn-primary" type="submit" value="Lưu">
								<button type="button" class="btn btn-light" data-dismiss="modal">Hủy</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- Modal Ends -->

			<div class="container-fluid page-body-wrapper">
				<div class="main-panel">
					<div class="content-wrapper">
						<div class="row grid-margin">
							<div class="col-12">
								<div class="card">
									<div class="card-body">
										<h4 class="card-title text-center">ĐÓNG GÓI SẢN PHẨM</h4>


										<div class="template-demo">

											<button type="button" class="btn btn-primary btn-fw"
												data-toggle="modal" data-target="#exampleModal">Tạo
												mới</button>

											<select id="element" class="btn btn-outline-info ">
												<option class="dropdown-item" value="10" selected>10
													sản phẩm</option>
												<option class="dropdown-item" value="20">20 sản
													phẩm</option>
												<option class="dropdown-item" value="50">50 sản
													phẩm</option>
												<option class="dropdown-item" value="100">100 sản
													phẩm</option>
											</select>

											<form class="form-inline form-inline-search">

												<input type="text" class="form-control mb-2 mr-sm-2"
													placeholder="Tìm kiếm" aria-label="Recipient's username">

												<button type="submit" class="btn btn-primary mb-2">Tìm
													kiếm</button>
											</form>

										</div>

										<!-- view list-->
										<div class="table-responsive">
											<table class="table table-hover table-bordered text-center">
												<thead>
													<tr>
														<th>STT</th>
														<th>Ngày đóng gói</th>
														<th>Thời gian</th>
														<th>Mã lô bán thành phẩm</th>
														<th>Mã lô thành phẩm</th>
														<th>Số lượng</th>
														<th>Quy cách</th>
														<th>Loại bao bì</th>
														<th>Số lượng bao bì</th>
														<th>Ca</th>
														<th>Quản đốc</th>
														<th>Người đóng gói</th>
														<th>STT No.</th>
														<th>Trạng thái</th>
														<th style="width: 40px;">Tùy chọn</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>1</td>
														<td>12/27/2020</td>
														<td>15:25 PM</td>
														<td>LB1</td>
														<td>LTP1</td>
														<td>100</td>
														<td>15kg</td>
														<td>TN/PE/Carton</td>
														<td>300</td>
														<td>3</td>
														<td>Nguyễn A</td>
														<td>Trần Văn B</td>
														<td>1</td>
														<td>Chờ xử lí</td>
														<td>
															<button type="button" class="btn btn-primary"
																data-toggle="modal" data-target="#exampleModal">
																<i class="icon-pencil"></i>Sửa
															</button>
															<button type="button" class="btn btn-warning">
																<i class="icon-trash"></i>Xóa
															</button>
														</td>
													</tr>

													<tr>
														<td>1</td>
														<td>12/27/2020</td>
														<td>15:25 PM</td>
														<td>LB1</td>
														<td>LTP1</td>
														<td>100</td>
														<td>15kg</td>
														<td>TN/PE/Carton</td>
														<td>300</td>
														<td>3</td>
														<td>Nguyễn A</td>
														<td>Trần Văn B</td>
														<td>1</td>
														<td>Chờ xử lí</td>
														<td>
															<button type="button" class="btn btn-primary"
																data-toggle="modal" data-target="#exampleModal">
																<i class="icon-pencil"></i>Sửa
															</button>
															<button type="button" class="btn btn-warning">
																<i class="icon-trash"></i>Xóa
															</button>
														</td>
													</tr>

													<tr>
														<td>1</td>
														<td>12/27/2020</td>
														<td>15:25 PM</td>
														<td>LB1</td>
														<td>LTP1</td>
														<td>100</td>
														<td>15kg</td>
														<td>TN/PE/Carton</td>
														<td>300</td>
														<td>3</td>
														<td>Nguyễn A</td>
														<td>Trần Văn B</td>
														<td>1</td>
														<td>Chờ xử lí</td>
														<td>
															<button type="button" class="btn btn-primary"
																data-toggle="modal" data-target="#exampleModal">
																<i class="icon-pencil"></i>Sửa
															</button>
															<button type="button" class="btn btn-warning">
																<i class="icon-trash"></i>Xóa
															</button>
														</td>
													</tr>

												</tbody>
											</table>
										</div>
										<!-- End view list-->

										<!-- pagination -->
										<nav class="pt-sm-2">
											<ul class="pagination d-flex justify-content-end ">
												<li class="page-item"><a class="page-link" href="#"><i
														class="icon-arrow-left"></i></a></li>
												<li class="page-item active"><a class="page-link"
													href="#">1</a></li>
												<li class="page-item"><a class="page-link" href="#">2</a></li>
												<li class="page-item"><a class="page-link" href="#">3</a></li>
												<li class="page-item"><a class="page-link" href="#">4</a></li>
												<li class="page-item"><a class="page-link" href="#"><i
														class="icon-arrow-right"></i></a></li>
											</ul>
										</nav>
										<!-- End pagination -->



									</div>
								</div>
							</div>
						</div>



					</div>
					<!-- content-wrapper ends -->

					<!-- 

                    <footer class="footer">
                        <div class="w-100 clearfix">
                            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright ©
                                2020.
                                All rights reserved.</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted &amp;
                                made
                                with <i class="icon-heart text-danger"></i></span>
                        </div>
                    </footer> -->
					<!-- partial -->
				</div>
				<!-- main-panel ends -->
			</div>


			<!-- Copy from here to end-->
		</th:block>
	</div>

	<!-- partial:layouts/footer.html -->
	<th:block id="footer" th:replace="layouts/footer">
	</th:block>

	<!-- Custom JavaScript for this page in here -->
	<th:block id="custom-js">
		<script>
			$(document)
					.ready(
							function() {
								loadData();

								//Set default data for May SP
								$("#machineCode").val(
										$('#listMachine option').first().val());

								$("#machineCode").click(function() {
									$("#machineCode").val('');
								})

								//Set default data for Quan doc
								$("#foremanID").val(
										$('#listForeman option').first().val());

								$("#foremanID").click(function() {
									$("#foremanID").val('');
								})

								//Set default data for Nguoi dong goi

								$("#personInChargeID").val(
										$('#listPersonInCharge option').first()
												.val());

								$("#personInChargeID").click(function() {
									$("#personInChargeID").val('');
								})

								//Set default data for loai san pha
								$("#typeOfProductID").val(
										$('#listTypeOfProduct option').first()
												.val());

								$("#typeOfProductID").click(function() {
									$("#typeOfProductID").val('');
								})

								//Set default data for Ma lo ban thanh pham
								$("#semiProductID").val(
										$('#listSemiProduct option').first()
												.val());

								$("#semiProductID").click(function() {
									$("#semiProductID").val('');
								})

								//Set default data for Ma lo thanh pham
								$("#finishProductID").val(
										$('#listFinishedProduct option')
												.first().val());

								$("#finishProductID").click(function() {
									$("#finishProductID").val('');
								})

								//Set default data for Quy cach
								$("#packingID").val(
										$('#listPacking option').first().val());

								$("#packingID").click(function() {
									$("#packingID").val('');
								})

								//Set default data for Loai bao bi
								$("#packingTypeID").val(
										$('#listPackingType option').first()
												.val());

								$("#packingTypeID").click(function() {
									$("#packingTypeID").val('');
								})

							});

			function loadData() {

				urlString = "[[@{'/packing-form/api/get-all'}]]";
				$.ajax({
					method : "GET",
					url : urlString
				}).done(
						function(responseJson) {

							console.log(responseJson);
							/*$("#my-data-table").find('tbody').empty();*/
							$.each(responseJson, function(index, object) {
								console.log("Index " + index + ": " + object.id
										+ " " + object.shift);
							})
						}).fail(function() {
					console.log("There is error calling REST API...");
				}).always(function() {
					/* alert("always exeuted..."); */
				})
			}
		</script>
	</th:block>
	<!-- End Custom JavaScript  -->

</body>

</html>