<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" th:replace="
    ~{layouts/main-layout :: main-fragment(
                                          ~{:: title},
                                          ~{:: #css-page},
                                          ~{:: #custom-css-page},
                                          ~{:: #navbar},
                                          ~{:: #main-content},  
                                          ~{:: #footer},
                                          ~{:: #custom-js}
                                         )}">

<head>

	<title>Trang chủ</title>

	<!-- partial:layouts/otherStaticResources.html -->
	<th:block id="css-page" th:replace="~{layouts/mainCss}"></th:block>

	<!-- Custom CSS for this page in here -->
	<th:block id="custom-css-page">



	</th:block>
	<!-- End Custom CSS  -->

</head>

<body>
	<div class="container-scroller">

		<!-- partial:layouts/navbar.html -->
		<th:block id="navbar" th:replace="layouts/navbar">
		</th:block>

		<th:block id="main-content">
			<!-- Copy From start to here-->


			<!-- ADD BY VUDH11 -->
			<div class="modal fade" id="addPackingModal" tabindex="-1" role="dialog" aria-hidden="true"
				style="display: none;" onload="update()">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<!-- Header -->
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Thêm quy cách
								đóng gói</h5>
							<!-- X: Close button -->
							<button type="button" class="close unvalidate" data-dismiss="modal" aria-label="Close" onclick="resetModal()">
								<span aria-hidden="true">×</span>
							</button>
						</div>

						<!-- Form: Enter link here -->
						<form class="cmxform" id="addForm" th:object="${pack}" th:action="@{/packing/save}"
							method="POST">






							<!-- Packing name field-->
							<div class="modal-body">

								<h4 class="card-title text-center">NHẬP QUY CÁCH ĐÓNG GÓI</h4>

								<!-- Hidden field - packing id -->
								<input name="id" id="packingId" th:value="*{id}" hidden="true">

								<!-- Packing name field-->
								<div class="row">
									<div class="col-md-12">
										<div class="form-group row">
											<div class="col-sm-1"></div>
											<label for="additiveName" class="col-sm-3 col-form-label">Mã
												Quy Cách:</label>
											<div class="col-sm-7">
												<input class="form-control" id="addPackingCode"
													th:field="*{packingCode}" />
												<!-- <input value="something" class="form-control"
													id="packingCode"  name = "packingCode"
													th:field="*{packingCode}"/> -->
											</div>
										</div>
									</div>
								</div>

								<!-- Packing code field-->
								<div class="row">
									<div class="col-md-12">
										<div class="form-group row">
											<div class="col-sm-1"></div>
											<label for="additiveCode" class="col-sm-3 col-form-label">Quy
												Cách Đóng Gói:</label>
											<div class="col-sm-7">
												<input type="text" class="form-control" id="addPackingName"
													th:field="*{packingName}" />
											</div>
										</div>
									</div>
								</div>
							</div>


							<!-- Save, cancel button-->
							<div class="modal-footer">
								<input style="width: 7rem;" class="btn btn-primary" type="submit" value="Lưu"
									id="submit">

								<!-- Another submit button for ajax -->
								<!-- <button style="width: 7rem;" type="button" class="btn btn-primary" id="submit" >Lưu</button> -->
								<button style="width: 7rem;" type="button" class="btn btn-light unvalidate"
									data-dismiss="modal" onclick="resetModal()">Hủy</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- End create new additive button / Edit row -->






			<!-- End form popup when delete -->


			<div class="container-fluid page-body-wrapper">
				<div class="main-panel">
					<div class="content-wrapper">
						<div class="row grid-margin">
							<div class="col-12">
								<div class="card">
									<div class="card-body">
										<h2 class="card-title text-center">QUY CÁCH ĐÓNG GÓI</h2>

										<div class="template-demo">
											<!-- Create new additive button -->
											<button type="button" class="btn btn-primary btn-fw" data-toggle="modal"
												data-target="#addPackingModal" id="create-button" onclick="resetModal()">Thêm cách đóng
												gói</button>

											<!-- Information for website -->
											<select id="pageSize" class="btn btn-outline-info" th:name="pageSize"
												onchange="this.form.submit();" form="inforForm" th:value="${pageSize}">
												<option id="size1" class="dropdown-item" value="10">Hiện
													10 quy cách</option>
												<option id="size2" class="dropdown-item" value="20">Hiện
													20 quy cách</option>
												<option id="size3" class="dropdown-item" value="50">Hiện
													50 quy cách</option>
												<option id="size4" class="dropdown-item" value="100">Hiện
													100 quy cách</option>
											</select>


											<!-- Search input -->

											<form class="form-inline form-inline-search"
												th:action="@{/additive/all/{pageSize}/1(pageSize=${pageSize})}"
												method="GET">
												<input type="text" class="form-control mb-2 mr-sm-2"
													placeholder="Nhập..." aria-label="Recipient's username" id="keyword"
													th:name="keyword">


												<!-- Search button-->
												<button type="submit" class="btn btn-primary mb-2">Tìm
													kiếm</button>
											</form>

										</div>

										<!-- View list additive -->
										<div class="table-responsive">
											<table class="table table-hover table-bordered text-center">
												<!-- Fields view -->
												<thead>
													<tr>
														<th colspan="2" rowspan="2" class="text-break "
															style="width: 3rem;">STT</th>
														<th colspan="4" rowspan="2" class="text-break "
															style="width: 10rem;">Mã đóng gói</th>
														<th colspan="4" rowspan="2" class="text-break "
															style="width: 10rem;">Tên đóng gói</th>
														<th colspan="2" rowspan="2" class="text-break "
															style="width: 5rem;">Tùy Chọn</th>
													</tr>
												</thead>
												<!-- Data view -->

												<tbody>
													<tr th:each="packing,packStat : ${packList}"
														th:id="${packStat.count}">
														<td colspan="2" style="width: 3rem;" class="packingId"
															id="packId" th:value="${packing.id}"
															th:text="${packStat.count}" />
														<td colspan="4" style="width: 10rem;" class="packingCode"
															id="packCode" th:text="${packing.packingCode}" />
														<td colspan="4" style="width: 10rem;" class="packingName"
															id="packName" th:text="${packing.packingName}" />
														<td colspan="2" style="width: 5rem;">
															<!-- Edit button -->
															<button style="width: 7rem;"
																class="btn btn-outline-info btn-md edit-button"
																id="Update"
																th:attr="onclick=|updatePacking('${packing.id}')|"
																data-toggle="modal" data-target="#addPackingModal">
																<i class="icon-pencil"></i>Sửa
															</button>

															<!-- Delete button -->
															<a style="width: 7rem;" type="button"
																class="btn btn-outline-danger btn-md delete-button"
																th:href="@{/packing/delete/(id=${packing.id})}"> <i
																	class="icon-trash"></i>Xóa
															</a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<!-- End view list additive -->

										<!-- Pagination -->
										<nav class="pt-sm-2">
											<ul class="pagination d-flex justify-content-end ">

												<!-- Previous link -->
												<li class="page-item"><span th:if="${pageNumber > 1}">
														<a class="page-link"
															th:href="@{/additive/all/{pageSize}/{pageNumber}?keyword={keyword}(pageSize=${pageSize},pageNumber=${pageNumber} - 1,keyword=${keyword})}">
															<i class="icon-arrow-left"></i>
														</a>
													</span> <span th:unless="${pageNumber > 1}"> <a class="page-link"
															th:href="@{/additive/all/{pageSize}/{pageNumber}?keyword={keyword}(pageSize=${pageSize},pageNumber=${pageNumber},keyword=${keyword})}">
															<i class="icon-arrow-left"></i>
														</a>
													</span></li>

												<!-- Link 1 -->
												<li id="li1" class="page-item"><a class="page-link"
														th:href="@{/additive/all/{pageSize}/{pageNumber}?keyword={keyword}(pageSize=${pageSize},pageNumber=${pageNumber},keyword=${keyword})}"
														id="link1"></a></li>

												<!-- Link 2 -->
												<li id="li2" class="page-item"><a class="page-link"
														th:href="@{/additive/all/{pageSize}/{pageNumber}?keyword={keyword}(pageSize=${pageSize},pageNumber=${pageNumber} + 1,keyword=${keyword})}"
														id="link2"></a></li>

												<!-- Link 3 -->
												<li id="li3" class="page-item"><a class="page-link"
														th:href="@{/additive/all/{pageSize}/{pageNumber}?keyword={keyword}(pageSize=${pageSize},pageNumber=${pageNumber} + 2,keyword=${keyword})}"
														id="link3"></a></li>

												<!-- Link 4 -->
												<li id="li4" class="page-item"><a class="page-link"
														th:href="@{/additive/all/{pageSize}/{pageNumber}?keyword={keyword}(pageSize=${pageSize},pageNumber=${pageNumber} + 3,keyword=${keyword})}"
														id="link4"></a></li>

												<!-- Next link-->

											</ul>
										</nav>
										<!-- End pagination -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>





			<!-- Copy from here to end-->
		</th:block>
	</div>

	<!-- partial:layouts/footer.html -->
	<th:block id="footer" th:replace="layouts/footer">
	</th:block>

	<!-- Custom JavaScript for this page in here -->

	<th:block id="custom-js">

		<script>

			//add by VuDH11

			function updatePacking(id) {

				$.ajax({
					type: "POST",
					contentType: "application/json",
					url: "packingBy/",
					data: id,
					dataType: 'json',
					timeout: 100000,
					success: function (data) {
						console.log("SUCCESS: ", data);
						//input value into input
						$("#packingId").val(data.id);
						$("#addPackingCode").val(data.packingCode);
						$("#addPackingName").val(data.packingName); 
						//change attribute to update
						$("#submit").val("Sửa");
					},
					error: function (e) {
						console.log("ERROR: ", e);
					}
				});
			}

			function resetModal() {
				$("#packingId").val("");
				$("#addPackingCode").val("");
				$("#addPackingName").val("");
				$("#submit").val("Lưu");
			}

		</script>
	</th:block>
	<!-- End Custom JavaScript  -->

</body>

</html>