<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	th:replace="
    ~{layouts/main-layout :: main-fragment(
                                          ~{:: title},
                                          ~{:: #css-page},
                                          ~{:: #custom-css-page},
                                          ~{:: #navbar},
                                          ~{:: #main-content},  
                                          ~{:: #footer},
                                          ~{:: #custom-js}
                                         )}">

<head>

<title th:utext="#{monitoring.add.title}"></title>

<!-- partial:layouts/otherStaticResources.html -->
<th:block id="css-page" th:replace="~{layouts/mainCss}"></th:block>

<!-- Custom CSS for this page in here -->
<th:block id="custom-css-page">

	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
		integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
		crossorigin="anonymous" />

</th:block>
<!-- End Custom CSS  -->

</head>

<body>
	<div class="container-scroller">

		<!-- partial:layouts/navbar.html -->
		<th:block id="navbar" th:replace="layouts/navbar">
		</th:block>

		<th:block id="main-content">
			<!-- Copy From start to here-->
			<!-- Modal starts -->
			<div class="modal fade" id="defaultModal" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true"
				style="display: none;">
				<div class="modal-dialog  modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel"
								th:utext="#{monitoring.add.default}"></h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<form class="cmxform" id="defaultForm"
							th:action="@{/Brix-pH-monitoring/save/default}" method="GET"
							th:object="${emptyForm}">
							<div class="modal-body">
								<h2 id="pHBxTrackingFormTitle" class="text-center pb-4"
									th:utext="#{monitoring.add.default}"></h2>
								<div class="row">
									<!-- ingredient -->
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label"
												th:utext="#{monitoring.ingredientBatch}"></label>
											<div class="col-sm-9">
												<select class="js-example-basic-single w-100"
													id="addIngredient" name="addIngredient">
													<option th:each="ingredient : ${ingredients}"
														th:value="${ingredient.id}"
														th:text="${ingredient.ingredientBatchName}"></option>
												</select>
											</div>
										</div>
									</div>
									<!-- supervisor -->
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label"
												th:utext="#{monitoring.verifier}"></label>
											<div class="col-sm-9">
												<select class="js-example-basic-single w-100"
													th:field="*{verifierId}" id="addVerifier">
													<option th:each="employee : ${listEmployee}"
														th:value="${employee.id}"
														th:text="${employee.employeeName}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<!-- date -->
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label date"
												th:utext="#{monitoring.date}"></label>
											<div id="datepicker-popup"
												class="input-group date datepicker col-sm-9">
												<input type="date" class="form-control"
													th:field="*{dateCreate}" onchange="filter(this)" readonly
													id="defaultDate">

											</div>
										</div>
									</div>
									<!-- person in charge -->
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label"
												th:utext="#{monitoring.personInCharge}"></label>
											<div class="col-sm-9">
												<select class="js-example-basic-single w-100"
													th:field="*{personInChargeId}" id="addPersonInCharge">
													<option th:each="employee : ${listEmployee}"
														th:value="${employee.id}"
														th:text="${employee.employeeName}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label"
												th:utext="#{monitoring.typeProduct}"></label>
											<div class="col-sm-9">
												<input class="form-control" th:field="*{typeProductId}"
													hidden=true id="addTypeProduct" />
												<input class="form-control" id="addTypeProductCode" readonly/>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label"
												th:utext="#{monitoring.machine}"></label>
											<div class="col-sm-9">
												<select class="js-example-basic-single w-100"
													th:field="*{machineId}" id="addMachine">
													<option th:each="machine : ${machines}"
														th:value="${machine.id}" th:text="${machine.machineName}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label"
												th:utext="#{monitoring.productLot}"></label>
											<div class="col-sm-9">
												<select class="js-example-basic-single w-100"
													th:field="*{productLotId}" id="addProductLot"
													onchange="loadTypeProductModel(this)">
													<option th:each="productLot : ${products}"
														th:value="${productLot.id}"
														th:text="${productLot.lotCode}"></option>
												</select>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label"
												th:utext="#{monitoring.add.packing}"></label>
											<div class="col-sm-9">
												<select class="js-example-basic-single w-100"
													th:field="*{packingId}" id="addPacking">
													<option th:each="packing : ${packings}"
														th:value="${packing.id}" th:text="${packing.packingName}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>

								<fieldset style="border: 1.5px solid">
									<legend th:utext="#{monitoring.mix}"></legend>

									<div class="row">
										<div class="col-sm-6">
											<div class="form-group row">
												<label class="col-sm-3 col-form-label"
													th:utext="#{monitoring.pumpingTime}"></label>
												<div id="datepicker-popup"
													class="input-group date datepicker col-sm-3">
													<input type="time" class="form-control time"
														th:field="*{pumpingTime}" id="addPumpingTime">
												</div>
											</div>

											<div class="form-group row">
												<label class="col-sm-3 col-form-label"
													th:utext="#{monitoring.pressure}"></label>
												<div class="col-sm-3">
													<select class="form-control" th:field="*{pressure}"
														id="addPressure">
														<option selected value="2">2</option>
														<option value="3">3</option>
													</select>
												</div>
												<p style="font-size: 20px">(kg/cm2)</p>
											</div>
										</div>

										<div class="col-md-6">
											<div class="grid-container">
												<div class="grid-item"></div>
												<div class="grid-item" th:utext="#{monitoring.preMix}"></div>
												<div class="grid-item" th:utext="#{monitoring.mix}"></div>
												<div class="grid-item" th:utext="#{monitoring.homo}"></div>
												<div class="grid-item">pH</div>
												<div class="grid-item">
													<input type="number" style="width: 50%;"
														th:field="*{pHPreMix}" id="addpHPreMix">

												</div>
												<div class="grid-item">
													<input type="number" style="width: 50%;"
														th:field="*{pHMix}" id="addpHMix">

												</div>
												<div class="grid-item">
													<input type="number" style="width: 50%;"
														th:field="*{pHHomo}" id="addpHHomo">

												</div>
												<div class="grid-item">Bx</div>
												<div class="grid-item">
													<input type="number" step="0.1" style="width: 50%;"
														th:field="*{brixPreMix}" id="addbrixPreMix}">
												</div>
												<div class="grid-item">
													<input type="number" step="0.1" style="width: 50%;"
														th:field="*{brixMix}" id="addbrixMix">
												</div>
												<div class="grid-item">
													<input type="number" step="0.1" style="width: 50%;"
														value="1" th:field="*{brixHomo}" id="addbrixHomo">
												</div>
											</div>
										</div>

									</div>
								</fieldset>
							</div>
							<div class=" modal-footer">
								<input class="btn btn-primary" type="submit" value="Lưu">
							</div>
						</form>
					</div>
				</div>
			</div>

			<!-- Modal Ends -->

			<div class="container-fluid page-body-wrapper">
				<div class="main-panel">
					<div class="content-wrapper">
						<div class="row grid-margin">
							<div class="col-12">
								<div class="card">
									<div class="card-body">
										<h4 class="card-title text-center"
											th:utext="#{monitoring.add.title}"></h4>
										<div class="template-demo">
											<a id="addButton" type="button"
												class="btn btn-primary btn-fw"
												th:href="@{/Brix-pH-monitoring/}"
												th:utext="#{monitoring.add.list}"></a>
											<button type="button" data-target="#defaultModal"
												class="btn btn-primary mb-2 float-right" data-toggle="modal">Mặc
												định</button>
											<!-- Form for add -->
											<div class="modal-content">
												<form class="cmxform" id="signupForm"
													th:action="@{/Brix-pH-monitoring/save}" method="GET"
													th:object="${emptyForm}">
													<div class="modal-body">
														<!-- hidden ID -->
														<input type="text" class="form-control" th:field="*{id}"
															hidden="true">

														<div class="row justify-content-center">
															<div class="form-group row col-auto">
																<strong class="col-auto col-form-label-lg"
																	style="font-size: 25px;"
																	th:utext="#{monitoring.batchNo}"></strong>
																<div class="col-auto" style="size: 25px;">
																	<select class="form-control form-control-lg"
																		id="batchNo" onchange="loadForm(this)">
																		<option th:each="form,formStat : ${trackingForms}"
																			th:value="${formStat.count}"
																			th:text="${formStat.count}"></option>
																		<option selected
																			th:value="${trackingForms.size() + 1}"
																			th:text="${trackingForms.size() + 1}"></option>
																	</select>
																</div>
															</div>
														</div>

														<div class="row">
															<!-- ingredient -->
															<div class="col-md-6">
																<div class="form-group row">
																	<label class="col-sm-3 col-form-label"
																		th:utext="#{monitoring.ingredientBatch}"></label>
																	<div class="col-sm-9">
																		<select class="js-example-basic-single w-100"
																			th:field="*{ingredientId}">
																			<option th:each="ingredient : ${ingredients}"
																				th:value="${ingredient.id}"
																				th:text="${ingredient.ingredientBatchName}"></option>
																		</select>
																		<p th:if="${#fields.hasErrors('ingredientId')}"
																			th:errors="*{ingredientId}" class="text-danger"></p>
																	</div>
																</div>
															</div>
															<!-- supervisor -->
															<div class="col-md-6">
																<div class="form-group row">
																	<label class="col-sm-3 col-form-label"
																		th:utext="#{monitoring.verifier}"></label>
																	<div class="col-sm-9">
																		<select class="js-example-basic-single w-100"
																			th:field="*{verifierId}">
																			<option th:each="employee : ${listEmployee}"
																				th:value="${employee.id}"
																				th:text="${employee.employeeName}"></option>
																		</select>
																		<p th:if="${#fields.hasErrors('verifierId')}"
																			th:errors="*{verifierId}" class="text-danger"></p>
																	</div>
																</div>
															</div>
														</div>
														<div class="row">
															<!-- date -->
															<div class="col-md-6">
																<div class="form-group row">
																	<label class="col-sm-3 col-form-label date"
																		th:utext="#{monitoring.date}"></label>
																	<div id="datepicker-popup"
																		class="input-group date datepicker col-sm-9">
																		<input type="date" class="form-control"
																			th:field="*{dateCreate}" onchange="filter(this)">

																	</div>
																</div>
															</div>
															<!-- person in charge -->
															<div class="col-md-6">
																<div class="form-group row">
																	<label class="col-sm-3 col-form-label"
																		th:utext="#{monitoring.personInCharge}"></label>
																	<div class="col-sm-9">
																		<select class="js-example-basic-single w-100"
																			th:field="*{personInChargeId}">
																			<option th:each="employee : ${listEmployee}"
																				th:value="${employee.id}"
																				th:text="${employee.employeeName}"></option>
																		</select>
																		<p th:if="${#fields.hasErrors('personInChargeId')}"
																			th:errors="*{personInChargeId}" class="text-danger"></p>
																	</div>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group row">
																	<label class="col-sm-3 col-form-label"
																		th:utext="#{monitoring.typeProduct}"></label>
																	<div class="col-sm-9">
																		<input class="form-control"
																			th:field="*{typeProductId}" hidden=true /> <input
																			class="form-control" id="typeProductCode" readonly />
																	</div>
																</div>
															</div>
															<div class="col-md-6">
																<div class="form-group row">
																	<label class="col-sm-3 col-form-label"
																		th:utext="#{monitoring.machine}"></label>
																	<div class="col-sm-9">
																		<select class="js-example-basic-single w-100"
																			th:field="*{machineId}">
																			<option th:each="machine : ${machines}"
																				th:value="${machine.id}"
																				th:text="${machine.machineName}"></option>
																		</select>
																		<p th:if="${#fields.hasErrors('machineId')}"
																			th:errors="*{machineId}" class="text-danger"></p>
																	</div>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group row">
																	<label class="col-sm-3 col-form-label"
																		th:utext="#{monitoring.productLot}"></label>
																	<div class="col-sm-9">
																		<select class="js-example-basic-single w-100"
																			th:field="*{productLotId}"
																			onchange="loadTypeProduct(this)">
																			<option th:each="productLot : ${products}"
																				th:value="${productLot.id}"
																				th:text="${productLot.lotCode}"></option>
																		</select>
																		<p th:if="${#fields.hasErrors('productLotId')}"
																			th:errors="*{productLotId}" class="text-danger"></p>

																	</div>
																</div>
															</div>

															<div class="col-md-6">
																<div class="form-group row">
																	<label class="col-sm-3 col-form-label"
																		th:utext="#{monitoring.add.packing}"></label>
																	<div class="col-sm-9">
																		<select class="js-example-basic-single w-100"
																			th:field="*{packingId}"
																			onchange="loadTypeProduct(this)">
																			<option th:each="packing : ${packings}"
																				th:value="${packing.id}"
																				th:text="${packing.packingName}"></option>
																		</select>
																		<p th:if="${#fields.hasErrors('packingId')}"
																			th:errors="*{packingId}" class="text-danger"></p>
																	</div>
																</div>
															</div>
														</div>

														<fieldset style="border: 1.5px solid">
															<legend th:utext="#{monitoring.mix}"></legend>

															<div class="row">
																<div class="col-sm-6">
																	<div class="form-group row">
																		<label class="col-sm-3 col-form-label"
																			th:utext="#{monitoring.pumpingTime}"></label>
																		<div id="datepicker-popup"
																			class="input-group date datepicker col-sm-3">
																			<input type="time" class="form-control time"
																				th:field="*{pumpingTime}">
																			<p th:if="${#fields.hasErrors('pumpingTime')}"
																				th:errors="*{pumpingTime}" class="text-danger"></p>
																		</div>
																	</div>

																	<div class="form-group row">
																		<label class="col-sm-3 col-form-label"
																			th:utext="#{monitoring.pressure}"></label>
																		<div class="col-sm-3">
																			<select class="form-control" th:field="*{pressure}">
																				<option selected value="2">2</option>
																				<option value="3">3</option>
																			</select>
																		</div>
																		<p style="font-size: 20px">(kg/cm2)</p>
																	</div>
																</div>
																<div class="col-md-6">
																	<div class="grid-container">
																		<div class="grid-item"></div>
																		<div class="grid-item" th:utext="#{monitoring.preMix}"></div>
																		<div class="grid-item" th:utext="#{monitoring.mix}"></div>
																		<div class="grid-item" th:utext="#{monitoring.homo}"></div>
																		<div class="grid-item">pH</div>
																		<div class="grid-item">
																			<input type="number" style="width: 50%;"
																				th:field="*{pHPreMix}">
																			<p th:if="${#fields.hasErrors('pHPreMix')}"
																				th:errors="*{pHPreMix}" class="text-danger"></p>
																		</div>
																		<div class="grid-item">
																			<input type="number" style="width: 50%;"
																				th:field="*{pHMix}">
																			<p th:if="${#fields.hasErrors('pHMix')}"
																				th:errors="*{pHMix}" class="text-danger"></p>
																		</div>
																		<div class="grid-item">
																			<input type="number" style="width: 50%;"
																				th:field="*{pHHomo}">
																			<p th:if="${#fields.hasErrors('pHHomo')}"
																				th:errors="*{pHHomo}" class="text-danger"></p>
																		</div>
																		<div class="grid-item">Bx</div>
																		<div class="grid-item">
																			<input type="number" step="0.1" style="width: 50%;"
																				th:field="*{brixPreMix}">
																			<p th:if="${#fields.hasErrors('brixPreMix')}"
																				th:errors="*{brixPreMix}" class="text-danger"></p>
																		</div>
																		<div class="grid-item">
																			<input type="number" step="0.1" style="width: 50%;"
																				th:field="*{brixMix}">
																			<p th:if="${#fields.hasErrors('brixMix')}"
																				th:errors="*{brixMix}" class="text-danger"></p>
																		</div>
																		<div class="grid-item">
																			<input type="number" step="0.1" style="width: 50%;"
																				value="1" th:field="*{brixHomo}">
																			<p th:if="${#fields.hasErrors('brixHomo')}"
																				th:errors="*{brixHomo}" class="text-danger"></p>
																		</div>
																	</div>
																</div>

															</div>
														</fieldset>
													</div>
													<div class=" modal-footer">
														<input class="btn btn-primary" type="submit" value="Lưu">
													</div>
												</form>
											</div>

											<!-- Filter form end -->
										</div>

										<!-- view list-->
										<div class="table-responsive">
											<table class="table table-hover table-bordered text-center">
												<thead>
													<tr>
														<th rowspan="2" th:utext="#{monitoring.batchNo}"></th>
														<th colspan="4" th:utext="#{monitoring.preMix}"></th>
														<th colspan="2" th:utext="#{monitoring.mix}"></th>
														<th colspan="2" th:utext="#{monitoring.homo}"></th>
														<th rowspan="2" th:utext="#{monitoring.typeProduct}"></th>
														<th rowspan="2" th:utext="#{monitoring.productLot}"></th>
														<th rowspan="2" th:utext="#{monitoring.machine}"></th>
														<th rowspan="2" th:utext="#{monitoring.personInCharge}"></th>
														<th rowspan="2" th:utext="#{monitoring.verifier}"></th>
														<th rowspan="2" th:utext="#{monitoring.date}"></th>
														<th rowspan="2" style="width: 40px;"
															th:utext="#{monitoring.action}"></th>
													</tr>
													<tr>
														<th th:utext="#{monitoring.pumpingTime}"></th>
														<th th:utext="#{monitoring.pressure}"></th>
														<th>pH</th>
														<th>Bx</th>
														<th>pH</th>
														<th>Bx</th>
														<th>pH</th>
														<th>Bx</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="form : ${pagingForms}">
														<td id="batchNo" th:value="${form.id}"
															th:text="${form.batchNo}"></td>
														<td id="pumpingTime" th:value="${form.pumpingTime}"
															th:text="${form.pumpingTime}"></td>
														<td id="pressure" th:value="${form.pressure}"
															th:text="${form.pressure}"></td>
														<td id="pHPreMix" th:value="${form.pHPreMix}"
															th:text="${form.pHPreMix}"></td>
														<td id="brixPreMix" th:value="${form.BrixPreMix}"
															th:text="${form.BrixPreMix}"></td>
														<td id="pHMix" th:value="${form.pHMix}"
															th:text="${form.pHMix}"></td>
														<td id="brixMix" th:value="${form.BrixMix}"
															th:text="${form.BrixMix}"></td>
														<td id="pHHomo" th:value="${form.pHHomo}"
															th:text="${form.pHHomo}"></td>
														<td id="brixHomo" th:value="${form.BrixHomo}"
															th:text="${form.BrixHomo}"></td>
														<td id="packing" th:value="${form.productLot}"
															th:text="${form.productLot.getTypeProduct().getTypeProductName()}"></td>
														<td id="finishedProduct" th:value="${form.productLot}"
															th:text="${form.productLot.getLotCode()}"></td>
														<td id="machine" th:value="${form.machine}"
															th:text="${form.machine.getMachineName()}"></td>
														<td id="personInCharge" th:value="${form.personInCharge}"
															th:text="${form.personInCharge.getEmployeeName()}"></td>
														<td id="verifier" th:value="${form.verifier}"
															th:text="${form.verifier.getEmployeeName()}"></td>
														<td id="date" th:value="${form.date}"
															th:text="${form.date}"></td>
														<td>
															<button type="button"
																class="btn btn-secondary dropdown-toggle"
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">
																<i class="fas fa-sliders-h"></i>
															</button>
															<div class="dropdown-menu dropdown-menu-right">
																<a style="width: 7rem;" type="button"
																	class="btn btn-outline-danger btn-md delete-button dropdown-item"
																	th:href="@{/Brix-pH-monitoring/delete/(id=${form.id})}">Xóa
																</a>
																
																<a style="width: 7rem;" type="button"
																	class="btn btn-outline-danger btn-md delete-button dropdown-item"
																	th:href="@{/Brix-pH-monitoring/default/(id=${form.id})}">Đặt làm mặc định
																</a>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<!-- End view list-->

										<!-- pagination -->
										<div class="row mt-3">
											<div class="col-8"></div>
											<div class="col-4">
												<ul class="pagination rounded float-right"
													th:unless="${pagingForms.isEmpty()}">
													<li class=""
														th:attr="class = ${pagingForms.hasPrevious()} ? 'page-item' : 'page-item disabled'">

														<button class="page-link"
															th:attr="onclick=|changePage('${currentPage - 1}')|">
															<i class="icon-arrow-left"></i>
														</button>
													</li>
													<th:block th:each="i: ${#numbers.sequence(1, totalPages)}">
														<li class=""
															th:attr="class = ${currentPage == i} ? 'page-item active' : 'page-item' ">
															<button class="page-link" th:text="${i}"
																th:attr="onclick=|changePage('${i}')|"></button>
														</li>
													</th:block>
													<li class=""
														th:attr="class = ${pagingForms.hasNext()} ? 'page-item' : 'page-item disabled'">
														<button class="page-link"
															th:attr="onclick=|changePage('${currentPage + 1}')|">
															<i class="icon-arrow-right"></i>
														</button>
													</li>
												</ul>
											</div>
										</div>
										<!-- End pagination -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- content-wrapper ends -->
					<!-- partial -->
				</div>
				<!-- main-panel ends -->
			</div>
			<!-- Copy from here to end-->
		</th:block>
	</div>

	<!-- partial:layouts/footer.html -->
	<th:block id="footer" th:replace="layouts/footer">
	</th:block>

	<!-- Custom JavaScript for this page in here -->
	<th:block id="custom-js">

		<script th:inline="javascript">
		/*<![CDATA[*/
			$(document).ready()
			{
				$('.js-example-basic-single').select2({
			        width: '100%'
			    });
				getDateNow();
				loadTypeProduct($("#productLotId")[0]);
				loadTypeProductModel($("#addProductLot")[0]);
			};

			function getDateNow() {
				console.log([[${filterDate}]]);
				if([[${filterDate}]]== null){
					document.getElementById("dateCreate").valueAsDate = new Date();
				}else{
					document.getElementById("dateCreate").value = [[${filterDate}]];
				}
				$("#defaultDate").val($("#dateCreate").val());
				let today = new Date();
				let current_time = ("0" + today.getHours()).slice(-2) + ":"
						+ ("0" + today.getMinutes()).slice(-2);

				let myTimes = document.getElementsByClassName("time");

				for (let index = 0; index < myTimes.length; index++) {
					const element = myTimes[index];
					element.value = current_time;
				}
				
			};

			function filter(obj){
				var data = obj.value;
				window.location = "/Brix-pH-monitoring/add/filters/?filterDate=" + data;
			};
			
			function loadForm(obj) {
				var batchNo = obj.value;
				$.ajax({
					type : "POST",
					contentType : "application/json",
					url : "/Brix-pH-monitoring/formBy/",
					data : batchNo,
					dataType : 'json',
					timeout : 100000,
					success : function(data) {
						console.log("SUCCESS: ", data);
						//input value into inputs
						let today = new Date();
						$("#ingredientId").val(data.ingredient.id).change();
						$("#typeProductCode").val(data.productLot.typeProduct.typeProductCode);
						$("#productLotId").val(data.productLot.id).change();
						$("#verifierId").val(data.verifier.id).change();
						$("#personInChargeId").val(data.personInCharge.id).change();
						$("#machineId").val(data.machine.id).change();
						$("#packingId").val(data.packing.id).change();
						$("#pressure").val(data.pressure);
						$("#pHPreMix").val(data.pHPreMix);
						$("#pHMix").val(data.pHMix);
						$("#pHHomo").val(data.pHHomo);
						$("#brixPreMix").val(data.brixPreMix);
						$("#brixMix").val(data.brixMix);
						$("#brixHomo").val(data.brixHomo);
						if (data.id == 0) {
						
						$("#pumpingTime").val(
								("0" + today.getHours()).slice(-2)
										+ ":"
										+ ("0" + today.getMinutes())
												.slice(-2));
						} else {
							$("#id").val(data.id);
							$("#pumpingTime").val(data.pumpingTime);
						}						
					},
					error : function(e) {
						console.log("ERROR: ", e);
					}
				});
				$("#ingredient").val();
			};
							
			function loadTypeProduct(obj) {
				var lotId = obj.value;
				$.ajax({
					type : "POST",
					contentType : "application/json",
					url : "/Brix-pH-monitoring/typeProductBy/",
					data : lotId,
					timeout : 100000,
					success : function(data) {
						console.log("SUCCESS: ", data);
						$("#typeProductId").val(data.id);
						$("#typeProductCode").val(data.typeProductCode);
					},
					error : function(e) {
						console.log("ERROR: ", e);
					}
				});
			};
			function loadTypeProductModel(obj) {
				var lotId = obj.value;
				$.ajax({
					type : "POST",
					contentType : "application/json",
					url : "/Brix-pH-monitoring/typeProductBy/",
					data : lotId,
					timeout : 100000,
					success : function(data) {
						console.log("SUCCESS: ", data);
						$("#addTypeProduct").val(data.id);
						$("#addTypeProductCode").val(data.typeProductCode);
					},
					error : function(e) {
						console.log("ERROR: ", e);
					}
				});
			};
			function changePage(i){
				window.location = "/Brix-pH-monitoring/add/filters/?filterDate=" + document.getElementById("dateCreate").value + "&page=" + i;
			};
			/*]]>*/
		</script>
		<!-- End custom js for this page-->
	</th:block>
	<!-- End Custom JavaScript  -->

</body>

</html>