<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	th:replace="
    ~{layouts/main-layout :: main-fragment(
                                          ~{:: title},
                                          ~{:: #css-page},
                                          ~{:: #custom-css-page},
                                          ~{:: #navbar},
                                          ~{:: #main-content},  
                                          ~{:: #footer},
                                          ~{:: #custom-js}
                                         )}">

<head>

<title th:text="#{monitoring.title}"></title>

<!-- partial:layouts/otherStaticResources.html -->
<th:block id="css-page" th:replace="~{layouts/mainCss}"></th:block>

<!-- Custom CSS for this page in here -->
<th:block id="custom-css-page">

	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
		integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
		crossorigin="anonymous" />

</th:block>
<!-- End Custom CSS  -->

</head>

<body>
	<div class="container-scroller">

		<!-- partial:layouts/navbar.html -->
		<th:block id="navbar" th:replace="layouts/navbar">
		</th:block>

		<th:block id="main-content">
			<!-- Copy From start to here-->




			<!-- Modal starts -->

			<!-- Modal Ends -->




			<div class="container-fluid page-body-wrapper">

				<div class="main-panel">
					<div class="content-wrapper">
						<div class="row grid-margin">
							<div class="col-12">
								<div class="card">
									<div class="card-body">
										<h4 class="card-title text-center"
											th:utext="#{monitoring.title}"></h4>
										<div class="template-demo">

											<!-- Form for filter -->
											<div class="modal-content">
												<form class="cmxform" id="filterForm"
													th:action="@{/Brix-pH-monitoring/}" method="GET">
													<div class="modal-body">
														<div class="row">
															<div class="col-md-6">
																<div class="form-group row">
																	<label class="col-sm-3 col-form-label"
																		th:utext="#{monitoring.date}"></label>
																	<div id="datepicker-popup"
																		class="input-group date datepicker col-sm-9">
																		<input type="date" class="form-control date"
																			id="filterDate" name="filterDate">
																	</div>
																</div>
															</div>
															<div class="col-md-6">
																<div class="form-group row">
																	<label class="col-sm-3 col-form-label"
																		th:utext="#{monitoring.status}"></label>
																	<div class="col-sm-9">
																		<select id="status" name="status" class="form-control">
																			<option value=-1>Tất cả</option>
																			<option value=0>Chờ duyệt</option>
																			<option value=1>Đã duyệt</option>
																			<option value=2>Không duyệt</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<a id="addButton" type="button"
														class="btn btn-warning ml-3 btn-fw" onclick="add()"
														th:utext="#{monitoring.addButton}"></a>
													<button type="submit"
														class="btn btn-primary mb-2 float-right"
														th:utext="#{monitoring.search}"></button>
												</form>
												<!-- Filter form end -->
											</div>

											<div th:unless="${filterDate} == null">
												<a type="button" th:href="@{report/}"
													class="btn btn-primary mb-2 float-right"
													th:utext="#{monitoring.export}"></a>
											</div>
										</div>

										<!-- view list-->
										<div class="table-responsive">
											<table class="table table-hover table-bordered text-center">
												<thead>
													<tr>
														<th rowspan="2" th:utext="#{monitoring.batchNo}"></th>
														<th colspan="4" th:utext="#{monitoring.preMix}"></th>
														<th colspan="2" th:utext="#{monitoring.mix}"></th>
														<th colspan="2" th:utext="#{monitoring.homo}"></th>
														<th rowspan="2" th:utext="#{monitoring.typeProduct}"></th>
														<th rowspan="2" th:utext="#{monitoring.productLot}"></th>
														<th rowspan="2" th:utext="#{monitoring.machine}"></th>
														<th rowspan="2" th:utext="#{monitoring.personInCharge}"></th>
														<th rowspan="2" th:utext="#{monitoring.verifier}"></th>
														<th rowspan="2" th:utext="#{monitoring.date}"></th>
														<th rowspan="2" th:utext="#{monitoring.status}">Status</th>
														<th rowspan="2" class="text-center">
															<div class="form-check-inline">
																<input class="form-check-input" type="checkbox"
																	id="master-checkbox"> <label
																	class="form-check-label" for="master-checkbox">All</label>
															</div>
														</th>
														<th rowspan="2" style="width: 40px;">
															<div class="btn-group">
																<button type="button"
																	class="btn btn-primary dropdown-toggle"
																	data-toggle="dropdown" aria-haspopup="true"
																	aria-expanded="false">
																	<i class="fas fa-sliders-h"></i>
																</button>
																<div class="dropdown-menu dropdown-menu-right">
																	<form th:action="@{/Brix-pH-monitoring/approval-selected}" method="GET"
																		name="selectedForm" id="selectedForm">
																		<input hidden=true name="ids" id="ids"/> 
																		<input
																			hidden=true name="selectedStatus"
																			id="selectedStatus"/>
																	</form>
																	<button onclick="approveAll(1)"
																		class="dropdown-item judgement-selected approve-selected-records"
																		th:text="#{sieveDrying.btn.approveSelected}">
																	</button>
																	<button href="#"
																		class="dropdown-item judgement-selected reject-selected-records"
																		th:text="#{sieveDrying.btn.rejectSelected}">
																	</button>
																</div>
															</div>
														</th>
													</tr>
													<tr>
														<th th:utext="#{monitoring.pumpingTime}"></th>
														<th th:utext="#{monitoring.pressure}"></th>
														<th>pH</th>
														<th>Bx</th>
														<th>pH</th>
														<th>Bx</th>
														<th>pH</th>
														<th>Bx</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="form : ${pagingForms}">
														<td id="batchNo" th:value="${form.id}"
															th:text="${form.batchNo}"></td>
														<td id="pumpingTime" th:value="${form.pumpingTime}"
															th:text="${form.pumpingTime}"></td>
														<td id="pressure" th:value="${form.pressure}"
															th:text="${form.pressure}"></td>
														<td id="pHPreMix" th:value="${form.pHPreMix}"
															th:text="${form.pHPreMix}"></td>
														<td id="brixPreMix" th:value="${form.BrixPreMix}"
															th:text="${form.BrixPreMix}"></td>
														<td id="pHMix" th:value="${form.pHMix}"
															th:text="${form.pHMix}"></td>
														<td id="brixMix" th:value="${form.BrixMix}"
															th:text="${form.BrixMix}"></td>
														<td id="pHHomo" th:value="${form.pHHomo}"
															th:text="${form.pHHomo}"></td>
														<td id="brixHomo" th:value="${form.BrixHomo}"
															th:text="${form.BrixHomo}"></td>
														<td id="packing" th:value="${form.productLot}"
															th:text="${form.productLot.getTypeProduct().getTypeProductName()}"></td>
														<td id="finishedProduct" th:value="${form.productLot}"
															th:text="${form.productLot.getLotCode()}"></td>
														<td id="machine" th:value="${form.machine}"
															th:text="${form.machine.getMachineName()}"></td>
														<td id="personInCharge" th:value="${form.personInCharge}"
															th:text="${form.personInCharge.getEmployeeName()}"></td>
														<td id="verifier" th:value="${form.verifier}"
															th:text="${form.verifier.getEmployeeName()}"></td>
														<td id="date" th:value="${form.date}"
															th:text="${form.date}"></td>

														<td class="text-center">
															<div th:switch="${(form.status)}">
																<div th:case=0>
																	<i class="fas fa-eye-slash" style="color: #ff922b;"
																		title="Chờ duyệt"></i>
																</div>
																<div th:case=2>
																	<i class="fas fa-times-circle" style="color: #ff6b6b;"
																		title="Không duyệt"></i>
																</div>
																<div th:case="1">
																	<i class="fas fa-eye" style="color: #3349FF;"
																		title="Đã duyệt"></i>
																</div>
															</div>
														</td>
														<td scope="row" class="text-center">
															<div class="form-check-inline">
																<input
																	class="form-check-input position-static check-elements inline"
																	type="checkbox" th:value="${form.id}"
																	th:id="'checkbox-'+${form.id}">
															</div>
														</td>
														<td>
															<button type="button"
																class="btn btn-secondary dropdown-toggle"
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">
																<i class="fas fa-sliders-h"></i>
															</button>
															<div class="dropdown-menu dropdown-menu-right">
																<div th:if="${form.status == 0}">
																	<button style="width: 7rem;" type="button"
																		class="btn btn-outline-danger btn-md delete-button dropdown-item"
																		th:attr="onclick=|approval('${form.id}',1)|">Duyệt
																	</button>

																	<button style="width: 7rem;" type="button"
																		class="btn btn-outline-danger btn-md delete-button dropdown-item"
																		th:attr="onclick=|approval('${form.id}',2)|">Không
																		duyệt</button>
																	<a style="width: 7rem;" type="button"
																		class="btn btn-outline-danger btn-md delete-button dropdown-item"
																		th:href="@{/Brix-pH-monitoring/delete/(id=${form.id})}">Xóa</a>
																</div>
																<!--  status = da duyet -->
																<div th:unless="${form.status == 0}">
																	<button style="width: 7rem;" type="button"
																		class="btn btn-outline-danger btn-md delete-button dropdown-item"
																		th:attr="onclick=|approval('${form.id}',0)|">Chuyển
																		về chờ duyệt</button>
																</div>
															</div>
														</td>

													</tr>
												</tbody>
											</table>

										</div>
										<!-- End view list-->

										<!-- pagination -->
										<div class="row mt-3">
											<div class="col-8"></div>
											<div class="col-4">
												<ul class="pagination rounded float-right"
													th:unless="${pagingForms == null or pagingForms.isEmpty() or pagingForms.getTotalPages() == 1}">
													<li
														th:attr="class = ${pagingForms.hasPrevious()} ? 'page-item' : 'page-item disabled'">

														<button class="page-link"
															th:attr="onclick=|changePage('${currentPage - 1}')|">
															<i class="icon-arrow-left"></i>
														</button>
													</li>
													<th:block th:each="i: ${#numbers.sequence(1, totalPages)}">
														<li class=""
															th:attr="class = ${currentPage == i} ? 'page-item active' : 'page-item' ">
															<button class="page-link" th:text="${i}"
																th:attr="onclick=|changePage('${i}')|"></button>
														</li>
													</th:block>
													<li class=""
														th:attr="class = ${pagingForms.hasNext()} ? 'page-item' : 'page-item disabled'">
														<button class="page-link"
															th:attr="onclick=|changePage('${currentPage + 1}')|">
															<i class="icon-arrow-right"></i>
														</button>
													</li>
												</ul>
											</div>
										</div>
										<!-- End pagination -->

									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- content-wrapper ends -->
					<!-- partial -->

				</div>

				<!-- main-panel ends -->
			</div>

			<!-- Copy from here to end-->
		</th:block>
	</div>

	<!-- partial:layouts/footer.html -->
	<th:block id="footer" th:replace="layouts/footer">
	</th:block>

	<!-- Custom JavaScript for this page in here -->
	<th:block id="custom-js">


		<script th:inline="javascript">
		/*<![CDATA[*/
			$(document).ready()
			{
				getDateNow();
				$("#status").val([[${status}]]).change();			
			};
			
			function changePage(i){
				window.location = "/Brix-pH-monitoring/?filterDate=" + document.getElementById("filterDate").value +"&status="+document.getElementById("status").value + "&page=" + i;
			}
			
			function add(){
				window.location = "/Brix-pH-monitoring/add/?filterDate=" + document.getElementById("filterDate").value;
			}
			
			function approval(id,st){
				window.location = "/Brix-pH-monitoring/approval/?id=" + id + "&st=" + st + "&status=" +  document.getElementById("status").value;
			}
			
			function getDateNow() {
				if([[${filterDate}]]== null){
				document.getElementById("filterDate").valueAsDate = new Date;
				
				}else{
					document.getElementById("filterDate").value = [[${filterDate}]];
				}
			};

			function loadTypeProduct(obj) {
				var lotId = obj.value;
				$.ajax({
					type : "POST",
					contentType : "application/json",
					url : "/Brix-pH-monitoring/typeProductBy/",
					data : lotId,
					timeout : 100000,
					success : function(data) {
						console.log("SUCCESS: ", data);
						$("#products").val(data);
					},
					error : function(e) {
						console.log("ERROR: ", e);
					}
				});
			};
			
			function approveAll(status){
				let arr = new Array();
				$('input.check-elements:checked').each((index, ele) => {
					arr.push($(ele).val())
				})
				$("#selectedStatus").val(status);
				$('#ids').val(arr);
				console.log($("#selectedStatus").val());
				console.log($("#ids").val());
				
				$("#selectedForm").submit();
			} 
			
			
			function checkOrUncheckAll(){
			}
			$("#master-checkbox").change(function() {
                if ($("#master-checkbox").is(":checked")) {
                    $(".check-elements").prop("checked", true)
                } else {
                    $(".check-elements").prop("checked", false)
                }
            })
			/*]]>*/
		</script>
		<!-- End custom js for this page-->


	</th:block>
	<!-- End Custom JavaScript  -->

</body>

</html>