<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	th:replace="
    ~{layouts/main-layout :: main-fragment(
                                          ~{:: title},
                                          ~{:: #css-page},
                                          ~{:: #custom-css-page},
                                          ~{:: #navbar},
                                          ~{:: #main-content},  
                                          ~{:: #footer},
                                          ~{:: #custom-js}
                                         )}">

<head>

<title>[[#{pressing-monitor.title}]]</title>

<!-- partial:layouts/otherStaticResources.html -->
<th:block id="css-page" th:replace="~{layouts/mainCss}"></th:block>

<!-- Custom CSS for this page in here -->
<th:block id="custom-css-page">
	<link rel="stylesheet" type="text/css"
		th:href="@{/dist/bootstrap-clockpicker.min.css}">
	<link
		href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
		rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/slider_time.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
	<style>
		.content-wrapper {
			max-width: 95%;
		}

		.badge {
			width: 90px;
		}
	</style>
</th:block>
<!-- End Custom CSS  -->

</head>

<body>
	<div class="container-scroller">

		<!-- partial:layouts/navbar.html -->
		<th:block id="navbar" th:replace="layouts/navbar"></th:block>

		<th:block id="main-content">
			<!-- Copy From start to here-->

			<!-- Modal starts -->

			<div class="modal fade" id="configModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true"
				style="display: none;">
				<div class="modal-dialog modal-md" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">
								[[#{pressing-monitor.report.setting.button}]]</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">X</span>
							</button>
						</div>
						<form class="cmxform" id="signupForm" action="" method="POST">
							<div class="modal-body">
								<!-- ROW 1 -->
								<div class="form-group row">
									<!-- ROW 1 - COL 1 -->
									<div class="col-md-4 col-sm-6">
										<div class="row">
											<div class="form-check">
												<label class="form-check-label"> <input name="lotId"
													type="checkbox" class="form-check-input"
													onclick="showhidetable(0)" checked>
													[[#{pressing-monitor.report.setting.ingredient-batch}]]
												</label>
											</div>
										</div>
									</div>
									<!-- ROW 1 - COL 2 -->
									<div class="col-md-4 col-sm-6">
										<div class="row">
											<div class="form-check">
												<label class="form-check-label"> <input
													type="checkbox" class="form-check-input"
													onclick="showhidetable(1)" checked>
													[[#{pressing-monitor.report.setting.input-time}]]
												</label>
											</div>
										</div>
									</div>
									<!-- ROW 1 - COL 3 -->
									<div class="col-md-4 col-sm-6">
										<div class="row">
											<div class="form-check">
												<label class="form-check-label"> <input
													type="checkbox" class="form-check-input"
													onclick="showhidetable(2)" checked>
													[[#{pressing-monitor.report.setting.weight}]]
												</label>
											</div>
										</div>
									</div>

								</div>
								<!-- ROW 2 -->
								<div class="form-group row">
									<!-- ROW 2 - COL 1 -->
									<div class="col-md-4 col-sm-6">
										<div class="row">
											<div class="form-check">
												<label class="form-check-label"> <input
													type="checkbox" class="form-check-input"
													onclick="showhidetable(3)" checked>
													[[#{pressing-monitor.report.setting.net-status}]]
												</label>
											</div>
										</div>
									</div>
									<!-- ROW 2 - COL 2 -->
									<div class="col-md-4 col-sm-6">
										<div class="row">
											<div class="form-check">
												<label class="form-check-label"> <input
													type="checkbox" class="form-check-input"
													onclick="showhidetable(4)" checked>
													[[#{pressing-monitor.report.setting.pressure}]]
												</label>
											</div>
										</div>
									</div>
									<!-- ROW 2 - COL 3 -->
									<div class="col-md-4 col-sm-6">
										<div class="row">
											<div class="form-check">
												<label class="form-check-label"> <input
													type="checkbox" class="form-check-input"
													onclick="showhidetable(5)" checked>
													[[#{pressing-monitor.report.setting.weight-milk}]]
												</label>
											</div>
										</div>
									</div>

								</div>
								<!-- ROW 3 -->
								<div class="form-group row">
									<!-- ROW 3 - COL 1 -->
									<div class="col-md-4 col-sm-6">
										<div class="row">
											<div class="form-check">
												<label class="form-check-label"> <input
													type="checkbox" class="form-check-input" value=""
													onclick="showhidetable(6)" checked>
													[[#{pressing-monitor.report.setting.residue}]]
												</label>
											</div>
										</div>
									</div>
									<!-- ROW 3 - COL 2 -->
									<div class="col-md-4 col-sm-6">
										<div class="row">
											<div class="form-check">
												<label class="form-check-label"> <input
													type="checkbox" class="form-check-input" value=""
													onclick="showhidetable(7)" checked>
													[[#{pressing-monitor.report.setting.note}]]
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<input id="toggle-state" type="checkbox" data-toggle="toggle"
									data-on="Hiện hết" data-off="Ẩn hết" data-width="100"
									onchange="toggle()" checked>
								<button type="button" class="btn btn-primary"
									data-dismiss="modal">
									[[#{pressing-monitor.report.setting.button-done}]]</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- Modal Ends -->

			<!-- Main form start -->
			<div class="container-fluid page-body-wrapper">
				<div class="main-panel">
					<div class="content-wrapper">
						<div class="row">
							<div class="col-12 grid-margin">
								<div class="card">
									<div class="card-header bg-white pt-4">
										<p class="h3 text-center offset-md-1">
											[[#{pressing-monitor.report.title}]]</p>
									</div>
									<div class="card-body">
										<form th:action="@{report}" action="get" id="filterForm">
											<input type="hidden" name="page" id="inputPage"> <input
												type="hidden" name="size" id="inputSize">
											<div class="info mt-4">
												<div class="row justify-content-between">
													<div class="col-md-12">
														<!-- Start of FIELDSET 3-->
														<fieldset class="border p-2">
															<legend class="w-auto h6 text-muted p-2">
																[[#{pressing-monitor.report.form.legend}]] </legend>
															<div class="form-group row">

																<div class="col-md-5 col-sm-12">
																	<div class="row">
																		<label for="createEmployee"
																			class="col-md-4 col-sm-4 col-form-label"
																			th:utext="#{pressing-monitor.report.form.start-date}">
																		</label> <input type="date"
																			class="form-control col-md-8 col-sm-8 myTime"
																			id="startInputDate" name="startDate" required>
																	</div>
																</div>


																<div class="col-md-2 col-sm-12"></div>


																<div class="col-md-5 col-sm-12">
																	<div class="row">
																		<label for="createEmployee"
																			class="col-md-4 col-sm-4 col-form-label"
																			th:utext="#{pressing-monitor.report.form.end-date}">
																		</label> <input type="date"
																			class="form-control col-md-8 col-sm-8 myTime"
																			id="endInputDate" name="endDate" required>
																	</div>
																</div>

															</div>

														</fieldset>
														<!-- End of FIELDSET 3-->
													</div>
												</div>
											</div>
											<div class="row justify-content-end">
												<div class="col-md-2 col-sm-12">
													<button class="btn btn-sm btn-info col-md-12" type="submit">
														[[#{pressing-monitor.report.from.button}]]</button>
												</div>
											</div>
										</form>
									</div>

								</div>
								<div class="card mt-5 result-after-created">
									<div class="card">
										<div class="card-body">
											<div class="row justify-content-end">
												<div class="col-md-2 col-sm-12">
													<select class="form-control" th:name="size"
														id="currentSize">
														<option value="5"
															th:utext="#{pressing-monitor.table.5-item}"></option>
														<option value="10"
															th:utext="#{pressing-monitor.table.10-item}"></option>
														<option value="20"
															th:utext="#{pressing-monitor.table.20-item}"></option>
													</select>
												</div>

												<div class="col-md-2 col-sm-12">
													<button class="btn btn-sm btn-primary col-md-12"
														id="configButton">
														[[#{pressing-monitor.report.setting.button}]]</button>
												</div>

												<div class="col-md-2 col-sm-12">
													<form th:action="@{report/download}" method="POST">
														<input type="hidden" name="exportStartDate"
															id="exportStartDate"> <input type="hidden"
															name="exportEndDate" id="exportEndDate">
														<button class="btn btn-sm btn-primary col-md-12"
															th:unless="${pressingMornitors == null || pressingMornitors.isEmpty()}">
															[[#{pressing-monitor.report.export-excel}]]</button>
													</form>
												</div>
											</div>
											<div class="row"></div>
											<div class="table-responsive ">
												<table
													class="table table-striped text-center table-bordered"
													id="record-table">
													<thead>
														<tr role="row">
															<th scope="col">
																<div class="custom-control custom-checkbox">
																	<input type="checkbox" class="custom-control-input"
																		id="selectAll"> <label
																		class="custom-control-label" for="selectAll">All</label>
																</div>
															</th>
															<th scope="col">Hành động</th>
															<th scope="col"
																th:utext="#{pressing-monitor.table.column.lot-code}"></th>
															<th scope="col"
																th:utext="#{pressing-monitor.table.type-product}"></th>
															<th scope="col"
																th:utext="#{pressing-monitor.table.input-time}"></th>
															<th scope="col"
																th:utext="#{pressing-monitor.table.weight}"></th>
															<th scope="col"
																th:utext="#{pressing-monitor.table.net-status}"></th>
															<th scope="col"
																th:utext="#{pressing-monitor.table.pressure}"></th>
															<th th:utext="#{pressing-monitor.table.weight-milk}"></th>
															<th scope="col"
																th:utext="#{pressing-monitor.table.residue}"></th>
															<th scope="col">
																[[#{pressing-monitor.table.create-person}]]</th>
															<th scope="col">
																[[#{pressing-monitor.table.status}]]</th>
															<th scope="col" th:utext="#{pressing-monitor.table.note}"></th>
														</tr>
													</thead>
													<tbody>

														<tr
															th:if="${pressingMornitors == null || pressingMornitors.isEmpty()}">
															<td colspan="11">
																[[#{pressing-monitor.table.no-data}]]
															</td>
														</tr>

														<th:block
															th:unless="${pressingMornitors == null || pressingMornitors.isEmpty()}">

															<tr th:each="pm : ${pressingMornitors}">
																<td>
																	<div class="input-group-text">
																		<input type="checkbox" class="checkRow"
																			th:value="${pm.id}">
																	</div>
																</td>
																<td>
																	<div class="btn-group">
																		<button type="button" class="btn btn-primary"
																			th:attr="onclick=|approve('${pm.id}')|">
																			Verified</button>
																		<button type="button"
																			class="btn btn-primary dropdown-toggle dropdown-toggle-split"
																			data-toggle="dropdown" aria-haspopup="true"
																			aria-expanded="false"></button>
																		<div class="dropdown-menu">
																			<button type="button" class="dropdown-item"
																				th:attr="onclick=|refuse('${pm.id}')|">
																				Refuse</button>
																		</div>
																	</div>
																</td>
																<td th:text="${pm.ingredientBatch.ingredientBatchCode}"></td>
																<td th:text="${pm.typeProduct.typeProductName}"></td>
																<td
																	th:text="${#temporals.format(pm.getInputTime(), 'yyyy-MM-dd HH:mm:ss')}"></td>
																<td th:text="${pm.weight}"></td>
																<td>
																	<div th:if="${pm.netStatusBeforePress}"
																		class="badge badge-success">
																		[[#{pressing-monitor.table.label.ok}]]</div>
																	<div th:unless="${pm.netStatusBeforePress}"
																		class="badge badge-danger">
																		[[#{pressing-monitor.table.lable.ng}]]</div>
																</td>
																<td>
																	<div th:if="${pm.pressureCondition}"
																		class="badge badge-success">
																		[[#{pressing-monitor.table.label.ok}]]</div>
																	<div th:unless="${pm.pressureCondition}"
																		class="badge badge-danger">
																		[[#{pressing-monitor.table.lable.ng}]]</div>
																</td>
																<td th:text="${pm.weightCoconutMilk}"></td>
																<td th:text="${pm.weightResidue}"></td>
																<td th:text="${pm.createEmployee.username}"></td>
																<td th:switch="${pm.status}">
																	<div th:case="0">
																		<i class="fas fa-eye-slash" style="color: #ff922b;"
																			title="Chờ duyệt"></i>
																	</div>
																	<div th:case="1">
																		<i class="fas fa-eye" style="color: #51cf66;"
																			title="Đã duyệt"></i>
																	</div>
																	<div th:case="2">
																		<i class="far fa-times-circle" style="color: #ff6b6b;"
																			title="Không duyệt"></i>
																	</div>
																</td>
																<td th:text="${pm.note}"></td>
															</tr>

														</th:block>
													</tbody>
												</table>
											</div>
											
											<div class="row mt-3">
												<div class="col-8"></div>
												<div class="col-4">
													<ul class="pagination rounded float-right"
														th:unless="${pressingMornitors.isEmpty()}">
														<li class=""
															th:attr="class = ${pressingMornitors.hasPrevious()} ? 'page-item' : 'page-item disabled'">
															<button class="page-link"
																th:attr="onclick=|submitFilter(${page - 1})|">
																<i class="icon-arrow-left"></i>
															</button>
														</li>
														<th:block
															th:each="i: ${#numbers.sequence(0, totalPages - 1)}">

															<li class=""
																th:attr="class = ${page == i} ? 'page-item active' : 'page-item' ">
																<button class="page-link"
																	th:attr="onclick=|submitFilter(${i})|">[[${i +
																	1}]]</button>
															</li>

														</th:block>

														<li class=""
															th:attr="class = ${pressingMornitors.hasNext()} ? 'page-item' : 'page-item disabled'">
															<button class="page-link"
																th:attr="onclick=|submitFilter(${page + 1})|">
																<i class="icon-arrow-right"></i>
															</button>
														</li>
													</ul>
												</div>
											</div>
											
											
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Copy from here to end-->
		</th:block>
	</div>

	<th:block id="footer" th:replace="layouts/footer"></th:block>
	<th:block id="custom-js">
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script
			src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script th:src="@{/custom-js/pressing-monitor-report.js}"></script>

		<script th:inline="javascript">

		      /*<![CDATA[*/
		         let size = /*[[${size}]]*/;
		         let page = /*[[${page}]]*/;
		         let start = /*[[${start}]]*/;
		         let end = /*[[${end}]]*/;
				
		         
		         $('#inputPage').val(page);
		         $('#inputSize').val(size);
		         $('#currentSize').val(size);
		         
		         $('#startInputDate').val(start);
		         $('#endInputDate').val(end);
		         $('#exportStartDate').val(start);
		         $('#exportEndDate').val(end);
		         
		       /*]]>*/
		       
		</script>

	</th:block>

</body>
</html>