<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:replace="
    ~{layouts/main-layout :: main-fragment(
                                          ~{:: title},
                                          ~{:: #css-page},
                                          ~{:: #custom-css-page},
                                          ~{:: #navbar},
                                          ~{:: #main-content},  
                                          ~{:: #footer},
                                          ~{:: #custom-js}
                                         )}">

<head>

<title>Biểu mẩu ép cốt</title>

<!-- partial:layouts/otherStaticResources.html -->
<th:block id="css-page" th:replace="~{layouts/mainCss}"></th:block>

<!-- Custom CSS for this page in here -->
<th:block id="custom-css-page">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</th:block>
<!-- End Custom CSS  -->

</head>

<body>
	<div class="container-scroller">

		<!-- partial:layouts/navbar.html -->
		<th:block id="navbar" th:replace="layouts/navbar">
		</th:block>

		<th:block id="main-content">
			<!-- Copy From start to here-->





			<!-- Don't copy this area-->
			<!-- This is content of each page-->
			<div class="container-fluid page-body-wrapper">
				<div class="main-panel">
					<div class="content-wrapper">
						<div class="row grid-margin">
							<div class="col-12">
								<div class="card">
									<div class="card-body">
										<div class="row">
										
											<div class="col-md-2 col-sm-12">
												<select class="form-control" id="currentStatus">
													<option value="-1">
														All
													</option>
													<option value="0">
														Pending
													</option>
													<option value="1">
														Approve
													</option>
													<option value="2">
														Refuse
													</option>
												</select>
											</div>
										
											<div class="col-md-2 col-sm-12">
												<select class="form-control" id="currentSize">
													<option value="5"
														th:utext="#{pressing-monitor.table.5-item}"></option>
													<option value="10"
														th:utext="#{pressing-monitor.table.10-item}"></option>
													<option value="20"
														th:utext="#{pressing-monitor.table.20-item}"></option>
												</select>
											</div>

											<div class="col-md-2 col-sm-12">
											
												<div class = "btn-group">
													<button type = "button"
												  			class = "btn btn-primary"
												  			id = "approveall"
												  			>
												  		Verified All
													</button>
													<button type="button"
														class="btn btn-primary dropdown-toggle dropdown-toggle-split"
														data-toggle="dropdown"
														aria-haspopup="true"
														aria-expanded="false">
													<span class="sr-only">Toggle Dropdown</span>
													</button>
													<div class="dropdown-menu">
												    	<button type="button"
													  			class="dropdown-item"
													  			id = "refuseall"
													  			>
													  		Refuse All
													  	</button>
												  	</div>
												</div>
											</div>
										</div>
										<div class="row"></div>
										<div class="table-responsive ">
											<table class="table table-striped table-bordered text-center"
												id="record-table">
												<thead>
													<tr role="row">
														<th scope="col">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	id="selectAll"> <label
																	class="custom-control-label" for="selectAll">
																	All</label>
															</div>
														</th>
														<th scope="col">Hành động</th>
														<th scope="col">[[#{pressing-monitor.table.status}]]
														</th>
														<th scope="col"
															th:utext="#{pressing-monitor.table.column.lot-code}"></th>
														<th scope="col"
															th:utext="#{pressing-monitor.table.type-product}"></th>
														<th scope="col"
															th:utext="#{pressing-monitor.table.input-time}"></th>
														<th scope="col"
															th:utext="#{pressing-monitor.table.weight}"></th>
														<th scope="col"
															th:utext="#{pressing-monitor.table.net-status}"></th>
														<th scope="col"
															th:utext="#{pressing-monitor.table.pressure}"></th>
														<th th:utext="#{pressing-monitor.table.weight-milk}"></th>
														<th scope="col"
															th:utext="#{pressing-monitor.table.residue}"></th>
														<th scope="col">
															[[#{pressing-monitor.table.create-person}]]</th>
														
														<th scope="col" th:utext="#{pressing-monitor.table.note}"></th>
													</tr>
												</thead>
												<tbody>

													<tr
														th:if="${pressingMornitors == null || pressingMornitors.isEmpty()}">
														<td colspan="11">
															[[#{pressing-monitor.table.no-data}]]</td>
													</tr>

													<th:block
														th:unless="${pressingMornitors == null || pressingMornitors.isEmpty()}">

														<tr th:each="pm : ${pressingMornitors}">
															<td>
																<div class="input-group-text">
																	<input type="checkbox" class="checkRow"
																		th:value="${pm.id}">
																</div>
															</td>
															<td>
																<div class="btn-group">
																	<button type="button"
																  			class="btn btn-primary"
																  			th:attr="onclick=|approve('${pm.id}')|"
																  			>
																  		Verified
																	</button>
																	<button type="button"
																		class="btn btn-primary dropdown-toggle dropdown-toggle-split"
																		data-toggle="dropdown"
																		aria-haspopup="true"
																		aria-expanded="false">
																	</button>
																	<div class="dropdown-menu">
																    	<button type="button"
																	  			class="dropdown-item"
																	  			th:attr="onclick=|refuse('${pm.id}')|"
																	  			>
																	  		Refuse
																	  	</button>
																  	</div>
																</div>
															</td>
															<td th:switch="${pm.status}">
																<div th:case="0">
																	<i class="fas fa-eye" style="color: #ff922b;"
																		title="Chờ duyệt"></i>
																</div>
																<div th:case="1">
																	<i class="fas fa-check-circle" style="color: #51cf66;"
																		title="Đã duyệt"></i>
																</div>
																<div th:case="*">
																	<i class="fas fa-times-circle" style="color: #ff6b6b;"
																		title="Không duyệt"></i>
																</div>
															</td>
															<td th:text="${pm.ingredientBatch.ingredientBatchCode}"></td>
															<td th:text="${pm.typeProduct.typeProductName}"></td>
															<td
																th:text="${#temporals.format(pm.getInputTime(), 'yyyy-MM-dd HH:mm:ss')}"></td>
															<td th:text="${pm.weight}"></td>
															<td>
																<div th:if="${pm.netStatusBeforePress}"
																	class="badge badge-success">
																	[[#{pressing-monitor.table.label.ok}]]</div>
																<div th:unless="${pm.netStatusBeforePress}"
																	class="badge badge-danger">
																	[[#{pressing-monitor.table.lable.ng}]]</div>
															</td>
															<td>
																<div th:if="${pm.pressureCondition}"
																	class="badge badge-success">
																	[[#{pressing-monitor.table.label.ok}]]</div>
																<div th:unless="${pm.pressureCondition}"
																	class="badge badge-danger">
																	[[#{pressing-monitor.table.lable.ng}]]</div>
															</td>
															<td th:text="${pm.weightCoconutMilk}"></td>
															<td th:text="${pm.weightResidue}"></td>
															<td th:text="${pm.createEmployee.username}"></td>
															
															<td th:text="${pm.note}"></td>
														</tr>

													</th:block>
												</tbody>
											</table>
										</div>
										<div class="row mt-3">
											<div class="col-8"></div>
											<div class="col-4">
												<ul class="pagination rounded float-right"
													th:unless="${pressingMornitors.isEmpty()}">
													<li class=""
														th:attr="class = ${pressingMornitors.hasPrevious()} ? 'page-item' : 'page-item disabled'">
														<button class="page-link"
															th:attr="onclick=|submitFilter(${page - 1})|">
															<i class="icon-arrow-left"></i>
														</button>
													</li>
													<th:block
														th:each="i: ${#numbers.sequence(0, totalPages - 1)}">

														<li class=""
															th:attr="class = ${page == i} ? 'page-item active' : 'page-item' ">
															<button class="page-link"
																th:attr="onclick=|submitFilter(${i})|">[[${i +
																1}]]</button>
														</li>
													</th:block>
													<li class=""
														th:attr="class = ${pressingMornitors.hasNext()} ? 'page-item' : 'page-item disabled'">
														<button class="page-link"
															th:attr="onclick=|submitFilter(${page + 1})|">
															<i class="icon-arrow-right"></i>
														</button>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<form id="filterForm" th:action="@{/pressing-monitor/approve}"
				method="GET">
				<input type="hidden" name="page" id="page" value="">
				<input type="hidden" name="size" id="size" value="">
				<input type="hidden" name="status" id="status" value="">
			</form>

			<form id="approveForm" th:action="@{/pressing-monitor/approve}"
				method="POST">
				<input type="hidden" name="ids" id="ids" value="">
			</form>
			
			
			<!-- Don't copy this area-->

			<!-- Copy from here to end-->
		</th:block>
	</div>

	<!-- partial:layouts/footer.html -->
	<th:block id="footer" th:replace="layouts/footer">
	</th:block>

	<!-- Custom JavaScript for this page in here -->
	<th:block id="custom-js">
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script th:src="@{/custom-js/pressing-monitor-approve.js}"></script>
		<script th:inline="javascript">
		      /*<![CDATA[*/
		         let size = /*[[${size}]]*/
		         let status = /*[[${status}]]*/
		         let page = /*[[${page}]]*/
				
		         $('#page').val(page);
		         $('#size').val(size);
		         $('#status').val(status);
		         
		         $('#currentSize').val(size);
		         $('#currentStatus').val(status);
		         
		       /*]]>*/
		</script>

	</th:block>
	<!-- End Custom JavaScript  -->

</body>

</html>