<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" th:replace="
    ~{layouts/main-layout :: main-fragment(
                                          ~{:: title},
                                          ~{:: #css-page},
                                          ~{:: #custom-css-page},
                                          ~{:: #navbar},
                                          ~{:: #main-content},  
                                          ~{:: #footer},
                                          ~{:: #custom-js}
                                         )}">

<head>

	<title>Sản phẩm</title>

	<!-- partial:layouts/otherStaticResources.html -->
	<th:block id="css-page" th:replace="~{layouts/mainCss}"></th:block>

	<!-- Custom CSS for this page in here -->
	<th:block id="custom-css-page">


		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
			integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
			crossorigin="anonymous" />
	</th:block>
	<!-- End Custom CSS  -->

</head>

<body>
	<div class="container-scroller">

		<!-- partial:layouts/navbar.html -->
		<th:block id="navbar" th:replace="layouts/navbar">
		</th:block>

		<th:block id="main-content">
			<!-- Copy From start to here-->
			<!-- MODAL SECTION Begin -->

			<!-- record-approve-selected-modal BEGIN: modal for approve selected records confirmation -->
			<div class="modal" tabindex="-1" role="dialog" id="modal-approve-selected">
				<div class="modal-dialog" role="document">

					<form th:action="@{/product/approve-selected}" method="post">
						<div class="modal-content bg-white">
							<div class="modal-body">
								<p class="h4" th:text="#{sieveDrying.text.approveConfirm}"></p>
								<input type="hidden" name="idList" class="dataId">
							</div>
							<div class="modal-footer">
								<div class="row justify-content-center">
									<button type="submit" class="btn btn-danger"
										th:text="#{sieveDrying.btn.yes}"></button>
									<button type="button" class="btn btn-light" data-dismiss="modal"
										th:text="#{sieveDrying.btn.no}"></button>
								</div>

							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- record-approve-selected-modal END: modal for approve record confirmation -->

			<!-- record-reject-modal BEGIN: modal for reject record confirmation -->
			<div class="modal" tabindex="-1" role="dialog" id="modal-reject-selected">
				<div class="modal-dialog" role="document">

					<form th:action="@{/product/reject-selected}" method="post">
						<div class="modal-content bg-white">
							<div class="modal-body">
								<p class="h4" th:text="#{sieveDrying.text.rejectConfirm}"></p>
								<input type="hidden" name="idList" class="dataId">
							</div>
							<div class="modal-footer">
								<div class="row justify-content-center">
									<button type="submit" class="btn btn-danger"
										th:text="#{sieveDrying.btn.yes}"></button>
									<button type="button" class="btn btn-light" data-dismiss="modal"
										th:text="#{sieveDrying.btn.no}"></button>
								</div>

							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- record-reject-modal END: modal for reject record confirmation -->
			<!-- MODAL SECTION Ends -->
			<!-- Main form start -->

			<div class="container-fluid page-body-wrapper">
				<div class="main-panel">
					<div class="content-wrapper">
						<div class="row grid-margin">
							<div class="col-12">
								<div class="card">
									<div class="card-body">
										<h4 class="card-title text-center">DUYỆT SẢN PHẨM</h4>
										<form th:action="@{/product/product-approve}" method="get" id="filterForm">
                                            <input type="hidden" id="pageId" class="updateId" name="page">
                                            <input type="hidden" id="pageSize" class="updateId" name="size">
                                        </form>
										<div class="row">
											<div class="col-md-2 col-sm-12">
												<select class="form-control col-md-12 col-sm-12" id="select-pageSize">
													<option value="5" th:text="#{sieveDrying.text.5pages}"></option>
													<option value="10" th:text="#{sieveDrying.text.10pages}">
													</option>
												</select>
											</div>

											<div class="col-md-2 col-sm-12">
												<div class="btn-group">
													<button type="button" class="btn btn-primary dropdown-toggle"
														data-toggle="dropdown" aria-haspopup="true"
														aria-expanded="false">
														[[#{sieveDrying.text.quickAction}]]
													</button>
													<div class="dropdown-menu dropdown-menu-right">
														<a class="dropdown-item option-selected judgement-selected approve-selected-records btn btn-outline-info btn-fw btn-md"
															data-toggle="modal" data-target="#modal-approve-selected"
															th:text="#{sieveDrying.btn.approveSelected}">
														</a>
														<a class="dropdown-item option-selected judgement reject-record btn btn-outline-info btn-fw btn-md"
															data-toggle="modal" data-target="#modal-reject-selected"
															th:text="#{sieveDrying.btn.rejectSelected}">
														</a>
													</div>
												</div>
											</div>
										</div>
										<!-- view list-->
										<div class="table-responsive">
											<table class="table table-hover table-bordered text-center">
												<thead>
													<tr>
														<th rowspan="2" colspan="1" class="text-break"
															style="width: 10rem">Mã Sản Phẩm</th>

														<th scope="col" class="text-center">
															<div class="form-check text-center">
																<input class="form-check-input" type="checkbox"
																	id="master-checkbox">
																<label class="form-check-label"
																	for="master-checkbox">All</label>
															</div>
														</th>

														<th rowspan="1" class="text-break" style="width: 10rem">
															Tên Sản Phẩm</th>
														<th rowspan="2" class="text-break" style="width: 10rem">
															Ngày Nhập</th>
														<th rowspan="2" colspan="1" class="text-break"
															style="width: 10rem">Tổng NL</th>

														<th rowspan="1" class="text-break" style="width: 10rem">
															Xác</th>
														<th rowspan="2" class="text-break" style="width: 10rem">
															Cốt</th>

														<th rowspan="1" class="text-break" style="width: 10rem">
															Mã Máy</th>
														<th rowspan="2" class="text-break" style="width: 10rem">
															Loại SP</th>
														<th rowspan="2" class="text-break" style="width: 10rem">
															Trạng Thái</th>
														<th rowspan="2" style="width: 9em">Chi tiết</th>

													</tr>
												</thead>

												<tbody>
													<tr th:if="${listProducts == null || listProducts.isEmpty()}">
														<td colspan="10">[[#{reporpProduct.message.noData}]]</td>
													</tr>

													<th:block
														th:unless="${listProducts == null || listProducts.isEmpty()}">
														<tr th:each="product, proStat : ${listProducts}"
															th:id="${proStat.index}" th:value="${product.productId}">
															<td>
																<p th:text="${product.productCode}"></p>
															</td>
															<th scope="col" class="text-center">
																<div class="form-check">
																	<input
																		class="form-check-input position-static id-checkbox"
																		type="checkbox" th:value="${product.productId}">
																</div>
															</th>
															<td>
																<p th:text="${product.productName}"></p>
															</td>
															<td>
																<p th:text="${product.productEntryDate}"></p>
															</td>

															<td>
																<p th:text="${product.totalWeightInput}"></p>
															</td>
															<td>
																<p th:text="${product.residue}"></p>
															</td>
															<td>
																<p th:text="${product.coconutMilk}"></p>
															</td>
															<td>
																<p th:text="${product.machine.machineName}"></p>
															</td>
															<td>
																<p th:text="${product.typeProduct.typeProductName}"></p>
															</td>

															<td>
																<div th:switch="${(product.status)}">
																	<div th:case="Pending">
																		<i class="fas fa-eye" style="color: #ff922b;"
																			title="Chờ duyệt"></i>
																	</div>
																	<div th:case="Rejected">
																		<i class="fas fa-times-circle"
																			style="color: #ff6b6b;"
																			title="Không duyệt"></i>
																	</div>
																	<div th:case="Approved">
																		<i class="fas fa-check-circle"
																			style="color: #51cf66;"
																			title="Đã duyệt"></i>
																	</div>
																</div>
															</td>

															<td><a href="#" data-toggle="modal"
																	th:attr="data-target='#productDetailsModal'+${product.productId}">Chi
																	tiết</a> <!-- Modal -->
																<div class="modal fade"
																	th:attr="id='productDetailsModal'+${product.productId}"
																	tabindex="-1" role="dialog"
																	aria-labelledby="recordDeleteModalLabel"
																	aria-hidden="true">
																	<div class="modal-dialog modal-lg" role="document">
																		<div class="modal-content">

																			<!-- Modal Header -->
																			<div class="modal-header">
																				<h4 class="modal-title">Modal Heading
																				</h4>
																				<button type="button" class="close"
																					data-dismiss="modal">&times;</button>
																			</div>

																			<!-- Modal body -->
																			<div class="modal-body">
																				<table class="table table-striped">
																					<thead>
																						<tr>
																							<th>Finished product</th>
																							<th>Unsatisfied product</th>
																							<th>Water extract</th>

																							<th>Black point</th>
																							<th>Low pH</th>
																							<th>Clotted</th>

																							<th>Xylon</th>
																							<th>Scrap</th>
																							<th>Crusted</th>

																							<th>Residue</th>
																							<th>Total</th>
																						</tr>
																					</thead>
																					<tbody>
																						<tr>
																							<td>
																								<p
																									th:text="${product.finishedProductReport.finishedProduct}">
																								</p>
																							</td>

																							<td>
																								<p
																									th:text="${product.finishedProductReport.unsatisfiedProduct}">
																								</p>
																							</td>

																							<td>
																								<p
																									th:text="${product.finishedProductReport.waterExtract}">
																								</p>
																							</td>

																							<td>
																								<p
																									th:text="${product.finishedProductReport.coconutSilk}">
																								</p>
																							</td>

																							<td>
																								<p
																									th:text="${product.finishedProductReport.lowPh}">
																								</p>
																							</td>

																							<td>
																								<p
																									th:text="${product.finishedProductReport.clotted}">
																								</p>
																							</td>

																							<td>
																								<p
																									th:text="${product.finishedProductReport.xylon}">
																								</p>
																							</td>

																							<td>
																								<p
																									th:text="${product.finishedProductReport.scrap}">
																								</p>
																							</td>

																							<td>
																								<p
																									th:text="${product.finishedProductReport.crusted}">
																								</p>
																							</td>

																							<td>
																								<p
																									th:text="${product.finishedProductReport.residue}">
																								</p>
																							</td>

																							<td>
																								<p
																									th:text="${product.finishedProductReport.total}">
																								</p>
																							</td>

																						</tr>

																					</tbody>
																				</table>
																			</div>

																			<!-- Modal footer -->
																			<div class="modal-footer">
																				<button type="button"
																					class="btn btn-danger"
																					data-dismiss="modal">Close</button>
																			</div>

																		</div>
																	</div>
																</div> <!-- Modal end -->
															</td>


														</tr>
												</tbody>
											</table>
										</div>
										<!-- End view list-->

										<!-- Start paging -->
										<div class="row mt-3">
											<div class="col-8"></div>
											<div class="col-4">

												<ul class="pagination rounded float-right"
													th:unless="${listProducts == null || listProducts.isEmpty()}">
													<th:block th:if="${listProducts.hasPrevious()}">
														
															<button class="page-link" th:attr="onclick=|submitFilter(${currentPage - 1})|">
																<i class="icon-arrow-left"></i>
														   </button>
													</th:block>
													<th:block th:unless="${listProducts.hasPrevious()}">
														<li class="page-item disabled"><a class="page-link disabled"
																href="#"> <i class="icon-arrow-left"></i>
															</a></li>
													</th:block>
													<th:block th:each="i: ${#numbers.sequence(0, totalPages - 1)}">
														<button class="page-link"
															th:attr="onclick=|submitFilter(${i})|" th:text="${i + 1}">
														</button>
													</th:block>
													<th:block th:if="${listProducts.hasNext()}">
														<button class="page-link" th:attr="onclick=|submitFilter(${currentPage + 1})|">
															<i class="icon-arrow-right"></i>
													   </button>
													</th:block>
													<th:block th:unless="${listProducts.hasNext()}">
														<li class="page-item disabled"><a class="page-link disabled"
																href="#"> <i class="icon-arrow-right"></i>
															</a></li>
													</th:block>
												</ul>
											</div>
										</div>
										<!-- End paging -->
									</div>
								</div>
							</div>
						</div>
					</div>

					<div style="display: none;">
						<span id="pageSizeHidden" th:text="${pageSize}"></span> <span id="pageNumberHidden"
							th:text="${pageNumber}"></span> <span id="pageTotalHidden" th:text="${pageTotal}"></span>
						<span id="keywordHidden" th:text="${keyword}"></span>
					</div>

					<div style="display: none;">
						<form id="inforForm" method="POST" th:action="@{/product/all}"></form>
					</div>
				</div>
			</div>
	</div>
	<!-- partial:layouts/footer.html -->
	<th:block id="footer" th:replace="layouts/footer">
	</th:block>

	<!-- Custom JavaScript for this page in here -->
	<th:block id="custom-js">
		<script th:inline="javascript">

			/*<![CDATA[*/

			let state = /*[[${state}]]*/
				let keyword = /*[[${keyword}]]*/
				let page = /*[[${pageSize}]]*/

				$('#keyword').val(keyword);

			/*]]>*/

			$(document).ready(() => {


				if (state != null) {
					switch (state) {
						case 'APPROVE_SUCCESS': {
							showToastDialog("APPROVE SUCCESS", "Approve status success", "success");
							break;
						}

						case 'APPROVE_FAILED': {
							showToastDialog("APPROVE FAILED", "Approve status failed", "error");
							break;
						}

						case 'REJECT_SUCCESS': {
							showToastDialog("REJECT SUCCESS", "Reject status success", "success");
							break;
						}

						case 'REJECT_FAILED': {
							showToastDialog("REJECT FAILED", "Reject status failed", "error");
							break;
						}
					}
				}
			})

			$("#master-checkbox").change(function () {
				console.log("Master checkbox clicked...")
				if ($("#master-checkbox").is(":checked")) {
					$(".id-checkbox").prop("checked", true)
				} else {
					$(".id-checkbox").prop("checked", false)
				}
			})

			$(".option-selected").click(function () {

				let idList = [];
				$.each($("input[type='checkbox']:checked"), function () {
					let id = $(this).val();
					if (!isNaN(id)) {
						idList.push(id);
						console.log(id)
					}
				});
				$(".dataId").attr("value", idList);
				console.log(idList)
			})

			function submitFilter(page_Id) {
                let pageId = page_Id
                $("#pageId").val(pageId)
				$("#pageSize").val($("#select-pageSize").val())
				$('#filterForm').submit();
			}

            $('#select-pageSize').change(function () {
                $("#pageId").val(0)
                $("#pageSize").val($(this).val())
                $('#filterForm').submit();
			});
			
			$(document).ready(function () {
                $("#select-pageSize").val(page)
            })

		</script>
		<script>
			showToastDialog = function (heading, text, icon) {
				'use strict';
				$.toast({
					heading: heading,
					text: text,
					showHideTransition: 'slide',
					icon: icon,
					loaderBg: '#57c7d4',
					position: 'top-right'
				})
			};
		</script>

	</th:block>
	<!-- End Custom JavaScript  -->

</body>

</html>