<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	th:replace="
                ~{layouts/main-layout :: main-fragment(
                                                      ~{:: title},
                                                      ~{:: #css-page},
                                                      ~{:: #custom-css-page},
                                                      ~{:: #navbar},
                                                      ~{:: #main-content},  
                                                      ~{:: #footer},
                                                      ~{:: #custom-js}
                                                     )}">

<head>

<title>Setting</title>
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css}" />

<!-- partial:layouts/otherStaticResources.html -->
<th:block id="css-page" th:replace="~{layouts/mainCss}"></th:block>

<!-- Custom CSS for this page in here -->

<th:block id="custom-css-page">

	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" />

	<style>
.content-wrapper {
	max-width: 95%;
}
</style>

</th:block>
<!-- End Custom CSS  -->

</head>

<body>

	<div class="container-scroller">

		<!-- partial:layouts/navbar.html -->
		<th:block id="navbar" th:replace="layouts/navbar"></th:block>

		<th:block id="main-content">
			<!-- Copy From start to here-->


			<div class="row">
				<div class="col-md-12 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Administrator tools</h4>
							<div class="row ml-md-0 mr-md-0 vertical-tab tab-minimal">
								<ul class="nav nav-tabs col-md-2 justify-content-between"
									role="tablist">

									<li class="nav-item py-2"><a class="nav-link active show"
										id="tab-2-1" data-toggle="tab" href="#dashboard-2-1"
										role="tab" aria-controls="dashboard-2-1" aria-selected="true">
											<i class="icon-screen-desktop"></i> Database
									</a></li>

								</ul>
								<div class="tab-content col-md-10">

									<div class="tab-pane fade active show" id="dashboard-2-1"
										role="tabpanel" aria-labelledby="tab-2-1">

										<div class="row">
											<div class="col-12">
												<div class="card">
													<div class="card-body">

														<h4 class="card-title">Back up</h4>

														<a target="_blank" th:href="@{/database/back-up/}"
															class="btn btn-info btn-block"> 
															Start backup
														</a>
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-12">
												<div class="card">
													<div class="card-body">

														<h4 class="card-title">Restore database</h4>
														<form method="post" th:action="@{/database/restore/}"
															enctype="multipart/form-data">
															<div class="form-row">
																<input type="file" name="file" class="dropify"
																	data-allowed-file-extensions="sql" data-height="300" />
															</div>
															<div class="row">
																<button class="btn btn-success btn-block">Submit</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- Copy from here to end-->
		</th:block>
	</div>

	<!-- partial:layouts/footer.html -->
	<th:block id="footer" th:replace="layouts/footer"></th:block>

	<!-- Custom JavaScript for this page in here -->
	<th:block id="custom-js">

		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script
			th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.js}"></script>

		<!-- custom java script -->
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
		<script
			src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>

		<script th:inline="javascript">
			
		/*<![CDATA[*/
	
			let state = /*[[${message}]]*/
							
		/*]]>*/
		
			$('.dropify').dropify();
			
			$(document).ready(() => {
				
				if(state != null){
					switch(state){
						case 'RESTORE_SUCCESS': {
							showToastDialog("Restore success", "Restore database success", "success");
							break;
						}
						
						case 'RESTORE_FAILED':{
							showToastDialog("Restore failed", "Restore database failed", "error");
							break;
						}
						
					}
				}
			})
			
			showToastDialog = function(heading, text, icon) {
			    'use strict';
			    $.toast({
			      heading: heading,
			      text: text,
			      showHideTransition: 'slide',
			      icon: icon,
			      loaderBg: '#57c7d4',
			      position: 'top-right'
			    })
			  };
			
		</script>

	</th:block>
	<!-- End Custom JavaScript  -->

</body>

</html>