<!DOCTYPE html>
<html lang="en">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>CloudUi Premium Bootstrap Admin Dashboard Template</title>
<!-- plugins:css -->
<link type="text/css" rel="stylesheet"
	th:href="@{/vendors/iconfonts/simple-line-icon/css/simple-line-icons.css}"
>

<link type="text/css" rel="stylesheet"
	th:href="@{/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css}"
	>
<link type="text/css" rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}"
	>
<link type="text/css" rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}"
	>
<!-- endinject -->

<!-- plugin css for this page -->
<!-- End plugin css for this page -->
<!-- inject:css -->
<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
<!-- endinject -->
<link type="text/css" rel="shortcut icon" th:href="@{/images/favicon.png}"
	 />
</head>

<body>
	<div class="container-scroller">
		<!-- partial:partials/_horizontal-navbar.html -->


		<!-- partial -->



		<!-- Modal create new starts -->

		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true"
			style="display: none;">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Type Of
							Product</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<form class="cmxform" id="signupForm" action="" method="POST">
						<div class="modal-body">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label for="firstname" class="col-sm-3 col-form-label">Tên
											Loại Sản Phẩm</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="firstname"
												name="firstname">
										</div>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Mã Loại Sản
											Phẩm</label>
										<div class="col-sm-9">
											<select class="form-control">
												<option>BND</option>
												<option>BSD</option>
												<option>TDD</option>
												<option>BSĐ</option>
												<option>BHD</option>
												<option>Other</option>
											</select>
										</div>
									</div>
								</div>


								<div class="col-md-12">
									<div class="form-group row">
										<label for="firstname" class="col-sm-3 col-form-label">Ghi
											Chú</label>
										<div class="col-sm-12">

											<textarea class="form-control" id="firstname"
												name="firstname" rows="5"></textarea>
										</div>
									</div>
								</div>

								<div class="col-md-12">
									<div class="modal-footer">
										<input class="btn btn-primary" type="submit" value="Submit">
										<button type="button" class="btn btn-light"
											data-dismiss="modal">Cancel</button>
									</div>

								</div>
							</div>


						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Modal create new Ends -->


		<!-- Modal update starts -->

		<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true"
			style="display: none;">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Update Type Of
							Product</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<form class="cmxform" id="signupForm" action="" method="POST">
						<div class="modal-body">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label for="firstname" class="col-sm-3 col-form-label">
											Tên Loại Sản Phẩm</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="firstname"
												name="firstname" value="khiem">
										</div>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Mã Loại Sản
											Phẩm</label>
										<div class="col-sm-9">
											<select class="form-control">
												<option>BND</option>
												<option>BSD</option>
												<option>TDD</option>
												<option>BSĐ</option>
												<option>BHD</option>
												<option>Other</option>
											</select>
										</div>
									</div>
								</div>



								<div class="col-md-12">
									<div class="form-group row">
										<label for="firstname" class="col-sm-3 col-form-label">Ghi
											Chú</label>
										<div class="col-sm-12">

											<textarea class="form-control" id="firstname"
												name="firstname" rows="5"></textarea>
										</div>
									</div>
								</div>

								<div class="col-md-12">
									<div class="modal-footer">
										<input class="btn btn-primary" type="submit" value="Submit">
										<button type="button" class="btn btn-light"
											data-dismiss="modal">Cancel</button>
									</div>

								</div>
							</div>


						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Modal update Ends -->



		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row grid-margin">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title text-center ">Loại Sản Phẩm</h4>

									<div class="template-demo">
										<button class="btn btn-primary btn-fw" data-toggle="modal"
											data-target="#exampleModal">Tạo Loại Sản Phẩm</button>
										<select id="Ultra" class="btn btn-outline-info btn-fw" name="order-listing_length" aria-controls="order-listing" onchange="run()">
											<option class="dropdown-item" value="10" th:selected="${pageSize == 10}" selected >10
												Sản Phẩm</option>
											<option class="dropdown-item" value="20" th:selected="${pageSize == 20}">20 Sản Phẩm</option>
											<option class="dropdown-item" value="50" th:selected="${pageSize == 50}">50 Sản Phẩm</option>
											<option class="dropdown-item" value="100" th:selected="${pageSize == 100}">100 Sản
												Phẩm</option>

										</select>
										<!--search-->
										<form class="form-inline form-inline-search">

											<input type="text" class="form-control mb-2 mr-sm-2"
												placeholder="Search..." aria-label="Recipient's username">

											<button type="submit" class="btn btn-primary mb-2">Tìm
												Kiếm</button>

										</form>
										<!--end search-->

									</div>
									<!-- view list-->
									<div class="table-responsive">
										<table class="table table-hover table-bordered text-center">
											<thead>
												<tr>
													<th rowspan="2" colspan="1" class="text-break "
														style="width: 10rem;">Số Thứ Tự</th>

													<th rowspan="1" class="text-break " style="width: 10rem;">Mã
														Loại Sản Phẩm</th>
													<th rowspan="2" class="text-break " style="width: 10rem;">Tên
														Loại Sản Phẩm</th>
													<th rowspan="2" class="text-break " style="width: 5rem;">Ghi
														Chú</th>

													<th rowspan="2" style="width: 9em;">Thao Tác</th>
												</tr>
											<tbody>
												<tr>
													<td>2</td>
													<td>BHD</td>
													<td>Thịt</td>
													<td>KhiemTC</td>



													<td>
														<button type="button" class="btn btn-outline-info btn-fw"
															data-toggle="modal" data-target="#exampleModal1">
															<i class="icon-pencil"></i>Chỉnh Sửa
														</button>
														<button type="button"
															class="btn btn-outline-danger btn-fw"
															onclick="showSwal('warning-delete')">
															<i class="icon-trash"></i>Xóa
														</button>
													</td>
												</tr>

											</tbody>
										</table>



									</div>
									<!-- End view list-->


									<!-- pagination -->
									<input hidden="" th:value="${currentPage}" id="pageNum">
									<nav class="pt-sm-2">
										<ul class="pagination d-flex justify-content-end ">
										
										 <!-- 0 -->
		                    
		                    	<li class="page-item">
		                      		<a class="page-link"  th:href= "@{/?page=0}">
					                      <i class=" icon-control-start" ></i>
		                      		</a>
		                      </li>
		                      
								 <!-- prevous -->
		                      
		                      <li class="page-item" >
		                      		<a class="page-link" th:if="${currentPage >= 1}" th:href="@{/(page=${currentPage - 1})}"  >
					                      <i class="icon-arrow-left" ></i>
		                      		</a>
		                      </li>
		                      
							<!-- 1 -->
		                      
		                       <li class="page-item" >
		                      		<a class="page-link" th:if="${ totalPages > currentPage }" th:href="@{/(page=${currentPage})}"  >
		                      		 	<i th:text="${currentPage + 1}" ></i>
		                      		</a>
		                      </li>
							 <!-- 2 -->
		                      
		                      <li class="page-item" >
		                      		<a class="page-link" th:if="${ totalPages > currentPage + 1 }" th:href="@{/(page=${currentPage + 1})}"  >
		                      		 	<i th:text="${currentPage + 2 }" ></i>
		                      		</a>
		                      </li>
		                      
		                      
		          <!-- 3-->
		                      
		                       <li class="page-item" >
		                      		<a class="page-link" th:if="${ totalPages > currentPage + 1}" th:href="@{/?(page=${currentPage + 2})}"  >
		                      		 	<i th:text="${currentPage + 3}" ></i>
		                      		</a>
		                      </li>
		                      
		           <!-- 4 -->
		                      
		                       <li class="page-item" >
		                      		<a class="page-link" th:if="${ totalPages > currentPage + 1}" th:href="@{/?(page=${currentPage + 3})}"  >
		                      		 	<i th:text="${currentPage + 4}" ></i>
		                      		</a>
		                      </li>
		                      
		                      
		                      
		           <!-- next -->
		                      
		                       <li class="page-item" >
		                      		<a class="page-link" th:if="${ totalPages > currentPage + 2}" th:href="@{/?(page=${currentPage + 1})}"  >
		                      		 	<i class="icon-arrow-right"  ></i>
		                      		</a>
		                      </li>
		                      
		                      
		             <!-- end -->       
		                     
		                       <li class="page-item" >
		                      		<a class="page-link" th:href="@{/?(page=${totalPages - 1})}"  >
		                      		 	<i class=" icon-control-end"  ></i>
		                      		</a>
		                      </li>
	                      
										</ul>
									</nav>

									<!-- End pagination -->



								</div>
							</div>
						</div>
					</div>



				</div>
				<!-- content-wrapper ends -->


				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>


		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	
	<!-- plugins:js -->
	<script type="text/javascript" th:src="@{/vendors/js/vendor.bundle.base.js}"
		></script>
	<script type="text/javascript" th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
	<!-- endinject -->
	<!-- Plugin js for this page-->
	<!-- End plugin js for this page-->
	<!-- inject:js -->
	<script type="text/javascript" th:src="@{/js/template.js}" ></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<script type="text/javascript" th:src="@{/js/form-validation.js}" ></script>
	<script type="text/javascript" th:src="@{/js/bt-maxLength.js}" ></script>
	<script type="text/javascript" th:src="@{/js/alerts.js}" ></script>
	<script th:src="@{/js/avgrund.js}"></script>
	<script src="resources/js/lengthMenu.js"></script>
	<!-- End custom js for this page-->
</body>

</html>