/* LamPQT */
.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #0390ee; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background:rgb(238, 8, 8); /* Purple background */
    border: 1px solid rgb(0, 0, 0);
    z-index: 999;
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #f70303; /* Purple background */
    border: 1px solid rgb(5, 5, 5);
    cursor: pointer; /* Cursor on hover */
    z-index: 999;
  }
  
/*  */
.ruler {
  position: relative;
  /* width: 70%; */
  margin: -6px auto;
  height: 14px;
 }
 .ruler .hh,
 .ruler .mm {
  position: absolute;
  border-left: 1px solid #555;
  height: 14px;
  width: 9.09%;
 }
 .ruler .hh:after {
  position: absolute;
  bottom: -15px;
  font: 11px/1 sans-serif;
 }
 .ruler .mm {
  height: 5px;
 }
 .ruler .mm:nth-of-type(5) {
  height: 10px;
 }
 .ruler .hh:nth-of-type(1) {
  left: 0%;
  margin-left: 1px;
 }
 .ruler .hh:nth-of-type(1):after {
  content: "1";
 }
 .ruler .hh:nth-of-type(2) {
  left: 9.09%;
 }
 .ruler .hh:nth-of-type(2):after {
  content: "2";
 }
 .ruler .hh:nth-of-type(3) {
  left: 18.18%;
 }
 .ruler .hh:nth-of-type(3):after {
  content: "3";
 }
 .ruler .hh:nth-of-type(4) {
  left: 27.27%;
 }
 .ruler .hh:nth-of-type(4):after {
  content: "4";
 }
 .ruler .hh:nth-of-type(5) {
  left: 36.36%;
 }
 .ruler .hh:nth-of-type(5):after {
  content: "5";
 }
 .ruler .hh:nth-of-type(6) {
  left: 45.45%;
 }
 .ruler .hh:nth-of-type(6):after {
  content: "6";
 }
 .ruler .hh:nth-of-type(7) {
  left: 54.54%;
 }
 .ruler .hh:nth-of-type(7):after {
  content: "7";
 }
 .ruler .hh:nth-of-type(8) {
  left: 63.63%;
 }
 .ruler .hh:nth-of-type(8):after {
  content: "8";
 }
 .ruler .hh:nth-of-type(9) {
  left: 72.72%;
 }
 .ruler .hh:nth-of-type(9):after {
  content: "9";
 }
 .ruler .hh:nth-of-type(10) {
  left: 81.81%;
 }
 .ruler .hh:nth-of-type(10):after {
  content: "10";
 }
 .ruler .hh:nth-of-type(11) {
  left: 90.9%;
 }
 .ruler .hh:nth-of-type(11):after {
  content: "11";
 }
 .ruler .hh:nth-of-type(12) {
  left: 100%;
  margin-left: -2px;
 }
  .ruler .hh:nth-of-type(12):after {
  content: "12";
 }

 /*  .ruler .hh:nth-of-type(13):after {
  content: "12";
 } */
 
 .ruler .mm:nth-of-type(1) {
  left: 10%;
 }
 .ruler .mm:nth-of-type(2) {
  left: 20%;
 }
 .ruler .mm:nth-of-type(3) {
  left: 30%;
 }
 .ruler .mm:nth-of-type(4) {
  left: 40%;
 }
 .ruler .mm:nth-of-type(5) {
  left: 50%;
 }
 .ruler .mm:nth-of-type(6) {
  left: 60%;
 }
 .ruler .mm:nth-of-type(7) {
  left: 70%;
 }
 .ruler .mm:nth-of-type(8) {
  left: 80%;
 }
 .ruler .mm:nth-of-type(9) {
  left: 90%;
 }
 .ruler .mm:nth-of-type(10) {
  left: 100%;
 }
 .ruler .mm:nth-of-type(11) {
  left: 100%;
 }
 .ruler .mm:nth-of-type(12) {
  left: 100%;
 }
 #mentionme{  
   text-align:center;
   margin-top:10%;
 }
.hide{
	display:none
}


/*  */



  @media only screen and (max-width: 1000px) {
    .modal-dialog{
     min-width: 700px !important;
    }
    
  }
  @media only screen and (max-width: 700px) {
    .modal-dialog{
     min-width: 100% !important;
    }
    
  }